<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-home"></i> Emlak Detay Düzenle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					<input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
				</div>
				<div class="editor-label">
					Bağlı Emlak
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="PropID" [ngModel]="model?.PropID" formControlName="PropID"><option *ngFor="let item of model?.PropertyList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- PropID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Durum
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="StatusID" [ngModel]="model?.StatusID" formControlName="StatusID"><option *ngFor="let item of model?.PropertyStatusList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- StatusID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Sahibi
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Owner" [ngModel]="model?.Owner" formControlName="Owner" type="text" value="{{ model?.Owner }}" />
					<br />
					<!-- Owner -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Şehir
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="CityID" [ngModel]="model?.CityID" formControlName="CityID"><option *ngFor="let item of model?.CityList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- CityID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					İlçe
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="County" [ngModel]="model?.County" formControlName="County" type="text" value="{{ model?.County }}" />
					<br />
					<!-- County -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Semt
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="District" [ngModel]="model?.District" formControlName="District" type="text" value="{{ model?.District }}" />
					<br />
					<!-- District -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Isınma Tipi
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="WarmTypeID" [ngModel]="model?.WarmTypeID" formControlName="WarmTypeID"><option *ngFor="let item of model?.WarmTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- WarmTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Yakıt Tipi
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="FuelTypeID" [ngModel]="model?.FuelTypeID" formControlName="FuelTypeID"><option *ngFor="let item of model?.FuelTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- FuelTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bina Yaşı
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Age" [ngModel]="model?.Age" formControlName="Age" type="number" value="{{ model?.Age }}" />
					<br />
					<!-- Age -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Oda Sayısı
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Rooms" [ngModel]="model?.Rooms" formControlName="Rooms" type="number" value="{{ model?.Rooms }}" />
					<br />
					<!-- Rooms -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Salon Sayısı
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="LivingRooms" [ngModel]="model?.LivingRooms" formControlName="LivingRooms" type="number" value="{{ model?.LivingRooms }}" />
					<br />
					<!-- LivingRooms -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Kat Sayısı
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Floors" [ngModel]="model?.Floors" formControlName="Floors" type="number" value="{{ model?.Floors }}" />
					<br />
					<!-- Floors -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Kat Numarası
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="FloorNumber" [ngModel]="model?.FloorNumber" formControlName="FloorNumber" type="number" value="{{ model?.FloorNumber }}" />
					<br />
					<!-- FloorNumber -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Alan
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Area" [ngModel]="model?.Area" formControlName="Area" type="number" value="{{ model?.Area }}" />
					<br />
					<!-- Area -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Enlem
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Latitude" [ngModel]="model?.Latitude" formControlName="Latitude" type="text" value="{{ model?.Latitude }}" />
					<br />
					<!-- Latitude -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Boylam
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Longitude" [ngModel]="model?.Longitude" formControlName="Longitude" type="text" value="{{ model?.Longitude }}" />
					<br />
					<!-- Longitude -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
					<a routerLink="/Admin/PropertyDetails" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
