@using TDLibrary

<script type="text/javascript" src="@AppMgr.ScriptPath/Angular/Scripts/kontroller.js"></script>

<div id="searchbox" ng-controller="kontrolAra">
    <input type="text" id="msrctext" class="orange" />
    <div id="msrcselect">
    </div>
    <ul id="msrcoptions">
        <li ng-if="$index == 0" ng-repeat="item in araModel" data-value="{{item.Kod}}" data-selected="true">{{item.SehirAdi}}</li>
        <li ng-if="$index > 0" ng-repeat="item in araModel" data-value="{{item.Kod}}">{{item.SehirAdi}}</li>
    </ul>
    <a id="msrcbutton" class="orange" onclick="javascript:;">Ara</a>
</div>
