@using TDLibrary
@using Lib

<div class="header middle">
    <a id="logo" href="@AppMgr.MainPath">
        <img src="@AppMgr.ImagePath/logo.png" />
    </a>
    <div id="toplogin">
        @{
            if (!GirisYonetimi.Durum)
            {
                Html.RenderPartial("~/Views/Kontroller/UstBolge/_Giris.cshtml");
            }
            else if (GirisYonetimi.Tip == GirisTipi.Aday)
            {
                Html.RenderPartial("~/Areas/Aday/Views/Islem/Kontroller/_Menu.cshtml");
            }
            else if (GirisYonetimi.Tip == GirisTipi.Sirket)
            {
                Html.RenderPartial("~/Areas/Sirket/Views/Islem/Kontroller/_Menu.cshtml");
            }
        }
    </div>
</div>

