<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-link"></i> Bağlantı Ekle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="ekleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    Bağlı Tip
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="LinkTypeID" (change)="onChange($event)" [ngModel]="model?.LinkTypeID" formControlName="LinkTypeID"><option *ngFor="let item of model?.LinkTypesList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--LinkTypeID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bağlı Nesne
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="LinkID" class="selectLinkID" [ngModel]="model?.LinkID" formControlName="LinkID"><option *ngFor="let item of model?.LinkedItemList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--LinkID-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!ekleForm.valid" />
                    <a routerLink="/Admin/Baglanti" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>

