<hr-breadcrumbs [links]="links" [title]="'İletişim'" [message]="'Bize ulaşmak için aşağıdaki formu kullanabilirsiniz.'"></hr-breadcrumbs>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 column">
                    <hr-contactform></hr-contactform>

                </div>
                <div class="col-lg-6 column">
                    <div class="contact-textinfo style2">
                        <h3>İletişim Adresimiz</h3>
                        <ul>
                            <li><i class="la la-map-marker"></i><span>Demir mh. Can sk. No:2 Bakırköy, İstanbul </span></li>
                            <li><i class="la la-phone"></i><span>Telefon : 0999 999 99 99</span></li>
                            <li><i class="la la-fax"></i><span>Faks : 0999 999 99 98</span></li>
                            <li><i class="la la-envelope-o"></i><span>Email : <a href="mailto:info@insankaynaklari.com">info@insankaynaklari.com</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>