<hr-breadcrumbs [links]="links" [title]="'İletişim'" [message]="'Bize ulaşmak için aşağıdaki formu kullanabilirsiniz.'"></hr-breadcrumbs>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 column">
                    <hr-contactform></hr-contactform>

                </div>
                <div class="col-lg-6 column">
                    <div class="contact-textinfo style2">
                        <h3>JobHunt Office</h3>
                        <ul>
                            <li><i class="la la-map-marker"></i><span>Jobify Inc. 555 Madison Avenue, Suite F-2 Manhattan, New York 10282 </span></li>
                            <li><i class="la la-phone"></i><span>Call Us : 0934 343 343</span></li>
                            <li><i class="la la-fax"></i><span>Fax : 0934 343 343</span></li>
                            <li><i class="la la-envelope-o"></i><span>Email : <a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e38a8d858ca3898c818b968d97cd808c8e">[email&#160;protected]</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>