<hr-breadcrumbs [links]="links" [title]="'Paketler'" [message]="'İş ilanı vermek için bütçenize en uygun paketi seçin.'"></hr-breadcrumbs>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Paket Bilgileri</h2>
                        <span>İşlerimizden biri, telekomünikasyon, yarı zamanlı veya esnek veya esnek zaman çizelgesi gibi bir çeşit esneklik seçeneğine sahiptir.</span>
                    </div>
                    <div class="plans-sec">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pricetable">
                                    <div class="pricetable-head">
                                        <h3>Başlangıç Paketi</h3>
                                        <h2>10 <i>TL</i></h2>
                                        <span>15 Gün</span>
                                    </div>
                                    <ul>
                                        <li>1 ilan</li>
                                        <li>0 özellikli ilan</li>
                                        <li>20 gün gösterim süresi</li>
                                        <li>24/7 Destek</li>
                                    </ul>
                                    <a href="javascript:;" title="">SATIN AL</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pricetable active">
                                    <div class="pricetable-head">
                                        <h3>Standart Paket</h3>
                                        <h2>45 <i>TL</i></h2>
                                        <span>20 Gün</span>
                                    </div>
                                    <ul>
                                        <li>11 ilan</li>
                                        <li>12 özellikli ilan</li>
                                        <li>30 gün gösterim süresi</li>
                                        <li>24/7 Destek</li>
                                    </ul>
                                    <a href="javascript:;" title="">SATIN AL</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pricetable">
                                    <div class="pricetable-head">
                                        <h3>Altın Paket</h3>
                                        <h2>80 <i>TL</i></h2>
                                        <span>2 Ay</span>
                                    </div>
                                    <ul>
                                        <li>44 ilan</li>
                                        <li>56 özellikli ilan</li>
                                        <li>80 gün gösterim süresi</li>
                                        <li>24/7 Destek</li>
                                    </ul>
                                    <a href="javascript:;" title="">SATIN AL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>