body {margin:0px 0px 0px 0px;background-color: #2188F3;font-family: Arial;}
* { outline:none; }
img { border:none; }
a { text-decoration:none; }

.main { margin:0px auto; width: 960px; }
.main .frame { float:left; margin:0px 0px 0px 0px; width:960px; }
.main .frame .headertext {float:left;margin: 10px 0px 40px 0px;width: 918px;border: 1px solid lightgray;height: auto;background-color: #0072ff;
                          color:#fff;padding: 0px 20px 0px 20px;background-image:url('../images/colorfulbg.png');background-repeat:no-repeat;
                          background-position: 0px 0px;height: 170px;}
.main .frame .headertext h1 {margin: 20px 0px 20px 0px;font-size: 20px;width: 100%;text-align: center;}
.main .frame .headertext span {float:left;margin: 0px 0px 10px 0px;font-family: Arial;font-size: 16px;text-align: center;width: 100%;}

.main .frame .project {float:left;margin: 0px 0px 60px 0px;width: 100%;}
.main .frame .project.hide {display:none;}
.main .frame .project h2 {margin: 10px 0px 10px 0px;color: #FFF;font-size: 20px;float: left;width: 800px;clear: both;}
.main .frame .project .pic {float:left;margin:0px 0px 0px 0px;width: 478px;border: 1px solid #fff;border-right: none;height: 294px;}
.main .frame .project .pic img {float:left;margin:0px 0px 0px 0px;width: 478px;}
.main .frame .project .desc {float:left;margin:0px 0px 0px 0px;width: 478px;border: 1px solid #fff;height: 294px;border-left: none;color: #fff;
                             overflow: hidden;font-size: 14px;background-color: #0072ff;}
.main .frame .project .desc .row {float:left;margin: 15px 0px 0px 0px;padding: 20px;clear: both;}
.main .frame .project .desc .row .cell {float:left;margin:0px 0px 0px 0px;clear: both;}
.main .frame .project .desc .row .cell.title {float:left;margin: 0px 0px 10px 0px;font-weight: bold;}
.main .frame .project a {float: right;margin: 13px 0px 0px 0px;color: #0072ff;font-weight: bold;border: 1px solid #fff;padding: 5px 10px;
                         background-color: #fff;background-image:url(../images/goto.png);background-repeat:no-repeat;background-position: 95px 5px;
                         width: 100px;}
.main .frame .project a:hover {background-color:#0072ff;color:#fff;background-image:url(../images/gotohover.png);}
.main .frame .project a.download {background-image:url(../images/download.png);}
.main .frame .project a.download:hover {background-image:url(../images/downloadhover.png);}

ul#tags {float: left;margin: 0px auto 30px auto;padding: 0px;list-style-type: none;}
ul#tags li {float:left;margin: 0px 10px 0px 0px;}
ul#tags li a {float:left;margin:0px 0px 0px 0px;padding:20px;border: 1px solid #fff;color:#fff;background-color: #0072FF;text-align: center;}
ul#tags li a:hover {border-color:#fff;color:#0072FF;background-color: #fff;}
ul#tags li a.selected {background-color: #002bff;}
ul#tags li a.selected:hover {color: #002bff;background-color: #fff;}

select#tagselect {display:none;float:left;margin: 0px 0px 30px 0px;width:100%;height: 40px;font-size: 16px;background-color: #002BFF;color: #fff;
                  font-weight: bold;border: 1px solid #fff;padding: 10px;-webkit-appearance: none;-moz-appearance: none;background-repeat:no-repeat;
                  background-image:url(../images/arrow.png);background-position: center right;background-size: 20px;}

@media only screen and (min-width: 769px) and (max-width: 960px)
{
.main {width: 768px;}
.main .frame {width: 768px;}
.main .frame .headertext {width: 726px;}

.main .frame .project h2 {width: 600px;}
.main .frame .project .pic {width: 383px;height: 235px;}
.main .frame .project .pic img {width: 383px;}
.main .frame .project .desc {width: 383px;height: 235px;}
.main .frame .project .desc .row {margin-top: 0px;padding: 12px;}
}

@media only screen and (min-width: 569px) and (max-width: 768px)
{
.main {width: 568px;}
.main .frame {width: 568px;}
.main .frame .headertext {width: 526px;background-image:none;}

.main .frame .project h2 {width: 400px;}
.main .frame .project .pic {width: 566px;height: 348px;border-bottom: none;border-right: 1px solid #fff;}
.main .frame .project .pic img {width: 566px;}
.main .frame .project .desc {width: 566px;border-top: none;border-left: 1px solid #fff;height: auto;}
}

@media only screen and (min-width: 481px) and (max-width: 568px)
{
.main {width: 480px;}
.main .frame {width: 480px;}
.main .frame .headertext {width: 438px;background-image:none;}

.main .frame .project h2 {width: 320px;}
.main .frame .project .pic {width: 478px;height: 294px;border-bottom: none;border-right: 1px solid #fff;}
.main .frame .project .pic img {width: 478px;}
.main .frame .project .desc {width: 478px;border-top: none;border-left: 1px solid #fff;height: auto;}

ul#tags {display:none;}
select#tagselect {display:block;background-position-x: 450px;}
}

@media only screen and (min-width: 321px) and (max-width: 480px)
{
.main { width: 320px; }
.main .frame { width: 320px; }
.main .frame .headertext {width: 278px;background-image:none;}

.main .frame .project h2 {width: 320px;}
.main .frame .project a {margin-top: 0px;float: left;margin-bottom: 10px;}
.main .frame .project .pic {width: 318px;height: 195px;border-bottom: none;border-right: 1px solid #fff;}
.main .frame .project .pic img {width: 318px;}
.main .frame .project .desc {width: 318px;border-top: none;border-left: 1px solid #fff;height: auto;}

ul#tags {display:none;}
select#tagselect {display:block;background-position-x: 290px;}
}

@media only screen and (max-width: 320px)
{
.main { width: 240px; }
.main .frame { width: 240px; }
.main .frame .headertext {width: 198px;background-image:none;height: auto;}

.main .frame .project h2 {width: 240px;font-size: 17px;}
.main .frame .project a {margin-top: 0px;float: left;margin-bottom: 10px;}
.main .frame .project .pic {width: 238px;height: 147px;border-bottom: none;border-right: 1px solid #fff;}
.main .frame .project .pic img {width: 238px;}
.main .frame .project .desc {width: 238px;border-top: none;border-left: 1px solid #fff;height: auto;}

ul#tags {display:none;}
select#tagselect {display:block;background-position-x: 210px;}
}