<div class="SolBaslik gununnesne">
    {{ gununIlaniText }}
</div>
<div class="SolIcerik gununnesne">
    <a [routerLink]="['Emlak/Detay/' + emlak?.RouteUrl]">
        <img border="0" alt="" style="max-width:100px; max-height:100px;" src="{{emlak?.Picture}}" />
    </a>
    <br />
    {{emlak?.Baslik}}
    <br />
    <b>
        {{emlak?.Fiyat}}
        TL
    </b>
    <br />
    <br />
    <a [routerLink]="['Emlak/Detay/' + emlak?.RouteUrl]">
        <img border="0" src="img/{{ detayLinkText }}.png" height="20" />
    </a>
</div>