<div class="onecell">
    <div id="signup" class="ikform">
        <div class="row">
            <div class="left ralign">
                Adınız
            </div>
            <div class="right">
                <input id="name" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Soyadınız
            </div>
            <div class="right">
                <input id="surname" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Mail Adresi
            </div>
            <div class="right">
                <input id="mail" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Kullanıcı Adınız
            </div>
            <div class="right">
                <input id="username" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Şifreniz
            </div>
            <div class="right">
                <input id="password" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Şifreniz (Tekrar)
            </div>
            <div class="right">
                <input id="password2" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Yaşadığnız Şehir
            </div>
            <div class="right">
                <ul id="cityoptions" class="options">
                    <li (click)="onClick($event)" *ngFor="let item of sehirler; let i = index;" data-value="{{item?.Kod}}" [attr.data-selected]="i == 0 ? 'true' : ''">{{item?.Sehir1}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Cinsiyetiniz
            </div>
            <div class="right">
                <ul id="genderoptions" class="options">
                    <li (click)="onClick($event)" *ngFor="let item of cinsiyetler; let i = index;" data-value="{{item?.Kod}}" [attr.data-selected]="i == 0 ? 'true' : ''">{{item?.Baslik}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Telefon Numaranız
            </div>
            <div class="right">
                <input id="phone" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left ralign">
                Hakkınızda (Tanıtıcı Cümleniz)
            </div>
            <div class="right">
                <textarea id="about"></textarea>
            </div>
        </div>
        <div class="row calign">
            <label>
                <input id="contract" type="checkbox" />
                <a href="#" target="_blank">Üyelik Sözleşmesini</a> kabul ediyorum.
            </label>
            <label>
                <br />
                <input id="newsletter" type="checkbox" />
                Bana uygun ilan ve haberlerden beni mail ile haberdar et.
            </label>
        </div>
        <div class="row calign">
            <input type="submit" id="save" class="orange" value="Kaydet" />
        </div>
    </div>
</div>