<!--b-contact-->
<section class="b-contact">
    <div class="container">
        <div class="row wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="col-xs-4">
                <div class="b-contact-title">
                    <h5><!--LATEST NEWS &amp; DEALS-->SON HABERLER VE TEKLİFLER</h5><br />
                    <h2><!--NEWSLETTER SIGNUP-->E-POSTA KAYDI</h2>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-contact__form">
                    <p>
                        <!--WE SEND GREAT DEALS AND LATEST AUTO NEWS TO OUR SUBSCRIBED USERS EVERY WEEK. ITS FREE SO SUBSCRIBE TODAY!-->
                        SİZE HER HAFTA EN UYGUN TEKLİFLERİ VE HABERLERİ GÖNDERECEĞİZ. ÜSTELİK ÜCRETSİZ. HEMEN SERVİSİMİZE KAYDOLUN.
                    </p>
                    <div>
                        <!--form action="/" method="POST"-->
                        <div>
                            <span class="fa fa-user"></span>
                            <!--<input type="text" name="user" value="" placeholder="Your Name" />-->
                            <input type="text" name="user" value="" placeholder="İsminiz" />
                        </div>
                        <div>
                            <span class="fa fa-envelope"></span>
                            <!--<input type="text" name="email" value="" placeholder="Your Email" />-->
                            <input type="text" name="email" value="" placeholder="E-Posta Adresiniz" />
                        </div>
                        <button type="submit"><span class="fa fa-angle-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-contact-->