<!--b-count-->
<section class="b-count">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="b-count__item wow zoomInUp">
                            <div class="b-count__item-circle">
                                <span class="fa fa-car"></span>
                            </div>
                            <div class="chart" data-percent="5000">
                                <h2 class="percent">5000</h2>
                            </div>
                            <h5>{{ count?.ContentName }}</h5>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="b-count__item wow zoomInUp">
                            <div class="b-count__item-circle">
                                <span class="fa fa-users"></span>
                            </div>
                            <div class="chart" data-percent="3100">
                                <h2 class="percent">3100</h2>
                            </div>
                            <h5>{{ count?.ShortText1 }}</h5>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="b-count__item wow zoomInUp">
                            <div class="b-count__item-circle">
                                <span class="fa fa-building-o"></span>
                            </div>
                            <div class="chart" data-percent="54">
                                <h2 class="percent">54</h2>
                            </div>
                            <h5>{{ count?.ShortText2 }}</h5>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="b-count__item j-last wow zoomInUp">
                            <div class="b-count__item-circle">
                                <span class="fa fa-wrench"></span>
                            </div>
                            <div class="chart" data-percent="547">
                                <h2 class="percent">547</h2>
                            </div>
                            <h5>{{ count?.Description }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-count-->