<!--b-featured-->
<section class="b-featured">
    <div class="container">
        <h2 class="s-title wow zoomInUp" data-wow-delay="0.3s">{{ featuredvehicles }}</h2>
        <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" 
             data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" 
             data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/mers.jpg" alt="mers" />
                        <span class="m-premium">{{ premium }}</span>
                    </a>
                    <div class="b-featured__item-price">
                        <!--$184,900-->184,900 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">MERCEDES-AMG GT / GT S</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2014</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/audi.jpg" alt="audi" />
                    </a>
                    <div class="b-featured__item-price">
                        <!--$95,900-->95,900 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">AUDI R8 SPYDER V-8</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2015</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/aston.jpg" alt="aston" />
                        <span class="m-leasing">{{ leasing }}</span>
                    </a>
                    <div class="b-featured__item-price">
                        <!--$101,025-->101,025 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">ASTON MARTIN VANTAGE</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2014</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/jaguar.jpg" alt="jaguar" />
                    </a>
                    <div class="b-featured__item-price">
                        <!--$130,825-->130,825 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">JAGUAR F-TYPE R</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2015</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/mers.jpg" alt="mers" />
                        <span class="m-premium">{{ premium }}</span>
                    </a>
                    <div class="b-featured__item-price">
                        <!--$184,900-->184,900 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">MERCEDES-AMG GT / GT S</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2014</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/audi.jpg" alt="audi" />
                    </a>
                    <div class="b-featured__item-price">
                        <!--$95,900-->95,900 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">AUDI R8 SPYDER V-8</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2015</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/aston.jpg" alt="aston" />
                        <span class="m-leasing">{{ leasing }}</span>
                    </a>
                    <div class="b-featured__item-price">
                        <!--$101,025-->101,025 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">ASTON MARTIN VANTAGE</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>35,000 KM</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2014</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" data-wow-offset="150">
                    <a routerLink="/Detail">
                        <img src="/RentACar/Content/img/media/186x113/jaguar.jpg" alt="jaguar" />
                    </a>
                    <div class="b-featured__item-price">
                        <!--$130,825-->130,825 TL
                    </div>
                    <div class="clearfix"></div>
                    <h5><a routerLink="/Detail">JAGUAR F-TYPE R</a></h5>
                    <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>0.00</div>
                    <div class="b-featured__item-links">
                        <a href="#"><!--Used-->İkinci El</a>
                        <a href="#">2015</a>
                        <a href="#"><!--Manual-->Manuel</a>
                        <a href="#"><!--Orange-->Turuncu</a>
                        <a href="#"><!--Petrol-->Benzin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-featured-->