<!--b-contact-->
<section class="b-contact">
    <div class="container">
        <div class="row wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="col-xs-4">
                <div class="b-contact-title">
                    <h5>{{ langs?.newsletter.ShortDescription }}</h5><br />
                    <h2>{{ langs?.newsletter.ShortDescription2 }}</h2>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-contact__form">
                    <p>
                        {{ langs?.newsletter.Description }}
                    </p>
                    <form [formGroup]="newsForm">
                        <div>
                            <span class="fa fa-user"></span>
                            <input type="text" name="user" value="" formControlName="Name" placeholder="{{ name }}" />
                        </div>
                        <div>
                            <span class="fa fa-envelope"></span>
                            <input type="text" name="email" value="" formControlName="Mail" placeholder="{{ mail }}" />
                        </div>
                        <button (click)="onClick()" [disabled]="!newsForm.valid"><span class="fa fa-angle-right"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-contact-->