<!--b-review-->
<section class="b-review">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div id="carousel-small-rev" class="owl-carousel enable-owl-carousel" data-items="1" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">
                <div class="b-review__main">
                    <div class="b-review__main-person">
                        <div class="b-review__main-person-inside">
                        </div>
                    </div>
                    <h5><span>DONALD BROOKS</span>, Customer, Ferrari 488 GTB 2 Owner</h5>
                    <p>
                        Donec facilisis velit eust. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequsem
                        velde metus imperdiet lacinia.  Nam rutrum congue diam. Vestibulum acda risus eros auctor egestas. Morbids sem magna, viverra quis sollicitudin quis consectetuer quis nec magna.
                    </p>
                </div>
                <div class="b-review__main">
                    <div class="b-review__main-person">
                        <div class="b-review__main-person-inside">
                        </div>
                    </div>
                    <h5><span>DONALD BROOKS</span>, Customer, Ferrari 488 GTB 2 Owner</h5>
                    <p>
                        Donec facilisis velit eust. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequsem
                        velde metus imperdiet lacinia.  Nam rutrum congue diam. Vestibulum acda risus eros auctor egestas. Morbids sem magna, viverra quis sollicitudin quis consectetuer quis nec magna.
                    </p>
                </div>
                <div class="b-review__main">
                    <div class="b-review__main-person">
                        <div class="b-review__main-person-inside">
                        </div>
                    </div>
                    <h5><span>DONALD BROOKS</span>, Customer, Ferrari 488 GTB 2 Owner</h5>
                    <p>
                        Donec facilisis velit eust. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequsem
                        velde metus imperdiet lacinia.  Nam rutrum congue diam. Vestibulum acda risus eros auctor egestas. Morbids sem magna, viverra quis sollicitudin quis consectetuer quis nec magna.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="/RentACar/Content/img/backgrounds/reviews.jpg" alt="" class="img-responsive center-block" />
</section>
<!--b-review-->