<!--b-search-->
<section class="b-search">
    <div class="container">
        <form [formGroup]="searchForm" class="b-search__main">
            <div class="b-search__main-title wow zoomInUp" data-wow-delay="0.3s">
                <h2>{{ langs?.whichVehicle }}</h2>
            </div>
            <div class="b-search__main-type wow zoomInUp" data-wow-delay="0.3s">
                <div class="col-xs-12 col-md-2 s-noLeftPadding">
                    <h4>{{ langs?.bodyTypeText }}</h4>
                </div>
                <div class="col-xs-12 col-md-10">
                    <div class="row">
                        <div *ngFor="let item of BodyTypes">
                            <div class="col-xs-2" data-filter="radioMainSearch" [attr.data-type]="item?.Code">
                                <input [attr.id]="['src' + item?.Code]" type="radio" name="radioMainSearch" />
                                <label [attr.for]="['src' + item?.Code]" [attr.class]="['b-search__main-type-svg ' + item?.Code]">
                                </label>
                                <h5><label for="srcpickup">{{ item?.Name }}</label></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-search__main-form wow zoomInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="m-firstSelects">
                            <div class="col-xs-4">
                                <select id="slcCarMakes" name="slcCarMakes" (change)="onChange($event)" formControlName="MakeCode">
                                    <option *ngFor="let item of CarMakes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ langs?.makeText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcCarModels" name="slcCarModels" formControlName="ModelCode">
                                    <option *ngFor="let item of CarModels" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ langs?.modelText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcCarStatus" name="slcCarStatus" formControlName="CarStatusCode">
                                    <option *ngFor="let item of CarStatus" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ langs?.carStatusText }}</p>
                            </div>
                        </div>
                        <div class="m-secondSelects">
                            <div class="col-xs-4">
                                <select id="slcMinYear" name="slcMinYear" formControlName="YearMin">
                                    <option value="0">-</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ langs?.minYearText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcMaxYear" name="slcMaxYear" formControlName="YearMax">
                                    <option value="0">-</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ langs?.maxYearText }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left s-noPadding">
                        <div class="b-search__main-form-range">
                            <label>{{ langs?.priceRangeText }}</label>
                            <div class="slider"></div>
                            <input type="hidden" id="txtPriceMin" name="min" class="j-min" formControlName="PriceMin" />
                            <input type="hidden" id="txtPriceMax" name="max" class="j-max" formControlName="PriceMax" />
                        </div>
                        <div class="b-search__main-form-submit">
                            <a routerLink="/Cars/Book">{{ langs?.detailSearch }}</a>
                            <button class="btn m-btn" (click)="onClick()">{{ langs?.search }}<span class="fa fa-angle-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--b-search-->