<!--b-search-->
<section class="b-search">
    <div class="container">
        <div class="b-search__main"><!--form action="/Cars/List/tempurl" method="POST"-->
            <div class="b-search__main-title wow zoomInUp" data-wow-delay="0.3s">
                <h2>{{ whichVehicle }}</h2>
            </div>
            <div class="b-search__main-type wow zoomInUp" data-wow-delay="0.3s">
                <div class="col-xs-12 col-md-2 s-noLeftPadding">
                    <h4>{{ vehicleType }}</h4>
                </div>
                <div class="col-xs-12 col-md-10">
                    <div class="row">
                        <div *ngFor="let item of BodyTypes">
                            <div class="col-xs-2" data-filter="radioMainSearch" [attr.data-type]="item?.Code">
                                <input [attr.id]="['src' + item?.Code]" type="radio" name="radioMainSearch" />
                                <label [attr.for]="['src' + item?.Code]" [attr.class]="['b-search__main-type-svg ' + item?.Code]">
                                </label>
                                <h5><label for="srcpickup">{{ item?.Name }}</label></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-search__main-form wow zoomInUp" data-wow-delay="0.3s">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="m-firstSelects">
                            <div class="col-xs-4">
                                <select id="slcCarMakes" name="slcCarMakes" (change)="onChange($event)">
                                    <option *ngFor="let item of CarMakes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ makeText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcCarModels" name="slcCarModels">
                                    <option *ngFor="let item of CarModels" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ modelText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcCarStatus" name="slcCarStatus">
                                    <option *ngFor="let item of CarStatus" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ vehicleStatusText }}</p>
                            </div>
                        </div>
                        <div class="m-secondSelects">
                            <div class="col-xs-4">
                                <select id="slcMinYear" name="slcMinYear">
                                    <option value="0">-</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ minYearText }}</p>
                            </div>
                            <div class="col-xs-4">
                                <select id="slcMaxYear" name="slcMaxYear">
                                    <option value="0">-</option>
                                </select>
                                <span class="fa fa-caret-down"></span>
                                <p>{{ maxYearText }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 text-left s-noPadding">
                        <div class="b-search__main-form-range">
                            <label>{{ priceRange }}</label>
                            <div class="slider"></div>
                            <input type="hidden" name="min" class="j-min" />
                            <input type="hidden" name="max" class="j-max" />
                        </div>
                        <div class="b-search__main-form-submit">
                            <a routerLink="/Cars/Book">{{ detailSearch }}</a>
                            <button type="submit" class="btn m-btn">{{ search }}<span class="fa fa-angle-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-search-->