<!--b-slider-->
<section class="b-slider">
    <div id="carousel" class="slide carousel carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item{{ i == 0 ? ' active' : ''}}" *ngFor="let item of Slider; let i = index;">
                <img src="/RentACar/Uploads/{{ item?.PictureUrl }}" alt="sliderImg" />
                <div class="container">
                    <div class="carousel-caption b-slider__info">
                        <h3>{{ item?.Slogan }}</h3>
                        <h2>{{ item?.Title }}</h2>
                        <p>{{ item?.ShortText1 }} <span>{{ item?.ShortText2 }} TL/{{ langs?.DayPrice }}</span></p>
                        <a class="btn m-btn" [routerLink]="['/Cars/Detail/' + item?.Url]">{{ langs?.detail }}<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control right" href="javascript:;" data-slide="next">
            <span class="fa fa-angle-right m-control-right"></span>
        </a>
        <a class="carousel-control left" href="javascript:;" data-slide="prev">
            <span class="fa fa-angle-left m-control-left"></span>
        </a>
    </div>
</section>
<!--b-slider-->