<!--b-welcome-->
<section class="b-welcome" [style.backgroundImage]="'url(/RentACar/Uploads/' + welcomebanner + ')'">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                <div class="b-welcome__text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                    <h2>{{ welcome?.ContentName }}</h2>
                    <h3>{{ welcome?.ShortText1 }}</h3>
                    <div [innerHTML]="welcome?.Description"></div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="b-welcome__services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                    <div class="row">
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-auto">
                                <div class="b-welcome__services-img m-auto">
                                    <span class="fa fa-cab"></span>
                                </div>
                                <h3>{{ langs?.loans }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-trade">
                                <div class="b-welcome__services-img m-trade">
                                    <span class="fa fa-refresh"></span>
                                </div>
                                <h3>{{ langs?.trade }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <span class="b-welcome__services-circle"></span>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-buying">
                                <div class="b-welcome__services-img m-buying">
                                    <span class="fa fa-book"></span>
                                </div>
                                <h3>{{ langs?.guide }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-support">
                                <div class="b-welcome__services-img m-support">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <h3>{{ langs?.support }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-welcome-->