<!--b-review-->
<section class="b-review">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 wow slideInUp" data-wow-delay="0.3s">
            <div id="carousel-small-rev" class="owl-carousel enable-owl-carousel" data-items="1" data-navigation="true" data-auto-play="true"
                 data-stop-on-hover="true" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">
                <div class="b-review__main" *ngFor="let item of workerList">
                    <div class="b-review__main-person">
                        <div class="b-review__main-person-inside" [style.backgroundImage]="'url(/RentACar/Uploads/thumb_' + item?.PictureUrl + ')'">
                        </div>
                    </div>
                    <h5><span>{{ item?.NameSurname }}</span>, {{ item?.Position }}</h5>
                    <p>
                        {{ item?.Description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="/RentACar/Uploads/{{ picture }}" alt="" class="img-responsive center-block" />
</section>
<!--b-review-->