<div id="sidebar">
	<a href="javascript:;" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
	<ul>
		<li data-url="Index" class="active">
			<a routerLink="/Admin/Index"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
		</li>
		<li data-url="Category" *ngIf ="hasRightCategory && showTypeCategory">
			<a routerLink="/Admin/Category"><i class="icon icon-sitemap"></i> <span>Kategori</span></a>
		</li>
		<li data-url="City" *ngIf ="hasRightWebsite && showTypeWebsite">
			<a routerLink="/Admin/City"><i class="icon icon-home"></i> <span>Şehir</span></a>
		</li>
		<li data-url="Content" *ngIf ="hasRightContent && showTypeContent">
			<a routerLink="/Admin/Content"><i class="icon icon-edit"></i> <span>İçerik</span></a>
		</li>
		<li data-url="Files" *ngIf ="hasRightFiles && showTypeFiles">
			<a routerLink="/Admin/Files"><i class="icon icon-file"></i> <span>Dosya</span></a>
		</li>
		<li data-url="Gallery" *ngIf ="hasRightGallery && showTypeGallery">
			<a routerLink="/Admin/Gallery"><i class="icon icon-picture"></i> <span>Galeri</span></a>
		</li>
		<li class="submenu" *ngIf ="hasRightLogs && showTypeLogs">
			<a href="javascript:;"><i class="icon icon-eye-open"></i> <span>Log İşlemi</span></a>
			<ul>
				<li data-url="LogProcess"><a routerLink="/Admin/LogProcess">Log İşlemi</a></li>
				<li data-url="Logs"><a routerLink="/Admin/Logs">Log</a></li>
			</ul>
		</li>
		<li class="submenu" *ngIf ="hasRightLogs && showTypeLogs">
			<a href="javascript:;"><i class="icon icon-eye-open"></i> <span>Log Tipi</span></a>
			<ul>
				<li data-url="LogTypes"><a routerLink="/Admin/LogTypes">Log Tipi</a></li>
				<li data-url="LogProcess"><a routerLink="/Admin/LogProcess">Log İşlemi</a></li>
			</ul>
		</li>
		<li data-url="Meta" *ngIf ="hasRightMeta && showTypeMeta">
			<a routerLink="/Admin/Meta"><i class="icon icon-tags"></i> <span>Meta</span></a>
		</li>
		<li data-url="Pictures" *ngIf ="hasRightPictures && showTypePictures">
			<a routerLink="/Admin/Pictures"><i class="icon icon-camera-retro"></i> <span>Resim</span></a>
		</li>
		<li class="submenu" *ngIf ="hasRightTypes && showTypeTypes">
			<a href="javascript:;"><i class="icon icon-pushpin"></i> <span>Tip</span></a>
			<ul>
				<li data-url="Types"><a routerLink="/Admin/Types">Tip</a></li>
				<li data-url="UserGroupTables"><a routerLink="/Admin/UserGroupTables">Kullanıcı Grubu Tablosu</a></li>
			</ul>
		</li>
		<li class="submenu" *ngIf ="hasRightUsers && showTypeUsers">
			<a href="javascript:;"><i class="icon icon-user"></i> <span>Kullanıcı Grubu İşlemi</span></a>
			<ul>
				<li data-url="UserGroupProcess"><a routerLink="/Admin/UserGroupProcess">Kullanıcı Grubu İşlemi</a></li>
				<li data-url="UserGroupRights"><a routerLink="/Admin/UserGroupRights">Kullanıcı Grubu Hakkı</a></li>
			</ul>
		</li>
		<li class="submenu" *ngIf ="hasRightUsers && showTypeUsers">
			<a href="javascript:;"><i class="icon icon-user"></i> <span>Kullanıcı Grubu</span></a>
			<ul>
				<li data-url="UserGroups"><a routerLink="/Admin/UserGroups">Kullanıcı Grubu</a></li>
				<li data-url="UserGroupTables"><a routerLink="/Admin/UserGroupTables">Kullanıcı Grubu Tablosu</a></li>
				<li data-url="Users"><a routerLink="/Admin/Users">Kullanıcı</a></li>
			</ul>
		</li>
		<li data-url="Visitors" *ngIf ="hasRightWebsite && showTypeWebsite">
			<a routerLink="/Admin/Visitors"><i class="icon icon-plane"></i> <span>Ziyaretçi</span></a>
		</li>
	</ul>
</div>
