@using Repository.KullanicilarModel
@using TDLibrary

@{
    Kullanicilar user = AppTools.User;
}

<div id="header">
    <h1><a><img src="@AppMgr.ImagePath/logo.png" /></a></h1>
</div>

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li><a title="Bilgilerinizi düzenlemek için tıklayın." href="@AppMgr.AdminPath/Kullanicilar/Duzenle/@user.ID"><i class="icon icon-user"></i>  <span class="text">Hoşgeldiniz @user.Username</span></a></li>
        <li><a href="javascript:;" class="logout"><i class="icon icon-share-alt"></i> <span class="text">Çıkış</span></a></li>
        <li><a target="_blank" href="@AppMgr.MainPath"><i class="icon icon-home"></i> <span class="text"> Web Sitesine Git</span></a></li>
    </ul>
</div>

<div id="search">
    <input id="txtMainSearch" type="text" placeholder="Kelime..." />
    <button id="btnMainSearch" type="button" class="tip-bottom" title="Ara"><i class="icon-search icon-white"></i></button>
</div>
