<hr-joblisttop></hr-joblisttop>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column">
                    <hr-joblistsearch></hr-joblistsearch>

                </aside>
                <div class="col-lg-9 column">
                    <hr-joblistcontrols></hr-joblistcontrols>

                    <div class="job-list-modern">
                        <div class="job-listings-sec no-border">
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l1.png" alt="" /> </div>
                                    <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft">Full time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l2.png" alt="" /> </div>
                                    <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Part time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l3.png" alt="" /> </div>
                                    <h3><a href="#" title="">Regional Sales Manager South</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Full time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l4.png" alt="" /> </div>
                                    <h3><a href="#" title="">Marketing Dairector</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Full time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l5.png" alt="" /> </div>
                                    <h3><a href="#" title="">Application Developer</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Part time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l6.png" alt="" /> </div>
                                    <h3><a href="#" title="">Social Media and Public</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is fl ">Freelance</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l2.png" alt="" /> </div>
                                    <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Part time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l3.png" alt="" /> </div>
                                    <h3><a href="#" title="">Regional Sales Manager South</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Full time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l4.png" alt="" /> </div>
                                    <h3><a href="#" title="">Marketing Dairector</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Full time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l5.png" alt="" /> </div>
                                    <h3><a href="#" title="">Application Developer</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Part time</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 months ago</i>
                                </div>
                            </div><!-- Job -->
                        </div>
                        <hr-joblistpager></hr-joblistpager>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>