<hr-joblisttop></hr-joblisttop>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column">
                    <hr-joblistsearch></hr-joblistsearch>

                </aside>
                <div class="col-lg-9 column">
                    <hr-joblistcontrols></hr-joblistcontrols>

                    <div class="job-list-modern">
                        <div class="job-listings-sec no-border">
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l1.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Web Tasarımcı / Web Yazılımcı</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft">Tam Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l2.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Senior C#.Net Yazılımcı</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Yarı Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l3.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Güney Bölge Satış Müdürü</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Tam Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l4.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Pazarlama Direktörü</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Tam Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l5.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Uygulama Geliştirici</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Yarı Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l6.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Sosyal Medya Uzmanı</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is fl ">Serbest Çalışma</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l2.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Senior C#.Net Yazılımcı</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Yarı Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l3.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Güney Bölge Satış Müdürü</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Tam Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l4.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Pazarlama Direktörü</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is ft ">Tam Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                            <div class="job-listing wtabs">
                                <div class="job-title-sec">
                                    <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l5.png" alt="" /> </div>
                                    <h3><a href="javascript:;" title="">Uygulama Geliştirici</a></h3>
                                    <span>Massimo Artemisis</span>
                                    <div class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</div>
                                </div>
                                <div class="job-style-bx">
                                    <span class="job-is pt ">Yarı Zamanlı</span>
                                    <span class="fav-job"><i class="la la-heart-o"></i></span>
                                    <i>5 ay önce</i>
                                </div>
                            </div>
                        </div>
                        <hr-joblistpager></hr-joblistpager>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>