
<div class="b-compare__block wow zoomInUp" data-wow-delay="0.3s" *ngIf="carCompare?.length > 0">
    <div class="b-compare__block-title s-whiteShadow">
        <h3 class="s-titleDet">{{ feats?.title }}</h3>
        <a class="j-more" href="javascript:; == true"><span class="fa fa-angle-left"></span></a>
    </div>
    <div class="b-compare__block-inside j-inside">
        <div class="row">
            <div class="col-xs-3">
                <div class="b-compare__block-inside-title">
                    {{ feats?.feats }}
                </div>
            </div>
            <div class="col-xs-3" *ngFor="let item of carCompare">
                <div class="b-compare__block-inside-value s-lineDownCenter" *ngIf="item?.Features">
                    <ul>
                        <li *ngIf="item?.Features?.ABS == true"><span class="fa fa-check"></span>{{ feats?.ABS }}</li>
                        <li *ngIf="item?.Features?.Airbag == true"><span class="fa fa-check"></span>{{ feats?.Airbag }}</li>
                        <li *ngIf="item?.Features?.AirConditioning == true"><span class="fa fa-check"></span>{{ feats?.AirConditioning }}</li>
                        <li *ngIf="item?.Features?.AlloyTires == true"><span class="fa fa-check"></span>{{ feats?.AlloyTires }}</li>
                        <li *ngIf="item?.Features?.AntiTheft == true"><span class="fa fa-check"></span>{{ feats?.AntiTheft }}</li>
                        <li *ngIf="item?.Features?.AudioRemoteControl == true"><span class="fa fa-check"></span>{{ feats?.AudioRemoteControl }}</li>
                        <li *ngIf="item?.Features?.CDPlayer == true"><span class="fa fa-check"></span>{{ feats?.CDPlayer }}</li>
                        <li *ngIf="item?.Features?.CentralLocking == true"><span class="fa fa-check"></span>{{ feats?.CentralLocking }}</li>
                        <li *ngIf="item?.Features?.CooledSeats == true"><span class="fa fa-check"></span>{{ feats?.CooledSeats }}</li>
                        <li *ngIf="item?.Features?.EngineImmobiliser == true"><span class="fa fa-check"></span>{{ feats?.EngineImmobiliser }}</li>
                        <li *ngIf="item?.Features?.FogLamps == true"><span class="fa fa-check"></span>{{ feats?.FogLamps }}</li>
                        <li *ngIf="item?.Features?.FoldingSeats == true"><span class="fa fa-check"></span>{{ feats?.FoldingSeats }}</li>
                        <li *ngIf="item?.Features?.GPS == true"><span class="fa fa-check"></span>{{ feats?.GPS }}</li>
                        <li *ngIf="item?.Features?.HeatedDoorMirrors == true"><span class="fa fa-check"></span>{{ feats?.HeatedDoorMirrors }}</li>
                        <li *ngIf="item?.Features?.HeatedSeats == true"><span class="fa fa-check"></span>{{ feats?.HeatedSeats }}</li>
                        <li *ngIf="item?.Features?.HeadlightCovers == true"><span class="fa fa-check"></span>{{ feats?.HeadlightCovers }}</li>
                        <li *ngIf="item?.Features?.KeylessEntry == true"><span class="fa fa-check"></span>{{ feats?.KeylessEntry }}</li>
                        <li *ngIf="item?.Features?.LeatherSeats == true"><span class="fa fa-check"></span>{{ feats?.LeatherSeats }}</li>
                        <li *ngIf="item?.Features?.LeatherTrim == true"><span class="fa fa-check"></span>{{ feats?.LeatherTrim }}</li>
                        <li *ngIf="item?.Features?.LPG == true"><span class="fa fa-check"></span>{{ feats?.LPG }}</li>
                        <li *ngIf="item?.Features?.PassengerAirbag == true"><span class="fa fa-check"></span>{{ feats?.PassengerAirbag }}</li>
                        <li *ngIf="item?.Features?.PowerGlass == true"><span class="fa fa-check"></span>{{ feats?.PowerGlass }}</li>
                        <li *ngIf="item?.Features?.PowerMirrors == true"><span class="fa fa-check"></span>{{ feats?.PowerMirrors }}</li>
                        <li *ngIf="item?.Features?.PowerSeats == true"><span class="fa fa-check"></span>{{ feats?.PowerSeats }}</li>
                        <li *ngIf="item?.Features?.PowerSteering == true"><span class="fa fa-check"></span>{{ feats?.PowerSteering }}</li>
                        <li *ngIf="item?.Features?.PowerWindows == true"><span class="fa fa-check"></span>{{ feats?.PowerWindows }}</li>
                        <li *ngIf="item?.Features?.RemoteStart == true"><span class="fa fa-check"></span>{{ feats?.RemoteStart }}</li>
                        <li *ngIf="item?.Features?.SecuritySystem == true"><span class="fa fa-check"></span>{{ feats?.SecuritySystem }}</li>
                        <li *ngIf="item?.Features?.SideAirbag == true"><span class="fa fa-check"></span>{{ feats?.SideAirbag }}</li>
                        <li *ngIf="item?.Features?.Spoiler == true"><span class="fa fa-check"></span>{{ feats?.Spoiler }}</li>
                        <li *ngIf="item?.Features?.TintedWindows == true"><span class="fa fa-check"></span>{{ feats?.TintedWindows }}</li>
                        <li *ngIf="item?.Features?.TowBar == true"><span class="fa fa-check"></span>{{ feats?.TowBar }}</li>
                        <li *ngIf="item?.Features?.TripComputer == true"><span class="fa fa-check"></span>{{ feats?.TripComputer }}</li>
                        <li *ngIf="item?.Features?.Warrenty == true"><span class="fa fa-check"></span>{{ feats?.Warrenty }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

































