<!--b-compare-->
<section class="b-compare s-shadow">
    <div class="container">
        <div class="b-compare__images">
            <div class="row">
                <div *ngIf="carCompare?.length <= 0" class="listNull" [class.show]="carCompare?.length <= 0">
                    <span>{{ langs?.null }}</span>
                </div>
                <div *ngFor="let item of carCompare; let i = index" class="col-md-3 col-sm-4 col-xs-12" [class.col-md-offset-3]="i==0">
                    <div class="b-compare__images-item s-lineDownCenter wow zoomInUp" data-wow-delay="0.3s">
                        <h3>{{ item?.Main.Title }}</h3>
                        <img class="img-responsive center-block" src="/RentACar/Uploads/thumb_{{ item?.Main.PictureUrl }}" alt="jaguar" />
                        <div class="b-compare__images-item-price"
                             [class.m-right]="i==0 || i < carCompare?.length - 1"
                             [class.m-left]="i == carCompare?.length - 1 || i > 0">
                            <div *ngIf="i < carCompare?.length - 1" class="b-compare__images-item-price-vs">vs</div>{{ item?.Basic.Price }} TL
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <rac-carcomparebasic [basic]="langs?.Basic" [carCompare]="carCompare"></rac-carcomparebasic>
        <rac-carcomparemechanical [mech]="langs?.Mech" [carCompare]="carCompare"></rac-carcomparemechanical>
        <rac-carcompareextint [extint]="langs?.ExtInt" [carCompare]="carCompare"></rac-carcompareextint>
        <rac-carcomparefeatures [feats]="langs?.Feats" [carCompare]="carCompare"></rac-carcomparefeatures>

        <div class="b-compare__links wow zoomInUp" data-wow-delay="0.3s" *ngIf="carCompare?.length > 0">
            <div class="row">
                <div *ngFor="let item of carCompare; let i = index" class="col-sm-3 col-xs-12" [class.col-sm-offset-3]="i==0">
                    <a routerLink="/Cars/Detail/{{ item?.Main.Url }}" class="btn m-btn">{{ langs?.detail }}<span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-compare-->