* {outline: none!important;}

.b-review > img {margin-top: 60px;}
.b-footer__company a {color:#fff;text-decoration:none;}
.b-footer__company a:hover {color:#bababa;text-decoration:none;}
#tabAutoBest > .tab > div > div {height: auto!important;}
.b-nav__logo h3 a {font-size:22px!important;}
.b-asks__first-circle span {font-size:32px!important;}
.b-asks__first-arrow span {font-size:20px!important;}
.b-world__item a span.fa {font-size:12px!important;}
.b-info__aside > a span {font-size:14px!important;}
.b-count__item-circle span {font-size:40px!important;}
.b-topBar__lang {padding-left: 20px;}
ul.h-lang > li > a.m-langLink > img {width:28px;height:18px;}
.b-search {background-color:none!important;}
.b-search * {text-transform:none!important;}
.b-search__main-type-svg {width:108px;height:42px;background-repeat:no-repeat;background-position:center center;cursor:pointer;}
.b-search__main-type-svg.convertible {background-image:url(/RentACar/Content/img/vehicletypes/convertible.png);}
.b-search__main-type-svg.convertible:hover {background-image:url(/RentACar/Content/img/vehicletypes/convertible-hvr.png);}
.b-search__main-type-svg.convertible.active {background-image:url(/RentACar/Content/img/vehicletypes/convertible-hvr.png);}
.b-search__main-type-svg.coupe {background-image:url(/RentACar/Content/img/vehicletypes/coupe.png);}
.b-search__main-type-svg.coupe:hover {background-image:url(/RentACar/Content/img/vehicletypes/coupe-hvr.png);}
.b-search__main-type-svg.coupe.active {background-image:url(/RentACar/Content/img/vehicletypes/coupe-hvr.png);}
.b-search__main-type-svg.minicar {background-image:url(/RentACar/Content/img/vehicletypes/minicar.png);}
.b-search__main-type-svg.minicar:hover {background-image:url(/RentACar/Content/img/vehicletypes/minicar-hvr.png);}
.b-search__main-type-svg.minicar.active {background-image:url(/RentACar/Content/img/vehicletypes/minicar-hvr.png);}
.b-search__main-type-svg.pickup {background-image:url(/RentACar/Content/img/vehicletypes/pickup.png);}
.b-search__main-type-svg.pickup:hover {background-image:url(/RentACar/Content/img/vehicletypes/pickup-hvr.png);}
.b-search__main-type-svg.pickup.active {background-image:url(/RentACar/Content/img/vehicletypes/pickup-hvr.png);}
.b-search__main-type-svg.sedan {background-image:url(/RentACar/Content/img/vehicletypes/sedan.png);}
.b-search__main-type-svg.sedan:hover {background-image:url(/RentACar/Content/img/vehicletypes/sedan-hvr.png);}
.b-search__main-type-svg.sedan.active {background-image:url(/RentACar/Content/img/vehicletypes/sedan-hvr.png);}
.b-search__main-type-svg.suv {background-image:url(/RentACar/Content/img/vehicletypes/suv.png);}
.b-search__main-type-svg.suv:hover {background-image:url(/RentACar/Content/img/vehicletypes/suv-hvr.png);}
.b-search__main-type-svg.suv.active {background-image:url(/RentACar/Content/img/vehicletypes/suv-hvr.png);}
.b-topBar__addr{overflow-x: hidden;white-space: nowrap;}
.b-blog__posts-one-body-tags span.blogtags {color:#A1A1A1;}
.b-world__item {text-align:center;}
.b-world__item p {margin-bottom: 0px;}
.b-world__item h2 {height:40px;}
.b-world__item img.img-responsive {display:unset;}
.b-items div input[type='checkbox'] {position: absolute;visibility: hidden;}
.b-items div input[type='checkbox']:checked + .b-items__cars-one-img-check span.fa {display: block;}
.b-items__cars-one-img > img {width: 270px;height: 230px;}
.b-infoBar__compare {text-align:right;}
.b-infoBar__select {float:left;}

@media only screen and (max-width: 1200px) {
    .b-search__main-type .col-xs-2[data-filter=radioMainSearch] {width:auto!important;}
}

@media only screen and (max-width: 366px) {
    .b-search__main-type .col-xs-2[data-filter=radioMainSearch] {float:none;margin:0px auto;}
    .b-search__main-type-svg {width:auto!important;}
}
