<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>

<!--b-infoBar-->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-infoBar__progress-line clearfix">
                        <div class="b-infoBar__progress-line-step m-active">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step m-active">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                            <div class="b-infoBar__progress-line-step-circle m-last">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <aside class="b-submit__aside">
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>1. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-car"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--DETAILS-->DETAYLAR</h4>
                                <p><!--Choose Vehicle Specifications-->Detay Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>2. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-list-ul"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--FEATURES-->ÖZELLİKLER</h4>
                                <p><!--Choose Info-->Özellik Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                        <h3>3. Adım</h3>
                        <div class="b-submit__aside-step-inner m-active clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--Contact-->İLETİŞİM</h4>
                                <p><!--Contact Info-->İletişim Bilgileri</p>
                                <div class="b-submit__aside-step-inner-info-triangle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>4. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--CONFIRMATION-->ONAYLAMA</h4>
                                <p><!--Submit-->Gönder</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <div class='s-submit'><!--form action="submit5.html" method="post"-->
                        <div class="b-submit__main-contacts wow zoomInUp" data-wow-delay="0.3s">
                            <header class="s-headerSubmit s-lineDownLeft">
                                <h2><!--Your Contact Info-->İletişim Bilgileriniz</h2>
                            </header>
                            <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat aenean vitae quam. </p>
                            <div class="b-submit__main-element">
                                <label><!--Vehicle Current Address-->Araç Sahibinin Adresi <span>*</span></label>
                                <input type="text" name="addr" />
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--City / State-->Şehir / Ülke <span>*</span></label>
                                        <input type="text" name="city" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Zip Code / District-->Posta Kodu / Semt <span>*</span></label>
                                        <input type="text" name="code" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Enter Your Phone Number-->Telefon Numaranız <span>*</span></label>
                                        <input type="text" name="phone" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Enter Your Email Address-->E-Posta Adresiniz <span>*</span></label>
                                        <input type="text" name="email" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.3s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>-->
                        <a routerLink="/BookingSubmit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">KAYDET &amp; İLERLE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->