<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>

<!--b-infoBar-->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-infoBar__progress-line clearfix">
                        <div class="b-infoBar__progress-line-step m-active">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                            <div class="b-infoBar__progress-line-step-circle m-last">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <aside class="b-submit__aside">
                    <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.3s">
                        <h3>Step 1</h3>
                        <div class="b-submit__aside-step-inner m-active clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-car"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4>Add YOUR Vehicle</h4>
                                <p>Select your vehicle &amp; add info</p>
                                <div class="b-submit__aside-step-inner-info-triangle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.3s">
                        <h3>Step 2</h3>
                        <div class="b-submit__aside-step-inner m-active clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-list-ul"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4>select details</h4>
                                <p>Choose vehicle specifications</p>
                                <div class="b-submit__aside-step-inner-info-triangle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.3s">
                        <h3>Step 3</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4>Contact details</h4>
                                <p>Choose vehicle specifications</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.3s">
                        <h3>Step 4</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4>SUBMIT &amp; PUBLISH</h4>
                                <p>Add images / videos of vehicle</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.3s">
                        <h2 class="">Select Additional Features Of  Your Vehicle</h2>
                    </header>
                    <p class=" wow zoomInUp" data-wow-delay="0.3s">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="s-submit clearfix"><!--form action="submit3.html" method="POST"-->
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check1" id="check1" />
                                    <label class="s-submitCheckLabel" for="check1"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check1">ABS</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check2" id="check2" />
                                    <label class="s-submitCheckLabel" for="check2"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check2">Alloy Wheels</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check3" id="check3" />
                                    <label class="s-submitCheckLabel" for="check3"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check3">Passenger Airbag</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check4" id="check4" />
                                    <label class="s-submitCheckLabel" for="check4"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check4">Heated Door Mirrors</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check5" id="check5" />
                                    <label class="s-submitCheckLabel" for="check5"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check5">Air Conditioning</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check6" id="check6" />
                                    <label class="s-submitCheckLabel" for="check6"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check6">Trip Computer</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check7" id="check7" />
                                    <label class="s-submitCheckLabel" for="check7"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check7">Side Airbags</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check8" id="check8" />
                                    <label class="s-submitCheckLabel" for="check8"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check8">Audio Remote Control</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check9" id="check9" />
                                    <label class="s-submitCheckLabel" for="check9"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check9">Folding Rear Seats</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check10" id="check10" />
                                    <label class="s-submitCheckLabel" for="check10"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check10">Central Locking - Keyless</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check11" id="check11" />
                                    <label class="s-submitCheckLabel" for="check11"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check11">Weather Shields</label>
                                </div>
                                <div class="b-submit__main-element m-border wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check12" id="check12" />
                                    <label class="s-submitCheckLabel" for="check12"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check12">Electric Front Seats</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check13" id="check13" />
                                    <label class="s-submitCheckLabel" for="check13"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check13">Engine Immobiliser</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check14" id="check14" />
                                    <label class="s-submitCheckLabel" for="check14"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check14">Fog Lamps</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check15" id="check15" />
                                    <label class="s-submitCheckLabel" for="check15"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check15">GPS Satellite Navigation </label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check16" id="check16" />
                                    <label class="s-submitCheckLabel" for="check16"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check16">Headlight Covers</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check17" id="check17" />
                                    <label class="s-submitCheckLabel" for="check17"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check17">Leather Seats</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check18" id="check18" />
                                    <label class="s-submitCheckLabel" for="check18"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check18">Leather Trim</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check19" id="check19" />
                                    <label class="s-submitCheckLabel" for="check19"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check19">LPG (Dual Fuel)</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check20" id="check20" />
                                    <label class="s-submitCheckLabel" for="check20"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check20">Roof Deflector</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check21" id="check21" />
                                    <label class="s-submitCheckLabel" for="check21"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check21">Rear Spoiler</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check22" id="check22" />
                                    <label class="s-submitCheckLabel" for="check22"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check22">Tinted Windows</label>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.3s">
                                    <input type="checkbox" name="check23" id="check23" />
                                    <label class="s-submitCheckLabel" for="check23"><span class="fa fa-check"></span></label>
                                    <label class="s-submitCheck" for="check23">Tow Bar</label>
                                </div>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.3s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>-->
                        <a routerLink="/BookingContact" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->
