<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> Araç Durumu (Dil) Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					Bağlı Araç Durumu
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="StatusID" [ngModel]="model?.StatusID" formControlName="StatusID"><option *ngFor="let item of model?.CarStatusList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- StatusID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Dil
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="TransID" [ngModel]="model?.TransID" formControlName="TransID"><option *ngFor="let item of model?.TranslationList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- TransID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					İsim
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Name" [ngModel]="model?.Name" formControlName="Name" type="text" />
					<br />
					<!-- Name -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/CarStatusT" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
