<footer>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="about_widget">
                            <div class="logo">
                                <a href="index.html" title=""><img src="/HumanResources/Content/img/logo.png" alt="" /></a>
                            </div>
                            <span>Demir mh. Can sk. No:2 Bakırköy, İstanbul </span>
                            <span>0999 999 99 99</span>
                            <span><a href="mailto:info@insankaynaklari.com">info@insankaynaklari.com</a></span>
                            <div class="social">
                                <a href="javascript:;" title=""><i class="fa fa-facebook"></i></a>
                                <a href="javascript:;" title=""><i class="fa fa-twitter"></i></a>
                                <a href="javascript:;" title=""><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:;" title=""><i class="fa fa-pinterest"></i></a>
                                <a href="javascript:;" title=""><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 column">
                    <div class="widget">
                        <h3 class="footer-title">Sıkça Sorulan Sorular</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:;" title="">Gizlilik ve Güvenlik </a>
                                    <a href="javascript:;" title="">Hizmet Şartları </a>
                                    <a href="javascript:;" title="">İletişim </a>
                                    <a href="javascript:;" title="">Tavsiye Koşulları </a>
                                    <a href="javascript:;" title="">Borç Verme Lisansları </a>
                                    <a href="javascript:;" title="">Sorumluluk Reddi Beyanları </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="javascript:;" title="">Destek </a>
                                    <a href="javascript:;" title="">Nasıl Çalışır </a>
                                    <a href="javascript:;" title="">İşverenler için </a>
                                    <a href="javascript:;" title="">Sigortalama </a>
                                    <a href="javascript:;" title="">Bize Ulaşın </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 column">
                    <div class="widget">
                        <h3 class="footer-title">Şehirler</h3>
                        <div class="link_widgets">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="javascript:;" title="">İstanbul İş İlanları</a>
                                    <a href="javascript:;" title="">Sivas İş İlanları</a>
                                    <a href="javascript:;" title="">Bilecik İş İlanları</a>
                                    <a href="javascript:;" title="">Antalya İş İlanları</a>
                                    <a href="javascript:;" title="">Ankara İş İlanları</a>
                                    <a href="javascript:;" title="">Bursa İş İlanları</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="download_widget">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/dw1.png" alt="" /></a>
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/dw2.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line">
        <span>Developed by <a href="http://www.sinasalik.net/" target="_blank" title="Developed by Sina SALIK">Sina SALIK</a></span>
        <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
    </div>
</footer>