<hr-respheader></hr-respheader>

<header class="stick-top forsticky">
    <div class="menu-sec">
        <div class="container">
            <div class="logo">
                <a routerLink="/" title="">
                    <img class="hidesticky" src="/HumanResources/Content/img/logo.png" alt="" />
                    <img class="showsticky" src="/HumanResources/Content/img/logo2.png" alt="" />
                </a>
            </div>
            <div class="btn-extars">
                <a href="/HumanResources/Admin/Login" target="_blank" title="Panel Giriş" class="post-job-btn"><i class="la la-key"></i>Panel Giriş</a>
                <ul class="account-btns">
                    <li class="signup-popup"><a title=""><i class="la la-key"></i> Kayıt Ol</a></li>
                    <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Giriş Yap</a></li>
                </ul>
            </div>
            <hr-menu></hr-menu>
        </div>
    </div>
</header>