@using TDLibrary

<div class="footer">
    <div class="left_footer">EMLAK SİTESİ ADMIN PANEL | Powered by <a href="http://www.sinasalik.net">sinasalik.net</a></div>
    <div class="right_footer">
        <a href="@AppMgr.AdminPath">
            <img src="@AppMgr.ImagePath/admin/logo.png" alt="" title="" border="0" /></a>
    </div>
</div>