@model Emlak.Users
@using Emlak
@using TDLibrary

<div class="header">
    <div class="logo">
        <a href="@AppMgr.AdminPath">
            <img src="@AppMgr.ImagePath/admin/logo.png" alt="" title="" border="0" />
        </a>
    </div>
    <div class="right_header">Hoşgeldiniz <b>@Model.Username</b>, <a href="@AppMgr.MainPath" target="_blank">Siteye Git</a> | <a href="javascript:;" class="logout">Çıkış Yap</a></div>
    <div id="clock_a"></div>
</div>