<!--b-infoBar-->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="b-infoBar__compare wow zoomInUp" data-wow-delay="0.5s">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle b-infoBar__compare-item" data-toggle='dropdown'><span class="fa fa-clock-o"></span><!--RECENTLY VIEWED-->SON GÖRÜNTÜLENENLER<span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/Cars/Detail/tempurl"><!--Item-->Araç 1</a></li>
                            <li><a routerLink="/Cars/Detail/tempurl"><!--Item-->Araç 2</a></li>
                            <li><a routerLink="/Cars/Detail/tempurl"><!--Item-->Araç 3</a></li>
                            <li><a routerLink="/Cars/Detail/tempurl"><!--Item-->Araç 4</a></li>
                        </ul>
                    </div>
                    <a routerLink="/Cars/Compare/tempurl" class="b-infoBar__compare-item"><span class="fa fa-compress"></span><!--COMPARE VEHICLES-->ARAÇ KIYASLAMA: 2</a>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="b-infoBar__select">
                    <div>
                        <!--form method="post" action="/"-->
                        <div class="b-infoBar__select-one wow zoomInUp" data-wow-delay="0.5s">
                            <span class="b-infoBar__select-one-title"><!--SHOW ON PAGE-->ADET</span>
                            <select name="select1" class="m-select">
                                <option value="" selected="">10 <!--items-->Araç</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="b-infoBar__select-one wow zoomInUp" data-wow-delay="0.5s">
                            <span class="b-infoBar__select-one-title"><!--SORT BY-->SIRALAMA</span>
                            <select name="select2" class="m-select">
                                <option value="" selected=""><!--Last Added-->Son Eklenen</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->

<!--b-items-->
<section class="b-items s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-xs-12">
                <div id="carousel-small" class="b-items__cars owl-carousel enable-owl-carousel"
                     data-items="1" data-navigation="true" data-auto-play="false"
                     data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">

                    <div *ngFor="let group of carList">
                        <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s" *ngFor="let item of group?.Cars">
                            <div class="b-items__cars-one-img">
                                <img src="/RentACar/{{ item?.PictureUrl }}" alt='dodge' />
                                <div>
                                    <input type="checkbox" name="checkCar" [attr.data-url]="item?.Url" />
                                    <label for="check1" class="b-items__cars-one-img-check"><span class="fa fa-check"></span></label>
                                </div>
                            </div>
                            <div class="b-items__cars-one-info">
                                <header class="b-items__cars-one-info-header s-lineDownLeft">
                                    <h2>{{ item?.Title }}</h2>
                                    <span>{{ item?.Price }} TL</span>
                                </header>
                                <p>
                                    {{ item?.ShortDescription }}
                                </p>
                                <div class="b-items__cars-one-info-km">
                                    <span class="fa fa-tachometer"></span> {{ item?.Mileage }} KM
                                </div>
                                <div class="b-items__cars-one-info-details">
                                    <div class="b-featured__item-links">
                                        <a href="javascript:;">{{ item?.Year }} Kayıtlı</a>
                                        <a href="javascript:;">{{ item?.Status }}</a>
                                        <a href="javascript:;">{{ item?.Gear }}</a>
                                        <a href="javascript:;">{{ item?.Fuel }}</a>
                                    </div>
                                    <a routerLink="/Cars/Detail/{{ item?.item?.Url }}" class="btn m-btn">{{ detail }}<span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Search Part-->
            <rac-carlistsearch></rac-carlistsearch>
            <!--Search Part-->

        </div>
    </div>
</section>
<!--b-items-->