<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-eye-open"></i> Log Tipi Düzenle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="duzenleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>

                <div class="editor-label">
                    İsim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Name" [ngModel]="model?.Name" formControlName="Name" type="text" value="{{ model?.Name }}" />
                    <!--Name-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kısa İsim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ShortName" [ngModel]="model?.ShortName" formControlName="ShortName" type="text" value="{{ model?.ShortName }}" />
                    <!--ShortName-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!duzenleForm.valid" />
                    <a routerLink="/Admin/LogTypes" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-eye-open"></i></span>
                        <h5>Bağlı Log İşlemleri</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>İsim</th>
                                    <th class="hideColumn">Kısa İsim</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.LogProcessList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Name }}</td>
                                    <td>{{ item?.ShortName }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/LogProcess/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="LogProcess" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a [routerLink]="['/Admin/LogProcess/Insert/' + model?.ID]" class="btn btn-primary btn-add" *ngIf="insertShow">Log İşlemi Ekle</a>
        </div>

        <input id="hdnModel" type="hidden" value="Logs" />
    </div>
</div>

<admin-copydelete></admin-copydelete>