<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-globe"></i> Diller</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-globe"></i></span>
                        <h5>Diller</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Dil</th>
                                    <th>Kısaltma</th>
                                    <th>Bayrak</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of DilList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.TransName }}</td>
                                    <td>{{ item?.ShortName }}</td>
                                    <td style="text-align:center;"><a href="/RealEstate/Uploads/{{ item?.Flag }}" target="_blank"><img src="/RealEstate/Uploads/{{ item.Flag }}" style="height:20px; max-width:40px;" /></a></td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/Translation/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="rmvLink" *ngIf="removeShow" data-toggle="modal" href="#rmvData" data-controller="Translation" [attr.data-id]="item?.ID">Kaldır</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="Translation" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/Translation/Insert" class="btn btn-primary btn-add" *ngIf="insertShow">Dil Ekle</a>
        </div>

        <input id="hdnType" type="hidden" value="Translation" />
    </div>
</div>

<admin-copydelete></admin-copydelete>