.YasalUyari
{
	text-align:center;
	height:18px;
	margin-left:0px;
	margin-top:10px;
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.Developer
{
	text-align:left;
	height:18px;
	padding-right:40px;
	margin-top:20px;
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.Ziyaretci
{
    position:relative;
    float:left;
	text-align:left;
	height:18px;
	width:760px;
	padding-left:50px;
	margin-top:0px;
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.EnAltLinkler
{
	text-align:center;
	height:18px;
	margin-left:0px;
	margin-top:20px;
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.EnAltLinkler a
{
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.EnAltLinkler a:active
{
	font-family:Verdana;
	color:black;
	font-size:11px;
}

.EnAltLinkler a:hover
{
	font-family:Verdana;
	color:black;
	font-size:11px;
	text-decoration:underline;
}

.EnAltLinkler a:link
{
	font-family:Verdana;
	color:black;
	font-size:11px;
}