.IcerikBaslik
{
    float: left;
    width: 817px;
    height:30px;
    font-weight:bold;
    padding-top:15px;
    padding-left:10px;
    border: 1px solid lightgrey;
    margin: 0px 0px 0px 0px;
	white-space: nowrap;
	overflow: hidden;
}

.IcerikMetin
{
    float:left;
    width: 830px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 30px 0px 0px 0px;
}

.Siralama
{
    float:right;
    width:170px;
    text-align:right;
    margin-top: -5px;
}

.BaslikMetin
{
    float:left;
    width:400px;
    text-align:left;
}

.AcilirMenu
{
    border: 1px solid lightgrey;
    margin-right: 10px;
}

.EmlakYeni
{
	background-color:Transparent;
	float: left;
	margin-left: 5px;
	margin-top:5px;
	height: 40px;
}

.ShowroomBaslik
{
    float:right;
	
    height: 25px;
    margin-right:10px;
    margin-top: 20px;
    font-weight:bold;
    width: 150px;
    text-align:right;
}

.ShowroomArka
{
	width:250px;
	height:185px;
	background-color:Transparent;
	background-repeat:no-repeat;
	text-align:center;
	margin: 0px 12px 20px 12px;
	float:left;
	border: 1px solid lightgrey;
}

.ShowroomResim
{
    float:left;
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top:20px;
}

.ShowroomMetin
{
    float:right;
    text-align:right;
    margin-right:10px;
    margin-top:10px;
    width:130px;
    font-size: 12px;
}

.ShowRoomSayfalama
{
    width:100%;
    text-align:center;
    color:Black;
}

.ShowRoomSayfalama a
{
    color:Black;
}

.ShowRoomSayfalama a:active
{
    color:Black;
}

.ShowRoomSayfalama a:hover
{
    color:gray;
}

.AnaSayfaAlt
{
    width:100%;
    text-align:right;
    color:Black;
    font-weight:bold;
    float: right;
    margin: -10px 0px 20px 0px;
}

.AnaSayfaAlt a
{
    color:Black;
    font-weight:bold;
}

.AnaSayfaAlt a:active
{
    color:Black;
    font-weight:bold;
}

.AnaSayfaAlt a:hover
{
    color:gray;
    font-weight:bold;
}

.AnaSayfaIkiliKolon
{
    width:380px;
    height:290px;
    padding-left:10px;
    padding-right:10px;
    margin: 0px 0px 30px 0px;
    float: left;
    border: 1px solid lightgrey;
}

.AnaSayfaIkiliKolonBaslik
{
    width:380px;
    height:20px;
    margin-top:25px;
    color:black;
    font-weight:bold;
    font-size:14px;
    font-family:Verdana;
}

.AnaSayfaIkiliKolonIcerik
{
    width:380px;
    height:200px;
    margin-top:25px;
    color:black;
    font-size:12px;
    font-family:Verdana;
}

.AnaSayfaIkiliKolonResim
{
    float:left;
    width:130px;
    height:200px;
    color:black;
    font-size:12px;
    font-family:Verdana;
    text-align:left;
}

.AnaSayfaIkiliKolonMetin
{
    float:left;
    width: 250px;
    height:200px;
    color:black;
    text-align: left;
    font-size:12px;
    font-family:Verdana;
}

.AnaSayfaIkiliKolonMetin font { 
	overflow: hidden;
	height: 180px;
	float:left;
	width: 250px;
	text-align: left;
}