.IletisimKolon1
{
    float:left;
    text-align: left;
    width:46%;
}

.IletisimKolon2
{
    float:left;
    text-align: left;
    width:54%;
}

.IletisimAdres
{
    width:100%;
    text-align:center;
}

.IletisimKolonBaslik
{
    float:left;
    text-align:right;
    width:50%;
}

.IletisimKolonIcerik
{
    float:left;
    text-align:left;
    width:50%;
}