.SolBaslik
{
    text-align: left; 
    padding-left: 10px;
    height: 28px;
	
    line-height: 28px;
    width: 180px;
    font-weight:bold;
	font-family:Verdana;
	
    color: #000;
	border-top:1px solid lightgrey;
	border-left:1px solid lightgrey;
	border-right:1px solid lightgrey;
	border-bottom:0px;
    float: left;
}

.SolBaslik a 
{
	font-family:Verdana;
	color:#000;
}

.SolBaslik a:hover
{
	color:grey;
}

.SolIcerik
{
    text-align: center; 
    padding: 10px;
    min-height:120px;
    width: 170px;
    border: 1px solid lightgrey;
	color:black;
    margin-bottom:20px;
    float: left;
}

.SolIcerik a 
{
	font-weight:bold;
	font-family:Verdana;
	color:black;
}
.SolIcerik a:hover
{
	color:gray;
}

.SolIcerik hr
{
	border:none;
	border-top:1px solid lightgrey;
}

.YeniEmlaklar
{
	width: 170px;
	text-align:center;
}

ul.solmenu { float:left; margin: 0px 0px 20px 0px; list-style-type:none; border:1px solid lightgrey; width: 190px; padding: 0px; font-family: Arial; font-weight: bold; border-bottom: 0px; background-color: #fff;}
ul.solmenu li  { float:left; margin: 0px 0px 0px 0px; padding: 0px; border-bottom: 1px solid lightgray; width: 100%;}
ul.solmenu li a { float:left; margin:0px 0px 0px 0px; width: 170px; padding: 10px; white-space:nowrap; overflow: hidden;}
ul.solmenu li a:hover {  }
ul.solmenu li ul  { float:left; margin: -1px 0px 0px 190px; list-style-type:none; border: 1px solid lightgray; position: absolute; z-index: 999; background-color: #fff; padding: 0px; border-bottom: 0px; width: 190px; display: none;}
ul.solmenu li ul li { float:left; margin:0px 0px 0px 0px; padding: 0px; width: 100%;}
ul.solmenu li ul li a { float:left; margin:0px 0px 0px 0px; padding: 10px; width: 170px; white-space:nowrap; overflow: hidden;}
ul.solmenu li ul li a:hover {  }


#solarasonuclist { z-index:5; border: 1px solid gray; width: 290px; padding: 22px 3px 0px 3px; float: left; margin: -22px 0px 0px 161px; position: absolute; background-color: #fff; height: 207px; overflow-y: scroll; overflow-x: hidden; display: none;}
#solarasonuclist li { clear: both; float: left; width: 100%; background-color: #fff; overflow: hidden; height: 25px; line-height: 19px; }
#solarasonuclist li:hover { background-color: #cfcfcf!important; color: #fff!important;}
#solarasonuclist li.focus { background-color: #cfcfcf!important; color: #fff!important;}
#solarasonuclist li a { color: #C65378; font-size: 11px; float: left; padding: 5px; width: 100%;}
#solarasonuclist li a:hover { color: #fff; }
#solarasonuclist li.focus { background-color: #cfcfcf!important; color: #fff!important; }
#solarasonuckapat { z-index:5; float: left; margin: -35px 0px 0px 362px; position: absolute; display: none; }
#solarasonuckapat img { width:25px; }
@-moz-document url-prefix() { #solarasonuckapat { margin-left:295px; } }







