body {font-family:Arial;}
.Welcome-area .proerty-item .item-thumb {text-align:center;}
.Welcome-area .proerty-item .item-thumb a img {height:248px;}
.box-two.proerty-item .item-thumb a img {height:225px;}
.proerty-th .proerty-item .item-entry h5, .footer h4, .page-title h2, 
.blg-entry h6 a, .page-head-content .page-title, .single-property-header .property-title {text-transform:none;}
.count-area .about-item {margin-top:20px;}
.header-social ul.list-inline li {float:right;}
.navbar-brand {height:auto;}
.navbar-brand > img {height:53px;width: auto;}
.navbar .container {padding-top:0px;}
.button.navbar-right {padding-top:20px;}
.navbar-right {margin-top:15px;}
ul.footer-blog li {margin-bottom: 0px;}
.slider-content {top:70%;}
.footer a {color:#FFA600;}
.footer-blog.blog-news .blg-entry {padding-left:0px;}
.blog-page .post h4 {text-align:left;}
.header-half.header-social {margin-top: -20px;}
.blg-entry h6 {margin:0px;}
.blg-thumb a img {height:50px;}
.page-subheader .sort-by-list {float:right;}
#lblSonuc {float: left;width:100%; text-align:center;}
.search-row .form-group b, .panel.sidebar-menu .panel-body b {margin-left:5px;}
.prop-btm-sheaerch {display:inline-block;}
.panel.sidebar-menu .panel-body b {font-size:10px;}
.prp-style-1 .single-property-wrapper {margin-top:0px;}