.EnUstAlan {
    height: 160px;
    width: 1040px;
    font-family: Verdana;
    color: #000000;
    font-size: small;
    padding-top: 10px;
    margin-bottom: 5px;
}

    .EnUstAlan a {
        font-family: Verdana;
        color: #000000;
        font-size: small;
    }

        .EnUstAlan a:active {
            font-family: Verdana;
            color: #000000;
            font-size: small;
        }

        .EnUstAlan a:hover {
            font-family: Verdana;
            color: #000000;
            font-size: small;
            text-decoration: underline;
        }

        .EnUstAlan a:link {
            font-family: Verdana;
            color: #000000;
            font-size: small;
        }

a.btnLang:hover {
  text-decoration:none;   
}

.Logo {
    height: 135px;
    width: 400px;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    padding: 0px;
}

.EnUstLinkler {
    float: right;
    margin: 0px 10px 0px 0px;
}

.PanelGiris {
    float: right;
    margin: 20px 0px 0px 200px;
    margin-left: 200px;
    width: 370px;
    text-align: right;
    padding: 10px 0px 10px 0px;
}

.PanelTextBox {
    border: 1px solid lightgrey;
    width: 100px;
}

.Button {
    width: 102px;
    height: 20px;
    border-width: 0px;
    border: 1px solid lightgrey;
    margin: 5px 0px 0px 0px;
}

    .Button:hover {
        cursor: pointer;
        background-color: #fff;
    }

.BannerLinkler {
    line-height: 40px;
    float: right;
    margin-top: 250px;
    font-weight: bold;
    font-family: Verdana;
    color: black;
    font-size: 11px;
    padding: 0px 30px 0px 30px;
    background-color: #fff;
}

.AraButon {
    width: 25px;
    height: 20px;
    position: relative;
    margin-top: -2px;
    border-width: 0px;
    background-image: url('../img/arabutton.png');
    background-color: transparent;
}

    .AraButon:hover {
        background-image: url('../img/arabuttonust.png');
    }

.Lang {
    float: right;
    margin: 6px 10px 0px 0px;
    width: 400px;
    text-align: right;
    height: 24px;
}

    .Lang input[type=submit] {
        border: 0px;
        background-color: transparent;
        background-image: url(../img/flags.jpg);
        width: 21px;
        height: 14px;
        cursor: pointer;
    }

    .Lang input[data-lang=tr] {
        background-position: 140px 49px;
    }

    .Lang input[data-lang=en] {
        background-position: 340px 21px;
    }

    .Lang img {
        width: 21px;
        height: 14px;
    }

#lblsonuc {
    color: red;
    margin: 7px 5px 0px 0px;
    text-align: right;
    display: none;
}
