<hr-banner [title]="'Hoşgeldiniz İş Veren'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-employerleftmenu></hr-employerleftmenu>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="profile-title">
                            <h3>Yeni İlan Ekle</h3>
                            <div class="steps-sec">
                                <div class="step active">
                                    <p><i class="la la-info"></i></p>
                                    <span>Bilgi</span>
                                </div>
                                <div class="step">
                                    <p><i class="la la-cc-mastercard"></i></p>
                                    <span>Paket ve Ödeme Bilgisi</span>
                                </div>
                                <div class="step">
                                    <p><i class="la  la-check-circle"></i></p>
                                    <span>Tamamlandı</span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-form-edit">
                            <div>
                                <!--form-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="pf-title">İlan Başlığı</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="Designer" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Açıklama</span>
                                        <div class="pf-field">
                                            <textarea>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Birkaç yıl boyunca West Palm Beach, FL’de meyan kökü lisansı yaptı. Satış sonrası pazarda banjos ile çalışmak için birkaç yeni yöntem geliştirdi. West Palm Beach, FL'da banjos ithal eden bir haftasonu geçirdi. Bu pozisyonda Yazılım Mühendisi, mevcut yazılım çözümlerimizi sürekli olarak geliştirmek ve mevcut back-office operasyonlarını ve mevcut yönetim zorluklarını ortadan kaldırmak için yeni çözümler üretmek için Evention'in Geliştirme ekibiyle işbirliği yapıyor.</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">E-Posta</span>
                                        <div class="pf-field">
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Kullanıcı Adı</span>
                                        <div class="pf-field">
                                            <input type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Job Type</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Uzmanlık Seçiniz" class="chosen">
                                                <option>Web Yazılım</option>
                                                <option>Web Tasarım</option>
                                                <option>Yazılım Uzmanı</option>
                                                <option>Aşçı</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Kategoriler</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Kategori Seçiniz" class="chosen">
                                                <option>Bilgi-İşlem</option>
                                                <option>Reklam</option>
                                                <option>Basın-Yayın</option>
                                                <option>Finans</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Maaş Aralığı</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Maaş Aralığı Seçiniz" class="chosen">
                                                <option>1000-2000 TL</option>
                                                <option>2000-5000 TL</option>
                                                <option>5000-10000 TL</option>
                                                <option>10000+ TL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Pozisyon Seviyesi</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Pozisyon Seviyesi Seçiniz" class="chosen">
                                                <option>Uzman</option>
                                                <option>Uzman Yardımcısı</option>
                                                <option>Yönetici</option>
                                                <option>Eleman</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Deneyim</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Deneyim Seçiniz" class="chosen">
                                                <option>0-2 Yıl</option>
                                                <option>2-5 Yıl</option>
                                                <option>5-10 Yıl</option>
                                                <option>10+ Yıl</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Cinsiyet</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Cinsiyet Seçiniz" class="chosen">
                                                <option>Farketmez</option>
                                                <option>Erkek</option>
                                                <option>Kadın</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Sektör</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Sektör Seçiniz" class="chosen">
                                                <option>Kamu</option>
                                                <option>Özel</option>
                                                <option>Bilişim</option>
                                                <option>Reklam</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Bölüm</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Bölüm Seçiniz" class="chosen">
                                                <option>Araştırma-Geliştirme</option>
                                                <option>Baskı</option>
                                                <option>Eczacılık</option>
                                                <option>Eğitim-Öğretim</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">İlan Bitiş Tarihi</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="01.11.207" class="form-control datepicker" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Beklenen Yetkinlikler</span>
                                        <div class="pf-field">
                                            <ul class="tags">
                                                <li class="addedTag">Photoshop<span onclick="$(this).parent().remove();" class="tagRemove">x</span>
                                                <input type="hidden" name="tags[]" value="Web Tasarım"></li>
                                                <li class="tagAdd taglist">
                                                    <input type="text" id="search-field">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Şehir</span>
                                        <div class="pf-field">
                                            <select data-placeholder="Şehir Seçiniz" class="chosen">
                                                <option>İstanbul (Asya)</option>
                                                <option>İstanbul (Avrupa)</option>
                                                <option>Ankara</option>
                                                <option>İzmir</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Adres</span>
                                        <div class="pf-field">
                                            <textarea>Demir mh. Can sk. No:2 Bakırköy, İstanbul</textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="contact-edit">
                            <div>
                                <!--form-->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span class="pf-title">Yer Bilgisi</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="Demir mh. Can sk. No:2 Bakırköy, İstanbul" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Enlem</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="41.1589654" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <span class="pf-title">Boylam</span>
                                        <div class="pf-field">
                                            <input type="text" placeholder="21.1589654" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <a href="#" title="" class="srch-lctn">Yer</a>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Haritalar</span>
                                        <div class="pf-map">
                                            <div id="map_div"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">İleri</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>