<hr-banner [title]="'Hoşgeldiniz İş Veren'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-employerleftmenu></hr-employerleftmenu>
                    
                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>