<hr-banner [title]="'Hoşgeldiniz İş Veren'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-employerleftmenu></hr-employerleftmenu>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="emply-resume-sec">
                            <h3>Başvurular</h3>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="emply-resume-list">
                                <div class="emply-resume-thumb">
                                    <img src="/HumanResources/Content/img/resource/er1.jpg" alt="" />
                                </div>
                                <div class="emply-resume-info">
                                    <h3><a href="#" title="">Ali TUFAN</a></h3>
                                    <span><i>Web Yazılım</i> Atract Solutions</span>
                                    <p><i class="la la-map-marker"></i>Istanbul (Asya)</p>
                                </div>
                                <div class="action-resume">
                                    <div class="action-center">
                                        <span>İşlem <i class="la la-angle-down"></i></span>
                                        <ul>
                                            <li class="open-letter"><a href="#" title="">Önyazı</a></li>
                                            <li><a href="#" title="">Özgeçmiş İndir</a></li>
                                            <li class="open-contact"><a href="#" title="">Mesaj Gönder</a></li>
                                            <li><a href="javascript:;" title="">Profil Göster</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="del-resume">
                                    <a href="javascript:;" title=""><i class="la la-trash-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>