<form [formGroup]="girisForm" (ngSubmit)="onSubmit()">
	<div id="loginbox">
		<div class="control-group normal_text"> <h3><img src="Content/admin/img/logo.png" alt="Logo" /></h3></div>
		<div class="control-group">
			<div class="controls">
				<div class="main_input_box">
					<span class="add-on bg_lg"><i class="icon-user"> </i></span><input id="username" type="text" formControlName="username" placeholder="Kullanıcı Adı" (keypress)="onKeyPress($event)" />
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<div class="main_input_box">
					<span class="add-on bg_ly"><i class="icon-lock"></i></span><input id="password" type="password" formControlName="password" placeholder="Şifre" (keypress)="onKeyPress($event)" />
				</div>
			</div>
		</div>
		<div class="alert alert-error" style="display:none;">
			<strong>Hata! </strong> <span id="hataMesaj">{{ hataMesaj }}</span>
		</div>
		<div class="form-actions">
			<span class="pull-right"><img id="imgLoading" src="Content/admin/img/loading.gif" /><input id="btnGiris" type="submit" class="btn btn-success" value="Giriş Yap" [disabled]="!girisForm.valid" /></span>
		</div>
	</div>
</form>
