<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-tags"></i> Meta Ekle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="ekleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    Başlık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Title" [ngModel]="model?.Title" formControlName="Title" type="text" />
                    <br />
                    <!--Title-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kod
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" />
                    <br />
                    <!--Code-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Aktif mi?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" />
                    <br />
                    <!--Active-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!ekleForm.valid" />
                    <a routerLink="/Admin/Meta" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>