@using TDLibrary

@{
    ViewBag.Title = "Atamalar";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPanel.cshtml";
}

<div class="right_content">
    <div id="AssignmentsTableContainer">
        <div id="processframe">
            <img src="@AppMgr.ImagePath/admin/loading.gif" /></div>
        <div class="leftcolumn">
            <div class="head">
                <span>Atanacak (Ana) Tip :</span>
                <select id="targettype">
                    <option value="Category" selected="selected">Kategori</option>
                    <option value="Content">İçerik</option>
                    <option value="Files">Dosya</option>
                    <option value="FilesNoLang">Dosya (Dilsiz)</option>
                    <option value="Gallery">Galeri</option>
                    <option value="Pictures">Resim</option>
                    <option value="PicturesNoLang">Resim (Dilsiz)</option>
                    <option value="RealEstateAds">Emlak</option>
                </select>
                <span>İsim Filtre :</span>
                <input type="text" id="targetfiltername" />
            </div>
            <div id="targettyperesult"></div>
        </div>
        <div class="rightcolumn">
            <div class="head">
                <span>Bağlanacak Tip :</span>
                <select id="maintype">
                    <option value="Content" selected="selected">İçerik</option>
                    <option value="Files">Dosya</option>
                    <option value="FilesNoLang">Dosya (Dilsiz)</option>
                    @*<option value="Rank">Puanlama</option>*@
                    <option value="URLink">Link</option>
                    <option value="URLinkNoLang">Link (Dilsiz)</option>
                    <option value="Gallery">Galeri</option>
                    <option value="Pictures">Resim</option>
                    <option value="PicturesNoLang">Resim (Dilsiz)</option>
                    <option value="RealEstateAds">Emlak</option>
                </select>
                <span>İsim Filtre :</span>
                <input type="text" id="mainfiltername" />
            </div>
            <div id="maintyperesult"></div>
        </div>
    </div>
</div>
