@{
    ViewBag.Title = "Diller";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPanel.cshtml";
}

<div class="right_content">
    <div class="FilterContainer">
        <span>Dil : </span>
        <input type="text" id="langName" name="langName" />
        <input type="button" id="filterButton" value="Filtrele" />
    </div>
    <div id="LangTableContainer"></div>
</div>
