@{
    ViewBag.Title = "Resimler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPanel.cshtml";
}

<div class="right_content">
    <div class="FilterContainer">
        <span>Resim İsmi : </span>
        <input type="text" id="pictureName" name="pictureName" />
        <span>Aktif : </span>
        <select id="active">
            <option value="-">Hepsi</option>
            <option value="active">Aktif</option>
            <option value="passive">Pasif</option>
        </select>
        <input type="button" id="filterButton" value="Filtrele" />
    </div>
    <div id="PicturesTableContainer"></div>
</div>

