@using TDLibrary

<h1>tdCalendar by Sina SALIK</h1>
( <a href="downloads/tdCalendar.zip?v=1.2">İndir</a> )
<br />
<h3>Notlar</h3>
Takvim eklenecek textbox'a aşağıdaki şekilde uygulanır.
<pre style="width: 750px;">
    $("#calendar1").tdCalendar();
                </pre>
Belli bir tarih seçilecekse aşağıdaki şekilde uygulanır.
<pre style="width: 750px;">
    $("#calendar1").tdCalendar("28.01.2018");
                </pre>

<input id="calendar1" type="text" />
<br />
<br />
<br />