<div class="footer">
    <div class="middle">
        @{ Html.RenderPartial("~/Views/Kontroller/AltBolge/_Linkler.cshtml"); }
    </div>
    <div class="middle clear">
        @{ Html.RenderPartial("~/Views/Kontroller/AltBolge/_Mesaj.cshtml"); }
    </div>
</div>
