@using TDLibrary

<div id="footerlinks">
    <div class="footerlinks">
        <ul>
            <li class="linkheader">Üye</li>
            <li><a href="#">Üye Giriş</a></li>
            <li><a href="#">Üye Ol</a></li>
            <li><a href="#">İş İlnaları</a></li>
        </ul>
    </div>
    <div class="footerlinks">
        <ul>
            <li class="linkheader">Şirket</li>
            <li><a href="#">Şirket Giriş</a></li>
            <li><a href="#">Üye Ol</a></li>
            <li><a href="#">İlan Ver</a></li>
        </ul>
    </div>
    <div class="footerlinks">
        <ul>
            <li class="linkheader">Kurumsal</li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">Reklam Verin</a></li>
        </ul>
    </div>
    <div class="footerlinks">
        <ul>
            <li class="linkheader">Site İçi</li>
            <li><a href="#">Site Kullanımı</a></li>
            <li><a href="#">Garanti, İade, İptal</a></li>
            <li><a href="#">Gizlilik ve Üyelik</a></li>
        </ul>
    </div>
</div>
<div id="sociallinks">
    <a id="infolink" href="mailto:bilgi@ikproje.com">bilgi@ikproje.com</a>
    <span id="rightstext">IkProje © 2015-2016</span>
    <a href="#"><img src="@AppMgr.ImagePath/icons/facebook.png" /></a>
    <a href="#"><img src="@AppMgr.ImagePath/icons/twitter.png" /></a>
    <a href="#"><img src="@AppMgr.ImagePath/icons/linkedin.png" /></a>
</div>
