<ul id="resumeupdate">
    <li><a class="orange active" onclick="javascript:;" data-tab="genel">Genel Bilgiler</a></li>
    <li><a class="blue" onclick="javascript:;" data-tab="calisma">Çalışma Bilgileri</a></li>
    <li><a class="green" onclick="javascript:;" data-tab="is">Deneyimler</a></li>
    <li><a class="purple" onclick="javascript:;" data-tab="egitim">Eğitim Bilgileri</a></li>
    <li><a class="yellow" onclick="javascript:;" data-tab="dosya">Dosyalar</a></li>
</ul>