<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-file"></i> Form Elemanı Düzenle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="duzenleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>
                <div class="editor-label">
                    Form Grubu
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="GroupID" [ngModel]="model?.GroupID" formControlName="GroupID"><option *ngFor="let item of model?.PropertyGroupList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--GroupID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Form Eleman Tipi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="PropTypeID" [ngModel]="model?.PropTypeID" formControlName="PropTypeID"><option *ngFor="let item of model?.PropertyTypesList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--PropTypeID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Başlık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Title" [ngModel]="model?.Title" formControlName="Title" type="text" value="{{ model?.Title }}" />
                    <br />
                    <!--Title-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Açıklama
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Description" [ngModel]="model?.Description" formControlName="Description" type="text" value="{{ model?.Description }}" />
                    <br />
                    <!--Description-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Hata Mesajı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ErrorMessage" [ngModel]="model?.ErrorMessage" formControlName="ErrorMessage" type="text" value="{{ model?.ErrorMessage }}" />
                    <br />
                    <!--ErrorMessage-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kod
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" value="{{ model?.Code }}" />
                    <br />
                    <!--Code-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Sıra Numarası
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="OrderNumber" [ngModel]="model?.OrderNumber" formControlName="OrderNumber" type="text" value="{{ model?.OrderNumber }}" />
                    <br />
                    <!--OrderNumber-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!duzenleForm.valid" />
                    <a routerLink="/Admin/FormEleman" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tags"></i></span>
                        <h5>Bağlı Form Eleman Özellikleri</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Değer</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.PropertyAttributesList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Name }}</td>
                                    <td>{{ item?.Value }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/FormElemanOzellik/Duzenle/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" *ngIf="copyShow" data-toggle="modal" href="#cpyData" data-controller="FormElemanOzellik" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="FormElemanOzellik" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a [routerLink]="['/Admin/FormElemanOzellik/Ekle/' + model?.ID]" class="btn btn-primary btn-add" *ngIf="insertShow">Form Eleman Özelliği Ekle</a>
        </div>

        <div class="row-fluid" *ngIf="model?.HasValue">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tags"></i></span>
                        <h5>Bağlı Form Eleman Değerleri</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Metin</th>
                                    <th>Değer</th>
                                    <th class="hideColumn">Kod</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.PropertyValuesList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Text }}</td>
                                    <td>{{ item?.Value }}</td>
                                    <td class="hideColumn">{{ item.Code }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/FormElemanDeger/Duzenle/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" *ngIf="copyShow" data-toggle="modal" href="#cpyData" data-controller="PropertyValues" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="PropertyValues" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a [routerLink]="['/Admin/FormElemanDeger/Ekle/' + model?.ID]" class="btn btn-primary btn-add" *ngIf="insertShow">Form Eleman Değeri Ekle</a>
        </div>

        <input id="hdnModel" type="hidden" value="FormEleman" />
    </div>
</div>

<admin-copydelete></admin-copydelete>