<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-tasks"></i> Form Elemanları</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tasks"></i></span>
                        <h5>Form Elemanları</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Form Grubu</th>
                                    <th class="hideColumn">Kod</th>
                                    <th>Form Eleman Tipi</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of FormElemanList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Title }}</td>
                                    <td *ngIf="item?.GroupAdi != null">{{ item?.GroupAdi }}</td>
                                    <td *ngIf="item?.GroupAdi == null">-</td>
                                    <td class="hideColumn">{{ item?.Code }}</td>
                                    <td style="text-align:center;">{{ item?.TypeAdi }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/FormEleman/Duzenle/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" *ngIf="copyShow" data-toggle="modal" href="#cpyData" data-controller="FormEleman" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="FormEleman" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/FormEleman/Ekle" class="btn btn-primary btn-add" *ngIf="insertShow">Form Elemanı Ekle</a>
        </div>

        <input id="hdnModel" type="hidden" value="FormEleman" />
    </div>
</div>

<admin-copydelete></admin-copydelete>