<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-home"></i> Emlaklar</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-home"></i></span>
                        <h5>Emlaklar</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Satılık / Kiralık</th>
                                    <th class="hideColumn">Durumu</th>
                                    <th class="hideColumn2">Fiyat</th>
                                    <th>Aktif</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of EmlakList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Baslik }}</td>
                                    <td>{{ item?.Satilik == true ? "Satılık" : "Kiralık" }}</td>
                                    <td class="hideColumn">{{ item?.Durum }}</td>
                                    <td class="hideColumn2">{{ item?.Fiyat }} TL</td>
                                    <td style="text-align:center;"><img *ngIf="item?.Active" class="active" /><img *ngIf="!item?.Active" class="passive" /></td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/RealEstates/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" *ngIf="copyShow" data-toggle="modal" href="#cpyData" data-controller="RealEstates" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="RealEstates" [attr.data-id]="item?.ID">Sil</a></li>
                                                <li><a class="rmvLink" *ngIf="removeShow" data-toggle="modal" href="#rmvData" data-controller="RealEstates" [attr.data-id]="item?.ID">Kaldır</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/RealEstates/Insert" class="btn btn-primary btn-add" *ngIf="insertShow">Emlak Ekle</a>
        </div>

        <input id="hdnModel" type="hidden" value="Website" />
    </div>
</div>

<admin-copydelete></admin-copydelete>