<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-home"></i> Emlak Ekle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="ekleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    Başlık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Baslik" [ngModel]="model?.Baslik" formControlName="Baslik" type="text" />
                    <br />
                    <!--Baslik-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kod
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" />
                    <br />
                    <!--Code-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Aktif mi?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" />
                    <br />
                    <!--Active-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Yeni mi?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Yeni" [ngModel]="model?.Yeni" formControlName="Yeni" type="checkbox" />
                    <br />
                    <!--Yeni-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Günün Emlağı mı?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="GununEmlagi" [ngModel]="model?.GununEmlagi" formControlName="GununEmlagi" type="checkbox" />
                    <br />
                    <!--GununEmlagi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Durum
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Durum" [ngModel]="model?.Durum" formControlName="Durum" type="text" />
                    <br />
                    <!--Durum-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Isınma Tipi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="IsinmaTipi" [ngModel]="model?.IsinmaTipi" formControlName="IsinmaTipi" type="text" />
                    <br />
                    <!--IsinmaTipi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Yakıt Tipi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="YakitTipi" [ngModel]="model?.YakitTipi" formControlName="YakitTipi" type="text" />
                    <br />
                    <!--YakitTipi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Şehir
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Sehir" [ngModel]="model?.Sehir" formControlName="Sehir" type="text" />
                    <br />
                    <!--Sehir-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    İlçe
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Ilce" [ngModel]="model?.Ilce" formControlName="Ilce" type="text" />
                    <br />
                    <!--Ilce-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Semt
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Semt" [ngModel]="model?.Semt" formControlName="Semt" type="text" />
                    <br />
                    <!--Semt-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Sahibi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Sahibi" [ngModel]="model?.Sahibi" formControlName="Sahibi" type="text" />
                    <br />
                    <!--Sahibi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Enlem
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Enlem" [ngModel]="model?.Enlem" formControlName="Enlem" type="text" />
                    <br />
                    <!--Enlem-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Boylam
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Boylam" [ngModel]="model?.Boylam" formControlName="Boylam" type="text" />
                    <br />
                    <!--Boylam-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Fiyat
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Fiyat" [ngModel]="model?.Fiyat" formControlName="Fiyat" type="number" />
                    <br />
                    <!--Fiyat-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Oda Sayısı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="OdaSayisi" [ngModel]="model?.OdaSayisi" formControlName="OdaSayisi" type="number" />
                    <br />
                    <!--OdaSayisi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kat Sayısı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="KatSayisi" [ngModel]="model?.KatSayisi" formControlName="KatSayisi" type="number" />
                    <br />
                    <!--KatSayisi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Salon Sayısı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="SalonSayisi" [ngModel]="model?.SalonSayisi" formControlName="SalonSayisi" type="number" />
                    <br />
                    <!--SalonSayisi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bulunduğu Kat
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="BulunduguKat" [ngModel]="model?.BulunduguKat" formControlName="BulunduguKat" type="number" />
                    <br />
                    <!--BulunduguKat-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Alan
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Alan" [ngModel]="model?.Alan" formControlName="Alan" type="number" />
                    <br />
                    <!--Alan-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bina Yaşı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="BinaYasi" [ngModel]="model?.BinaYasi" formControlName="BinaYasi" type="number" />
                    <br />
                    <!--BinaYasi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Arka Cephe
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ArkaCephe" [ngModel]="model?.ArkaCephe" formControlName="ArkaCephe" type="checkbox" />
                    <br />
                    <!--ArkaCephe-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Ön Cephe
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="OnCephe" [ngModel]="model?.OnCephe" formControlName="OnCephe" type="checkbox" />
                    <br />
                    <!--OnCephe-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Caddeye Yakın
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="CaddeyeYakin" [ngModel]="model?.CaddeyeYakin" formControlName="CaddeyeYakin" type="checkbox" />
                    <br />
                    <!--CaddeyeYakin-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Denize Sıfır
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="DenizeSifir" [ngModel]="model?.DenizeSifir" formControlName="DenizeSifir" type="checkbox" />
                    <br />
                    <!--DenizeSifir-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Denize Yakın
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="DenizeYakin" [ngModel]="model?.DenizeYakin" formControlName="DenizeYakin" type="checkbox" />
                    <br />
                    <!--DenizeYakin-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Manzara
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Manzara" [ngModel]="model?.Manzara" formControlName="Manzara" type="checkbox" />
                    <br />
                    <!--Manzara-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Merkezde
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Merkezde" [ngModel]="model?.Merkezde" formControlName="Merkezde" type="checkbox" />
                    <br />
                    <!--Merkezde-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Metro
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Metro" [ngModel]="model?.Metro" formControlName="Metro" type="checkbox" />
                    <br />
                    <!--Metro-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Otoban
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Otoban" [ngModel]="model?.Otoban" formControlName="Otoban" type="checkbox" />
                    <br />
                    <!--Otoban-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Toplu Ulaşım
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="TopluUlasim" [ngModel]="model?.TopluUlasim" formControlName="TopluUlasim" type="checkbox" />
                    <br />
                    <!--TopluUlasim-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Asansör
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Asansor" [ngModel]="model?.Asansor" formControlName="Asansor" type="checkbox" />
                    <br />
                    <!--Asansor-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bahçe
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Bahce" [ngModel]="model?.Bahce" formControlName="Bahce" type="checkbox" />
                    <br />
                    <!--Bahce-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Güvenlik
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Guvenlik" [ngModel]="model?.Guvenlik" formControlName="Guvenlik" type="checkbox" />
                    <br />
                    <!--Guvenlik-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Hidrofor
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Hidrofor" [ngModel]="model?.Hidrofor" formControlName="Hidrofor" type="checkbox" />
                    <br />
                    <!--Hidrofor-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Mantolama
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Mantolama" [ngModel]="model?.Mantolama" formControlName="Mantolama" type="checkbox" />
                    <br />
                    <!--Mantolama-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Jenerator
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Jenerator" [ngModel]="model?.Jenerator" formControlName="Jenerator" type="checkbox" />
                    <br />
                    <!--Jenerator-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kapıcı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Kapici" [ngModel]="model?.Kapici" formControlName="Kapici" type="checkbox" />
                    <br />
                    <!--Kapici-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Satılık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Satilik" [ngModel]="model?.Satilik" formControlName="Satilik" type="checkbox" />
                    <br />
                    <!--Satilik-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Otopark
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Otopark" [ngModel]="model?.Otopark" formControlName="Otopark" type="checkbox" />
                    <br />
                    <!--Otopark-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Oyun Parkı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="OyunParki" [ngModel]="model?.OyunParki" formControlName="OyunParki" type="checkbox" />
                    <br />
                    <!--OyunParki-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    PVC Dograma
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="PVCDograma" [ngModel]="model?.PVCDograma" formControlName="PVCDograma" type="checkbox" />
                    <br />
                    <!--PVCDograma-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Site İci
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="SiteIci" [ngModel]="model?.SiteIci" formControlName="SiteIci" type="checkbox" />
                    <br />
                    <!--SiteIci-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Yangın Merdiveni
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="YanginMerdiveni" [ngModel]="model?.YanginMerdiveni" formControlName="YanginMerdiveni" type="checkbox" />
                    <br />
                    <!--YanginMerdiveni-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Yüzme Havuzu
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="YuzmeHavuzu" [ngModel]="model?.YuzmeHavuzu" formControlName="YuzmeHavuzu" type="checkbox" />
                    <br />
                    <!--YuzmeHavuzu-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Alarm
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Alarm" [ngModel]="model?.Alarm" formControlName="Alarm" type="checkbox" />
                    <br />
                    <!--Alarm-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Balkon
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Balkon" [ngModel]="model?.Balkon" formControlName="Balkon" type="checkbox" />
                    <br />
                    <!--Balkon-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Çelik Kapı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="CelikKapi" [ngModel]="model?.CelikKapi" formControlName="CelikKapi" type="checkbox" />
                    <br />
                    <!--CelikKapi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Görüntülü Diafon
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="GoruntuluDiafon" [ngModel]="model?.GoruntuluDiafon" formControlName="GoruntuluDiafon" type="checkbox" />
                    <br />
                    <!--GoruntuluDiafon-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Jakuzi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Jakuzi" [ngModel]="model?.Jakuzi" formControlName="Jakuzi" type="checkbox" />
                    <br />
                    <!--Jakuzi-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kablo TV Uydu
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="KabloTVUydu" [ngModel]="model?.KabloTVUydu" formControlName="KabloTVUydu" type="checkbox" />
                    <br />
                    <!--KabloTVUydu-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Klima
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Klima" [ngModel]="model?.Klima" formControlName="Klima" type="checkbox" />
                    <br />
                    <!--Klima-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!ekleForm.valid" />
                    <a routerLink="/Admin/RealEstates" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>