<!--b-contacts-->
<section class="b-contacts s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="b-contacts__form">
                    <header class="b-contacts__form-header s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                        <h2 class="s-titleDet">{{ form?.Text.ShortDescription2 }}</h2>
                    </header>
                    <p class=" wow zoomInUp" data-wow-delay="0.5s">
                        {{ form?.Text.Description2 }}
                    </p>
                    <div id="success"></div>
                    <div id="contactForm" novalidate class="s-form wow zoomInUp" data-wow-delay="0.5s"><!--form-->
                        <input type="text" placeholder="{{ form?.Name.ShortDescription }}" value="" name="user-name" id="user-name" />
                        <input type="text" placeholder="{{ form?.Mail.ShortDescription }}" value="" name="user-email" id="user-email" />
                        <input type="text" placeholder="{{ form?.Phone.ShortDescription }}" value="" name="user-phone" id="user-phone" />
                        <textarea id="user-message" name="user-message" placeholder="{{ form?.Comment.ShortDescription }}"></textarea>
                        <button type="submit" class="btn m-btn">{{ form?.Submit.ShortDescription }}<span class="fa fa-angle-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="b-contacts__address">
                    <div class="b-contacts__address-hours">
                        <h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">{{ langs?.openhours.ShortDescription }}</h2>
                        <div class="b-contacts__address-hours-main wow zoomInUp" data-wow-delay="0.5s">
                            <div class="row" [innerHTML]="langs?.openhours.Description2">
                            </div>
                        </div>
                    </div>
                    <div class="b-contacts__address-info">
                        <h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">{{ contactinfo }}</h2>
                        <address class="b-contacts__address-info-main wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-contacts__address-info-main-item">
                                <span class="fa fa-home"></span>
                                {{ form?.Address.ShortDescription }}
                            <p>{{ form?.Address.Description2 }}</p>
                            </div>
                            <div class="b-contacts__address-info-main-item">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        <span class="fa fa-phone"></span>
                                        {{ form?.Phone.ShortDescription }}
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-xs-12">
                                        <em>{{ form?.Phone.Description2 }}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__address-info-main-item">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        <span class="fa fa-fax"></span>
                                        {{ form?.Fax.ShortDescription }}
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-xs-12">
                                        <em>{{ form?.Fax.Description2 }}</em>
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__address-info-main-item">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-xs-12">
                                        <span class="fa fa-envelope"></span>
                                        {{ form?.Mail.ShortDescription }}
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-xs-12">
                                        <em>{{ form?.Mail.Description2 }}</em>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-contacts-->