<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-book"></i> Blog Yorumu Düzenle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					<input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
				</div>
                <div class="editor-label">
                    Bağlı Blog Yazısı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="BlogID" [ngModel]="model?.BlogID" formControlName="BlogID"><option *ngFor="let item of model?.BlogList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- BlogID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Gönderen
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Sender" [ngModel]="model?.Sender" formControlName="Sender" type="text" value="{{ model?.Sender }}" />
					<br />
					<!-- Sender -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Mail
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Mail" [ngModel]="model?.Mail" formControlName="Mail" type="text" value="{{ model?.Mail }}" />
					<br />
					<!-- Mail -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Gönderi Tarihi
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="SendDate" [ngModel]="model?.SendDate" formControlName="SendDate" type="text" value="{{ model?.SendDate }}" />
					<br />
					<!-- SendDate -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Mesaj
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Message" [ngModel]="model?.Message" formControlName="Message" type="text" value="{{ model?.Message }}" />
					<br />
					<!-- Message -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Aktif
				</div>
				<div class="clear"></div>
				<div class="editor-field">
				<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" checked="checked" *ngIf="model?.Active" />
				<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" *ngIf="!model?.Active" />
					<br />
					<!-- Active -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
					<a routerLink="/Admin/BlogComments" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
