<div class="frame">
    <app-ust></app-ust>

    <div class="headcase bgyellow">

        <app-menu></app-menu>
        <app-ara *ngIf="router.url == '/Giris'"></app-ara>
        <app-slogan *ngIf="router.url == '/Giris'"></app-slogan>

    </div>
    <div class="middle">
        <div class="content">

            <router-outlet></router-outlet>

        </div>
    </div>

    <app-alt></app-alt>
</div>



<input *ngIf="Kullanici != ''" id="hdnGuid" type="hidden" value="{{Kullanici?.Guid}}" />
<input *ngIf="Firma != ''" id="hdnGuid" type="hidden" value="{{Firma?.Guid}}" />

<input id="hdnLogin" type="hidden" value="{{Giris}}" />
