<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-eye-open"></i> Log Tablosu</a></div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-eye-open"></i></span>
						<h5>Log Tablosu</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Bağlı Kullanıcı</th>
									<th>Bağlı Log İşlemi</th>
									<th class="hideColumn">İşlem Zamanı</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of LogsList">
									<td>{{ item?.ID }}</td>
									<td>{{ item?.UsersAdi }}</td>
									<td>{{ item?.LogProcessAdi }}</td>
									<td class="hideColumn">{{ item?.ProcessTime }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="pagelinks" *ngIf="deleteShow">
			<a class="btn btn-primary btn-clear clrLink" data-toggle="modal" data-controller="Logs" href="#clrData">Temizle</a>
		</div>

		<input id="hdnType" type="hidden" value="Logs" />
	</div>
</div>

<admin-copydelete></admin-copydelete>
