<re-carbookingheader></re-carbookingheader>
<re-carbookingbreadcumbs></re-carbookingbreadcumbs>

<!--b-infoBar-->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-infoBar__progress-line clearfix">
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                            <div class="b-infoBar__progress-line-step-circle m-last">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <aside class="b-submit__aside">
                    <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                        <h3>1. Adım</h3>
                        <div class="b-submit__aside-step-inner m-active clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-tasks"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--DETAILS-->DETAYLAR</h4>
                                <p><!--Choose Vehicle Specifications-->Detay Seçimi</p>
                                <div class="b-submit__aside-step-inner-info-triangle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>2. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-list-ul"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--FEATURES-->ÖZELLİKLER</h4>
                                <p><!--Choose Info-->Özellik Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>3. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-car"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--CARS-->ARAÇLAR</h4>
                                <p><!--Choose A Car-->Araç Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>4. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--CONFIRMATION-->ONAYLAMA</h4>
                                <p><!--Submit-->Gönder</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                        <h2 class=""><!--Vehicle Details-->Araç Detayı</h2>
                    </header>
                    <div class="s-submit clearfix"><!--form action="submit2.html" method="POST"-->
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Make-->Marka <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select1">
                                            <option><!--Any Make-->Hepsi</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Model <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select2">
                                            <option><!--Select a Model-->Model Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Body Type-->Araç Tipi <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select3">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Drive Type-->Sürüş Tipi <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select4">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Engine Type-->Motor Tipi <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select5">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Engine Capacity-->Motor Hacmi <span>*</span></label>
                                    <!--<input placeholder="Enter Capacity" type="text" name="input1" />-->
                                    <input placeholder="Motor Hacmi" type="text" name="input6" />
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Transmission Type-->Vites Tipi <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select7">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Gears-->Vites Sayısı <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select8">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Enter Mileage-->Kilometre Bilgisi (En Çok)<span>*</span></label>
                                    <div class="b-submit__main-contacts-inputSelect">
                                        <input type="text" name="text1" />
                                        <div class="b-submit__main-contacts-select">
                                            <select class="m-select" name="select14">
                                                <option><!--IN KMS-->KM</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Fuel Type-->Yakıt Tipi <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select9">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Cylinders-->Silindir Sayısı <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select10">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Manufacturer Year-->Üretim Yılı (Başlangıç)<span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select11">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Manufacturer Year-->Üretim Yılı (Son)<span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select12">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Status-->Araç Durumu <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select13">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Seats-->Koltuk Sayısı <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select16">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Doors-->Kapı Sayısı <span>*</span></label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="select15">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Exterior Color-->Dış Boya Rengi <span>*</span></label>
                                    <div class="s-relative">
                                        <select class="m-select" name="select17">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Interior Color-->İç Döşeme Rengi <span>*</span></label>
                                    <div class="s-relative">
                                        <select class="m-select" name="select18">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>-->
                        <a routerLink="/RealEstate/Book/Features" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">KAYDET &amp; İLERLE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->
