<!--b-detail-->
<section class="b-detail s-shadow">
    <div class="container">
        <header class="b-detail__head s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="b-detail__head-title">
                        <h1>{{ car?.Title }}</h1>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="b-detail__head-price">
                        <div class="b-detail__head-price-num">{{ car?.Price }} TL</div>
                        <p>{{ kdv }}</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="b-detail__main">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="b-detail__main-info">
                        <div class="b-detail__main-info-images wow zoomInUp" data-wow-delay="0.5s">
                            <div class="row m-smallPadding">
                                <div class="col-xs-10">
                                    <ul class="b-detail__main-info-images-big bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="horizontal"
                                        data-pager-slide="true" data-mode-pager="vertical" data-pager-qty="5">
                                        <li *ngFor="let item of gallery" class="s-relative">
                                            <a *ngIf="videos" (click)="modalVideo()" data-toggle="modal" data-target="#myModal" href="#" 
                                               class="b-items__cars-one-img-video"><span class="fa fa-film"></span>Video</a>
                                            <img class="img-responsive center-block" src="/RentACar/Uploads/{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 pagerSlider pagerVertical">
                                    <div class="b-detail__main-info-images-small" id="bx-pager">
                                        <a *ngFor="let item of gallery; let i = index" [attr.data-slide-index]="i" class="b-detail__main-info-images-small-one" 
                                           href="javascript:;">
                                            <img class="img-responsive" src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-info-characteristics wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.Status }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ status }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-trophy"></span></div>
                                    <p>{{ car?.Mileage }} km</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ mileage }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-at"></span></div>
                                    <p>{{ car?.Gear }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ gear }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.DriveType }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ drivetype }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-user"></span></div>
                                    <p>{{ car?.Seats }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ seats }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.CityFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ cityfuel }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.HighwayFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ highfuel }}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="descriptions?.length > 0" class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-aside-about-form-links">
                                <a *ngFor="let item of descriptions; let i = index; let i=index" href="javascript:;" class="j-tab" 
                                   [class.m-active]="i==0" [class.s-lineDownCenter]="i==0" [attr.data-to]="['#info' + (i + 1)]">{{ item?.Title }}</a>
                            </div>
                            <div *ngFor="let item of descriptions; let i = index" id="info{{ i + 1 }}">
                                <h4 [innerHtml]="item?.ShortDescription"></h4>
                                <p [innerHtml]="item?.Description"></p>
                                <h4 [innerHtml]="item?.ShortDescription2"></h4>
                                <p [innerHtml]="item?.Description2"></p>
                            </div>
                        </div>
                        <div class="b-detail__main-info-extra wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">{{ otherfeats }}</h2>
                            <div class="row">
                                <div class="col-xs-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <aside class="b-detail__main-aside">
                        <div class="b-detail__main-aside-desc wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">{{ infos }}</h2>
                            <div *ngIf="car?.Make" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ make }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Make }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Model" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ model }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Model }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Year" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ year }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Year }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.BodyType" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ bodytype }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.BodyType }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Engine" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ engine }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Engine }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.EngineCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ enginecapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.EngineCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Horsepower" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ horsepower }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Horsepower }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Cylinders" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ cylinders }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Cylinders }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Tires" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ tires }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Tires }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.DriveTrain" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ drivetrain }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.DriveTrain }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.WheelBase" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ wheelbase }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.WheelBase }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Fuel" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ fueltype }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Fuel }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.FuelCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ fuelcapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.FuelCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Doors" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ doors }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Doors }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.CargoCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ cargocapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.CargoCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.TrimStyle" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ trimstyle }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.TrimStyle }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.ExtColor" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ extcolor }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.ExtColor }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.IntColor" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ intcolor }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.IntColor }}</p>
                                </div>
                            </div>
                        </div>



                        <div class="b-detail__main-aside-about wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--INQUIRE ABOUT THIS VEHICLE-->ARAÇ HAKKINDA BİLGİ</h2>
                            <div class="b-detail__main-aside-about-call">
                                <span class="fa fa-phone"></span>
                                <div>0999 999 99 99</div>
                                <p><!--Call the seller 24/7 and they would help you.-->Satıcıyla 24/7 iletişime geçebilirsiniz.</p>
                            </div>
                            <div class="b-detail__main-aside-about-seller">
                                <p><!--Seller Info-->Satıcı Bilgisi: <span>Nissan <!--Car Dealer-->Oto Galeri</span></p>
                            </div>
                            <div class="b-detail__main-aside-about-form">
                                <div class="b-detail__main-aside-about-form-links">
                                    <a href="#" class="j-tab m-active s-lineDownCenter" data-to='#form1'><!--GENERAL INQUIRY-->GENEL BİLGİ</a>
                                    <a href="#" class="j-tab" data-to='#form2'><!--SCHEDULE TEST DRIVE-->TEST SÜRÜŞÜ AYARLA</a>
                                </div>
                                <div id="form1">
                                    <!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="YOUR NAME" value="" name="name" />-->
                                    <input type="text" placeholder="İSMİNİZ" value="" name="name" />
                                    <!--<input type="email" placeholder="EMAIL ADDRESS" value="" name="email" />-->
                                    <input type="email" placeholder="E-POSTA ADRESİNİZ" value="" name="email" />
                                    <!--<input type="tel" placeholder="PHONE NO" value="" name="name" />-->
                                    <input type="tel" placeholder="TELEFON" value="" name="name" />
                                    <!--<textarea name="text" placeholder="message"></textarea>-->
                                    <textarea name="text" placeholder="MESAJ"></textarea>
                                    <div><input type="checkbox" name="one" value="" /><label><!--Send me a copy of this message-->Bana bu mesajın bir kopyasını gönder</label></div>
                                    <button type="submit" class="btn m-btn"><!--SEND MESSAGE-->GÖNDER<span class="fa fa-angle-right"></span></button>
                                </div>
                                <div id="form2">
                                    <!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="YOUR NAME" value="" name="name" />-->
                                    <input type="text" placeholder="İSMİNİZ" value="" name="name" />
                                    <!--<textarea name="text" placeholder="message"></textarea>-->
                                    <textarea name="text" placeholder="MESAJ"></textarea>
                                    <div><input type="checkbox" name="one" value="" /><label><!--Send me a copy of this message-->Bana bu mesajın bir kopyasını gönder</label></div>
                                    <button type="submit" class="btn m-btn"><!--SEND MESSAGE-->GÖNDER<span class="fa fa-angle-right"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-aside-payment wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--CAR PAYMENT CALCULATOR-->ARAÇ FİYAT HESAPLAMA</h2>
                            <div class="b-detail__main-aside-payment-form">
                                <div>
                                    <!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="TOTAL VALUE/LOAN AMOUNT" value="" name="name" />-->
                                    <input type="text" placeholder="TOPLAM DEĞER/KİRALAMA BEDELİ" value="" name="name" />
                                    <!--<input type="text" placeholder="DOWN PAYMENT" value="" name="name" />-->
                                    <input type="text" placeholder="PEŞİNAT" value="" name="name" />
                                    <div class="s-relative">
                                        <select name="select" class="m-select">
                                            <option value=""><!--LOAN TERM IN MONTHS-->AYLIK KİRALAMA SÜRESİ</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                    <!--<input type="text" placeholder="INTEREST RATE IN %" value="" name="name" />-->
                                    <input type="text" placeholder="FAİZ ORANI %" value="" name="name" />
                                    <button type="submit" class="btn m-btn"><!--ESTIMATE PAYMENT-->HESAPLA<span class="fa fa-angle-right"></span></button>
                                </div>
                            </div>
                            <div class="b-detail__main-aside-about-call">
                                <span class="fa fa-calculator"></span>
                                <div><!--$-->250 TL <p><!--PER MONTH-->AYLIK</p></div>
                                <p><!--Total Number of Payments-->VADE : <span>50</span></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-detail-->