<!--b-detail-->
<section class="b-detail s-shadow">
    <div class="container">
        <header class="b-detail__head s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="b-detail__head-title">
                        <h1>{{ car?.Title }}</h1>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="b-detail__head-price">
                        <div class="b-detail__head-price-num">{{ car?.Price }} TL/{{ langs?.DayPrice }}</div>
                        <p>{{ langs?.kdv }}</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="b-detail__main">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="b-detail__main-info">
                        <div class="b-detail__main-info-images wow zoomInUp" data-wow-delay="0.5s">
                            <div class="row m-smallPadding">
                                <div class="col-xs-10">
                                    <ul class="b-detail__main-info-images-big bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="horizontal"
                                        data-pager-slide="true" data-mode-pager="vertical" data-pager-qty="5">
                                        <li *ngFor="let item of gallery" class="s-relative">
                                            <img class="img-responsive center-block" src="/RentACar/Uploads/{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 pagerSlider pagerVertical">
                                    <div class="b-detail__main-info-images-small" id="bx-pager">
                                        <a *ngFor="let item of gallery; let i = index" [attr.data-slide-index]="i" class="b-detail__main-info-images-small-one" 
                                           href="javascript:;">
                                            <img class="img-responsive" src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-info-characteristics wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.Status }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.status }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-trophy"></span></div>
                                    <p>{{ car?.Mileage }} km</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.mileage }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-at"></span></div>
                                    <p>{{ car?.Gear }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.gear }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.DriveType }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.drivetype }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-user"></span></div>
                                    <p>{{ car?.Seats }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.seats }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.CityFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.cityfuel }}
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.HighwayFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    {{ langs?.highfuel }}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="descriptions?.length > 0" class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-aside-about-form-links">
                                <a *ngFor="let item of descriptions; let i = index" href="javascript:;" class="j-tab" 
                                   [class.m-active]="i==0" [class.s-lineDownCenter]="i==0" [attr.data-to]="['#info' + (i + 1)]">{{ item?.Title }}</a>
                            </div>
                            <div *ngFor="let item of descriptions; let i = index" id="info{{ i + 1 }}">
                                <h4 [innerHtml]="item?.ShortDescription"></h4>
                                <p [innerHtml]="item?.Description"></p>
                                <h4 [innerHtml]="item?.ShortDescription2"></h4>
                                <p [innerHtml]="item?.Description2"></p>
                            </div>
                        </div>
                        <div class="b-detail__main-info-extra wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">{{ langs?.otherfeats }}</h2>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <aside class="b-detail__main-aside">
                        <div class="b-detail__main-aside-desc wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet">{{ langs?.infos }}</h2>
                            <div *ngIf="car?.Make" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.make }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Make }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Model" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.model }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Model }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Year" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.year }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Year }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.BodyType" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.bodytype }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.BodyType }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Engine" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.engine }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Engine }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.EngineCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.enginecapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.EngineCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Horsepower" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.horsepower }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Horsepower }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Cylinders" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.cylinders }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Cylinders }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Tires" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.tires }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Tires }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.DriveTrain" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.drivetrain }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.DriveTrain }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.WheelBase" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.wheelbase }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.WheelBase }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Fuel" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.fueltype }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Fuel }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.FuelCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.fuelcapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.FuelCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.Doors" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.doors }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Doors }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.CargoCapacity" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.cargocapacity }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.CargoCapacity }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.TrimStyle" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.trimstyle }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.TrimStyle }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.ExtColor" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.extcolor }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.ExtColor }}</p>
                                </div>
                            </div>
                            <div *ngIf="car?.IntColor" class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">{{ langs?.intcolor }}</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.IntColor }}</p>
                                </div>
                            </div>
                        </div>

                        <rac-cardetailtestform carID="{{ carID }}"></rac-cardetailtestform>
                        <rac-cardetailcountform carPrice="{{ carPrice }}"></rac-cardetailcountform>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-detail-->