<!--b-detail-->
<section class="b-detail s-shadow">
    <div class="container">
        <header class="b-detail__head s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
            <div class="row">
                <div class="col-sm-9 col-xs-12">
                    <div class="b-detail__head-title">
                        <h1>{{ car?.Title }}</h1>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="b-detail__head-price">
                        <div class="b-detail__head-price-num">{{ car?.Price }} TL</div>
                        <p><!--Included Taxes &amp; Checkup-->KDV Dahil</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="b-detail__main">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <div class="b-detail__main-info">
                        <div class="b-detail__main-info-images wow zoomInUp" data-wow-delay="0.5s">
                            <div class="row m-smallPadding">
                                <div class="col-xs-10">
                                    <ul class="b-detail__main-info-images-big bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="horizontal" 
                                        data-pager-slide="true" data-mode-pager="vertical" data-pager-qty="5">
                                        <li class="s-relative" *ngFor="let item of gallery">
                                            <!--<a data-toggle="modal" data-target="#myModal" href="#" class="b-items__cars-one-img-video"><span class="fa fa-film"></span>VIDEO</a>-->
                                            <img class="img-responsive center-block" src="/RentACar/Uploads/{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-2 pagerSlider pagerVertical">
                                    <div class="b-detail__main-info-images-small" id="bx-pager">
                                        <a href="javascript:;" [attr.data-slide-index]="i" class="b-detail__main-info-images-small-one" *ngFor="let item of gallery; let i = index">
                                            <img class="img-responsive" src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" alt="{{ item?.Title }}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-info-characteristics wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.Status }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--Status-->Durum
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-trophy"></span></div>
                                    <p>{{ car?.Mileage }} km</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--Mileage-->Kilometre
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-at"></span></div>
                                    <p>{{ car?.Gear }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--Transmission-->Vites
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-car"></span></div>
                                    <p>{{ car?.DriveType }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--Drivetrain-->Çekiş
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-user"></span></div>
                                    <p>{{ car?.Seats }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--Passangers-->Yolcu Kapasitesi
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.CityFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--In City-->Şehir Ykt.Tktm.
                                </div>
                            </div>
                            <div class="b-detail__main-info-characteristics-one">
                                <div class="b-detail__main-info-characteristics-one-top">
                                    <div><span class="fa fa-fire-extinguisher"></span></div>
                                    <p>{{ car?.HighwayFuelEconomy }}</p>
                                </div>
                                <div class="b-detail__main-info-characteristics-one-bottom">
                                    <!--On Highway-->Uzun Yol Ykt.Tktm.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="descriptions?.length > 0" class="b-detail__main-info-text wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-detail__main-aside-about-form-links">
                                <a *ngFor="let item of descriptions; let i = index" href="javascript:;" [class]="['j-tab' + i == 0 ? 'm-active s-lineDownCenter' : '']" [attr.data-to]="['#info' + (i + 1)]">{{ item?.Title }}</a>
                                <!--<a href="javascript:;" class="j-tab" data-to='#info2'><!--SCHEDULE TEST DRIVE TEST SÜRÜŞÜ PLANLAYIN</a>-->
                            </div>
                            <div *ngFor="let item of descriptions; let i = index" id="info{{ i + 1 }}">
                                <h2 [innerHtml]="item?.ShortDescription"></h2>
                                <p [innerHtml]="item?.Description"></p>
                                <h2 [innerHtml]="item?.ShortDescription2"></h2>
                                <p [innerHtml]="item?.Description2"></p>
                            </div>
                        </div>
                        <div class="b-detail__main-info-extra wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--EXTRA FEATURES-->DİĞER ÖZELLİKLER</h2>
                            <div class="row">
                                <div class="col-xs-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <aside class="b-detail__main-aside">
                        <div class="b-detail__main-aside-desc wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--Description-->AÇIKLAMA</h2>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Make-->Marka</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Make }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title">Model</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Model }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Kilometres-->Kilometre</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Mileage }} km</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Body Type-->Araç Tipi</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.BodyType }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Style/trim-->Stil/Döşeme</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.TrimStyle }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Engine-->Motor</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Engine }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Drivetrain-->Çekiş</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Drivetrain }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Transmission-->Vites</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Gear }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Exterior Color-->Dış Boya</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.ExtColor }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Interior color-->İç Renk</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.IntColor }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Passangers/Doors-->Yolcu/Kapı</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Seats }} <!--Passengers-->Yolcu / {{ car?.Doors }} <!--Doors-->Kapı</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Fuel Type-->Yakıt Tipi</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.Fuel }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--City Fuel Economy-->Şehir Yakıt Tüketimi</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.CityFuelEconomy }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="b-detail__main-aside-desc-title"><!--Hwy Fuel Economy-->Uzun Yol Yakıt Tüketimi</h4>
                                </div>
                                <div class="col-xs-6">
                                    <p class="b-detail__main-aside-desc-value">{{ car?.HighwayFuelEconomy }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-aside-about wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--INQUIRE ABOUT THIS VEHICLE-->ARAÇ HAKKINDA BİLGİ</h2>
                            <div class="b-detail__main-aside-about-call">
                                <span class="fa fa-phone"></span>
                                <div>0999 999 99 99</div>
                                <p><!--Call the seller 24/7 and they would help you.-->Satıcıyla 24/7 iletişime geçebilirsiniz.</p>
                            </div>
                            <div class="b-detail__main-aside-about-seller">
                                <p><!--Seller Info-->Satıcı Bilgisi: <span>Nissan <!--Car Dealer-->Oto Galeri</span></p>
                            </div>
                            <div class="b-detail__main-aside-about-form">
                                <div class="b-detail__main-aside-about-form-links">
                                    <a href="#" class="j-tab m-active s-lineDownCenter" data-to='#form1'><!--GENERAL INQUIRY-->GENEL BİLGİ</a>
                                    <a href="#" class="j-tab" data-to='#form2'><!--SCHEDULE TEST DRIVE-->TEST SÜRÜŞÜ AYARLA</a>
                                </div>
                                <div id="form1"><!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="YOUR NAME" value="" name="name" />-->
                                    <input type="text" placeholder="İSMİNİZ" value="" name="name" />
                                    <!--<input type="email" placeholder="EMAIL ADDRESS" value="" name="email" />-->
                                    <input type="email" placeholder="E-POSTA ADRESİNİZ" value="" name="email" />
                                    <!--<input type="tel" placeholder="PHONE NO" value="" name="name" />-->
                                    <input type="tel" placeholder="TELEFON" value="" name="name" />
                                    <!--<textarea name="text" placeholder="message"></textarea>-->
                                    <textarea name="text" placeholder="MESAJ"></textarea>
                                    <div><input type="checkbox" name="one" value="" /><label><!--Send me a copy of this message-->Bana bu mesajın bir kopyasını gönder</label></div>
                                    <button type="submit" class="btn m-btn"><!--SEND MESSAGE-->GÖNDER<span class="fa fa-angle-right"></span></button>
                                </div>
                                <div id="form2">
                                    <!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="YOUR NAME" value="" name="name" />-->
                                    <input type="text" placeholder="İSMİNİZ" value="" name="name" />
                                    <!--<textarea name="text" placeholder="message"></textarea>-->
                                    <textarea name="text" placeholder="MESAJ"></textarea>
                                    <div><input type="checkbox" name="one" value="" /><label><!--Send me a copy of this message-->Bana bu mesajın bir kopyasını gönder</label></div>
                                    <button type="submit" class="btn m-btn"><!--SEND MESSAGE-->GÖNDER<span class="fa fa-angle-right"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="b-detail__main-aside-payment wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="s-titleDet"><!--CAR PAYMENT CALCULATOR-->ARAÇ FİYAT HESAPLAMA</h2>
                            <div class="b-detail__main-aside-payment-form">
                                <div><!--form action="/" method="post"-->
                                    <!--<input type="text" placeholder="TOTAL VALUE/LOAN AMOUNT" value="" name="name" />-->
                                    <input type="text" placeholder="TOPLAM DEĞER/KİRALAMA BEDELİ" value="" name="name" />
                                    <!--<input type="text" placeholder="DOWN PAYMENT" value="" name="name" />-->
                                    <input type="text" placeholder="PEŞİNAT" value="" name="name" />
                                    <div class="s-relative">
                                        <select name="select" class="m-select">
                                            <option value=""><!--LOAN TERM IN MONTHS-->AYLIK KİRALAMA SÜRESİ</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                    <!--<input type="text" placeholder="INTEREST RATE IN %" value="" name="name" />-->
                                    <input type="text" placeholder="FAİZ ORANI %" value="" name="name" />
                                    <button type="submit" class="btn m-btn"><!--ESTIMATE PAYMENT-->HESAPLA<span class="fa fa-angle-right"></span></button>
                                </div>
                            </div>
                            <div class="b-detail__main-aside-about-call">
                                <span class="fa fa-calculator"></span>
                                <div><!--$-->250 TL <p><!--PER MONTH-->AYLIK</p></div>
                                <p><!--Total Number of Payments-->VADE : <span>50</span></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-detail-->