<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> Araç Detay (İç-Dış) Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					Bağlı Araç
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="CarID" [ngModel]="model?.CarID" formControlName="CarID"><option *ngFor="let item of model?.CarsList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- CarID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Kasa Tipi
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="BodyTypeID" [ngModel]="model?.BodyTypeID" formControlName="BodyTypeID"><option *ngFor="let item of model?.CarFeatsBodyTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- BodyTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı Sürüş Tipi
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="DriveTypeID" [ngModel]="model?.DriveTypeID" formControlName="DriveTypeID"><option *ngFor="let item of model?.CarFeatsDriveTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- DriveTypeID -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Tekerlekler
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Tires" [ngModel]="model?.Tires" formControlName="Tires" type="text" />
					<br />
					<!-- Tires -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Koltuk Sayısı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Seats" [ngModel]="model?.Seats" formControlName="Seats" type="number" />
					<br />
					<!-- Seats -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Kapı Sayısı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Doors" [ngModel]="model?.Doors" formControlName="Doors" type="number" />
					<br />
					<!-- Doors -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Dış Boya Rengi
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="ExtColor" [ngModel]="model?.ExtColor" formControlName="ExtColor" type="text" />
					<br />
					<!-- ExtColor -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    İç Boya Rengi
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="IntColor" [ngModel]="model?.IntColor" formControlName="IntColor" type="text" />
					<br />
					<!-- IntColor -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Döşeme Stili
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="TrimStyle" [ngModel]="model?.TrimStyle" formControlName="TrimStyle" type="text" />
					<br />
					<!-- TrimStyle -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/CarDetailsExtInt" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
