<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-tags"></i> Metalar (Dil)</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-tags"></i></span>
                        <h5>Metalar (Dil)</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Bağlı Meta</th>
                                    <th>Başlık</th>
                                    <th class="hideColumn2">Dil</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of MetaDilList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.MetaAdi }}</td>
                                    <td>{{ item?.Name }}</td>
                                    <td class="hideColumn2">{{ item?.TranslationAdi }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/MetaDil/Duzenle/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="MetaDil" [attr.data-id]="item?.ID">Sil</a></li>
                                                <li><a class="rdltLink" *ngIf="realDeleteShow" data-toggle="modal" href="#rdltData" data-controller="MetaDil" [attr.data-id]="item?.ID">Kaldır</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/MetaDil/Ekle" class="btn btn-primary btn-add" *ngIf="insertShow">Meta (Dil) Ekle</a>
        </div>

        <input id="hdnModel" type="hidden" value="Meta" />
    </div>
</div>

<admin-copydelete></admin-copydelete>