@using TDLibrary

<div class="twocell rmargin">
    <div id="loginmessage" class="ralign company">
        <h2>Aradığınız Çalışan Burada</h2>
        Siz de mi kalifiye çalışan arıyorsunuz?
        <br />
        <br />
        Aradığınız çalışanı burada bulma şansınız çok fazla.
        <br />
        <br />
        Hemen üye olun ve firmanıza en uygun çalışanı bulun.
    </div>
</div>