<!--b-blog-->
<div class="b-blog s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <aside class="b-blog__aside">
                    <div class="b-blog__aside-search wow zoomInUp" data-wow-delay="0.3s">
                        <!--form action="/" method="post" -->
                        <div>
                            <!--<input type="text" name="search" value="" placeholder="Search" />-->
                            <input type="text" name="search" value="" placeholder="Arama Yap" />
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                    <div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.3s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet"><!--CATEGORIES-->KATEGORİLER</h2>
                        </header>
                        <nav>
                            <ul class="b-blog__aside-categories-list">
                                <li><a href="#"><!--Auto Buying Tips &amp; Advice-->Otomobil Alırken Dikkat</a></li>
                                <li><a href="#"><!--Latest Models News-->Son Modellerden Haberler</a></li>
                                <li class="m-active"><a href="#"><!--Test Drives-->Test Sürüşleri</a></li>
                                <li><a href="#"><!--Video Reviews-->Video Görüşleri</a></li>
                                <li><a href="#"><!--Analysis &amp; Features-->Analiz ve Özellikler</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="b-blog__aside-popular wow zoomInUp" data-wow-delay="0.3s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet"><!--POPULAR POSTS-->POPÜLER GÖNDERİLER</h2>
                        </header>
                        <div class="b-blog__aside-popular-posts">
                            <div class="b-blog__aside-popular-posts-one">
                                <img class="img-responsive" src="/RentACar/Content/img/media/270x150/mercBlog.png" alt="merc" />
                                <h4><a routerLink="/BlogDetail">2016 Mercedes-Benz GLE-Class <!--Debuts--> Ön Gösterimi</a></h4>
                                <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 MAYIS 2015</div>
                            </div>
                            <div class="b-blog__aside-popular-posts-one">
                                <img class="img-responsive" src="/RentACar/Content/img/media/270x150/outlander.png" alt="outlander" />
                                <h4><a routerLink="/BlogDetail"><!--Refreshed-->Yenilenmiş 2016 Mitsubishi Outlander</a></h4>
                                <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 MAYIS 2015</div>
                            </div>
                        </div>
                    </div>
                    <div class="b-blog__aside-text wow zoomInUp" data-wow-delay="0.3s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet"><!--WHY CHOOSE US?-->NEDEN BİZİ SEÇMELİSİNİZ?</h2>
                        </header>
                        <p>
                            Curabitur libero. Donec facilisis velit edu est
                            Phasellus conside quat. Aenean vitae quam.
                            Vivamus etdu nunc. Nunc conseq sem velde
                            metus imperdiet lacinia. Cras ornare pretum
                            tortor. Donec sed augue sed nunc rutru me
                            egestas. Bulum ante ipsum primisn faucibus
                            orci luctus et ultrices posuere.
                        </p>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="b-blog__posts owl-carousel enable-owl-carousel"
                     data-items="1" data-navigation="true" data-auto-play="true" data-stop-on-hover="true"
                     data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">
                    <div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet"><!--Redesigned 2016 Nissan Maxima Introduced-->Yenilenmiş 2016 Nissan Maxima</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/nissanBlogTwo.jpg" alt="nissan" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet">2015 Ferrari California T</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/ferrariBlogTwo.jpg" alt="ferrari" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet">2015 Chrysler 300<!--: 7 Things You Need to Know--> Hakkında Bilmeniz Gereken 7 Şey</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/chryslerBlogTwo.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-blog__posts-one-body-main-link wow zoomInUp" data-wow-delay="0.3s">
                            <a><span class="fa fa-globe"></span>http://themeforest.net/user/Templines</a>
                        </div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet">BMW M4 <!--vs--> Jaguar F-Type Coupe <!--Comparison-->Karşılaştırması</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/bmwBlogTwo.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet">2015 Chrysler 300<!--: 7 Things You Need to Know--> Hakkında Bilmeniz Gereken 7 Şey</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/chryslerBlogTwo.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-blog__posts-one-body-main-link wow zoomInUp" data-wow-delay="0.3s">
                            <a><span class="fa fa-globe"></span>http://themeforest.net/user/Templines</a>
                        </div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet">BMW M4 <!--vs--> Jaguar F-Type Coupe <!--Comparison-->Karşılaştırması</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/bmwBlogTwo.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-blog__posts-one wow zoomInUp" data-wow-delay="0.3s">
                            <div class="row">
                                <div class="col-xs-8">
                                    <header class="b-blog__posts-one-body-head s-lineDownLeft">
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                        </div>
                                        <h2 class="s-titleDet"><!--Redesigned 2016 Nissan Maxima Introduced-->Yenilenmiş 2016 Nissan Maxima</h2>
                                    </header>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <img class="img-responsive center-block" src="/RentACar/Content/img/media/blog/nissanBlogTwo.jpg" alt="nissan" />
                                </div>
                                <div class="col-xs-8 pull-right">
                                    <div class="b-blog__posts-one-info">
                                        <p>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamu sd nunc. Nunc conseq usemdw veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligulad lorem dolor. Donec nunc. Suspendisse potent. Integer blandit massa sit amet condimentum laoreet diam elementum urna sed tincidunt lacus sapien.
                                        </p>
                                        <a routerLink="/BlogDetail" class="btn m-btn m-readMore"><!--Read More-->DEVAMINI OKU<span class="fa fa-angle-right"></span></a>
                                        <div class="b-blog__posts-one-social pull-right">
                                            <em><!--SHARE THIS-->PAYLAŞ</em>
                                            <a href="#"><span class="fa fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-blog-->