<!--b-blog-->
<section class="b-article">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="b-article__main">
                    <div class="b-blog__posts-one">
                        <div class="row m-noBlockPadding">
                            <div class="col-sm-1 col-xs-2">
                                <div class="b-blog__posts-one-author wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="b-blog__posts-one-share s-lineDownCenter">{{ langs?.share }}</div>
                                    <div class="b-blog__posts-one-social">
                                        <div>
                                            <a href="#"><span class="fa  fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                        </div>
                                        <div>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                <div class="b-blog__posts-one-body">
                                    <header class="b-blog__posts-one-body-head wow zoomInUp" data-wow-delay="0.5s">
                                        <h2 class="s-titleDet">{{ blog?.Title }}</h2>
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span>{{ blog?.SenderName }}</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span>{{ blog?.SendDate }}</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>{{ blog?.CommentCount }} {{ langs?.comment }}</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-pencil"></span>{{ blog?.CategoryTitle }}</span>
                                        </div>
                                    </header>
                                    <div class="b-blog__posts-one-body-main wow zoomInUp" data-wow-delay="0.5s">
                                        <div class="b-blog__posts-one-body-main-img" *ngIf="pictureList?.length > 0">
                                            <ul class="bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="fade" data-pager-slide="false" data-mode-pager="horizontal" data-pager-qty="0">
                                                <li *ngFor="let item of pictureList"><img class="img-responsive" src="/RentACar/Uploads/{{ item?.PictureUrl }}" /></li>
                                            </ul>
                                            <div class="b-blog__posts-one-body-main-img-small" id="bx-pager">
                                                <a *ngFor="let item of pictureList; let i = index;" href="#" [attr.data-slide-index]="i"><img src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" /></a>
                                            </div>
                                        </div>
                                        <p [innerHtml]="blog?.Description"></p>
                                    </div>

                                    <div class="b-blog__posts-one-body-why wow zoomInUp" data-wow-delay="0.5s" *ngIf="blog?.ShortDescription2 != null">
                                        <div class="s-lineDownLeft  s-titleLeft">
                                            <div>
                                                <h2 class="s-titleDet">{{ blog?.ShortDescription2 }}</h2>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p [innerHtml]="blog?.Description2"></p>
                                    </div>
                                    <div class="b-blog__posts-one-body-tags wow zoomInUp" data-wow-delay="0.5s" *ngIf="blog?.Tags != null">
                                        <span class="fa fa-tags"></span>
                                        {{ langs?.tags }} <span class="blogtags">{{ blog?.Tags }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-related s-shadow" *ngIf="simPostList != null">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div>
                                <h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">{{ langs?.simtitles }}</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12" *ngFor="let item of simPostList">
                                <div class="b-article__main-related-item wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="row m-smallPadding">
                                        <div class="col-xs-4">
                                            <img class="center-block img-responsive" src="/RentACar/Uploads/{{ item?.PictureUrl }}" alt="related" />
                                        </div>
                                        <div class="col-xs-8">
                                            <h5><a [routerLink]="['/Blog/Detail/' + item?.Url]">{{ item?.Title }}</a></h5>
                                            <div class="b-blog__posts-one-body-head-notes">
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span>{{ item?.SenderName }}</span>
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span>{{ item.SendDate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-author wow zoomInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-xs-2 pull-right">
                                <div class="b-blog__posts-one-author-img pull-right">
                                    <img src="/RentACar/Uploads/{{ blog?.SenderPicture }}" />
                                </div>
                            </div>
                            <div class="col-xs-10 pull-right">
                                <h3><span>{{ langs?.author }}: </span>{{ blog?.SenderName }}</h3>
                                <div class="b-article__main-author-social">
                                    <a *ngIf="blog?.Facebook != null" href="{{ blog?.Facebook }}"><span class="fa fa-facebook"></span></a>
                                    <a *ngIf="blog?.Twitter != null" href="{{ blog?.Twitter }}"><span class="fa fa-twitter"></span></a>
                                    <a *ngIf="blog?.Pinterest != null" href="{{ blog?.Pinterest }}"><span class="fa fa-pinterest"></span></a>
                                </div>
                                <div class="clearfix"></div>
                                <p>
                                    {{ blog?.SenderDescription }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-comments" *ngIf="commentList?.length > 0">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div class=" wow zoomInUp" data-wow-delay="0.5s">
                                <h2 class="s-titleDet">{{ langs?.comments }}</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-12" *ngFor="let item of commentList">
                                <div class="b-article__main-comments-one wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="b-article__main-comments-one-text">
                                        <header class="b-article__main-comments-one-text-head">
                                            <h6>{{ item?.Sender }}</h6>
                                            <div class="b-article__main-comments-one-text-head-date">
                                                <span>{{ item?.SendDate }}</span>
                                            </div>
                                        </header>
                                        <p>
                                            {{ item?.Message }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-add wow zoomInUp" data-wow-delay="0.5s">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div>
                                <h2 class="s-titleDet">{{ langs?.sendcomment }}</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <!-- action="/" method="POST"-->
                            <div class="row">
                                <div class="col-xs-6">
                                    <input placeholder="{{ name }}" type="text" name="name" />
                                </div>
                                <div class="col-xs-6">
                                    <input placeholder="{{ mail }}" type="text" name="email" />
                                </div>
                            </div>
                            <textarea name="text" placeholder="{{ message }}"></textarea>
                            <button type="submit" class="btn m-btn">{{ send }}<span class="fa fa-angle-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <aside class="b-blog__aside">
                    <rac-blogsearch></rac-blogsearch>
                    <rac-blogcategories></rac-blogcategories>
                    <rac-blogpopular></rac-blogpopular>
                    <rac-sharedbooknow></rac-sharedbooknow>
                    <rac-sharedcallus></rac-sharedcallus>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--b-blog-->