<!--b-blog-->
<div class="b-blog s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <aside class="b-blog__aside">
                    <div class="b-blog__aside-search wow zoomInUp" data-wow-delay="0.3s">
                        <!--form action="/" method="post" -->
                        <div>
                            <input type="text" name="search" value="" placeholder="{{ search }}" />
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                    <div class="b-blog__aside-categories wow zoomInUp" data-wow-delay="0.3s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet">{{ categories }}</h2>
                        </header>
                        <nav>
                            <ul class="b-blog__aside-categories-list">
                                <li *ngFor="let item of categoryList"><a [routerLink]="['/Blog/Category/' + item?.Url]">{{ item?.CategoryName }}</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="b-blog__aside-popular wow zoomInUp" data-wow-delay="0.3s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet">{{ popular }}</h2>
                        </header>
                        <div class="b-blog__aside-popular-posts">
                            <div class="b-blog__aside-popular-posts-one">
                                <img class="img-responsive" src="/RentACar/Content/img/media/270x150/mercBlog.png" alt="merc" />
                                <h4><a routerLink="/Blog/Detail">2016 Mercedes-Benz GLE-Class <!--Debuts-->Ön Gösterimi</a></h4>
                                <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 MAYIS 2015</div>
                            </div>
                            <div class="b-blog__aside-popular-posts-one">
                                <img class="img-responsive" src="/RentACar/Content/img/media/270x150/outlander.png" alt="outlander" />
                                <h4><a routerLink="/Blog/Detail"><!--Refreshed 2016 Mitsubishi Outlander Introduced-->Yenilenmiş 2016 Mitsubishi Outlander</a></h4>
                                <div class="b-blog__aside-popular-posts-one-date"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 MAYIS 2015</div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="b-blog__posts owl-carousel enable-owl-carousel" data-items="1" data-items-desktop="1" 
                     data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1"
                     data-navigation="true" data-auto-play="true" data-stop-on-hover="true" 
                     [innerHTML]="blogList">
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-blog-->