<!--b-blog-->
<section class="b-article">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="b-article__main">
                    <div class="b-blog__posts-one">
                        <div class="row m-noBlockPadding">
                            <div class="col-sm-1 col-xs-2">
                                <div class="b-blog__posts-one-author wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="b-blog__posts-one-author-img">

                                    </div>
                                    <div class="b-blog__posts-one-share s-lineDownCenter"><!--SHARE THIS-->PAYLAŞ</div>
                                    <div class="b-blog__posts-one-social">
                                        <div>
                                            <a href="#"><span class="fa  fa-facebook-square"></span></a>
                                            <a href="#"><span class="fa fa-twitter-square "></span></a>
                                        </div>
                                        <div>
                                            <a href="#"><span class="fa fa-pinterest-square"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-11 col-xs-10">
                                <div class="b-blog__posts-one-body">
                                    <header class="b-blog__posts-one-body-head wow zoomInUp" data-wow-delay="0.5s">
                                        <h2 class="s-titleDet"><!--Redesigned 2016 Nissan Maxima Introduced-->Yenilenmiş 2016 Nissan Maxima</h2>
                                        <div class="b-blog__posts-one-body-head-notes">
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-comment"></span>5 <!--Comments-->Yorum</span>
                                            <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-pencil"></span><!--AutoMarket, Tips &amp; Advice-->Otomarket, Öneri ve Tavsiye</span>
                                        </div>
                                    </header>
                                    <div class="b-blog__posts-one-body-main wow zoomInUp" data-wow-delay="0.5s">
                                        <div class="b-blog__posts-one-body-main-img">
                                            <ul class="bxslider enable-bx-slider" data-pager-custom="#bx-pager" data-mode="fade" data-pager-slide="false" data-mode-pager="horizontal" data-pager-qty="0">
                                                <li><img class="img-responsive" src="/RentACar/Content/img/media/750x300/blogBig1.jpg" alt="jaguar" /></li>
                                                <li><img class="img-responsive" src="/RentACar/Content/img/media/750x300/blogBig2.jpg" alt="jaguar" /></li>
                                                <li><img class="img-responsive" src="/RentACar/Content/img/media/750x300/blogBig3.jpg" alt="jaguar" /></li>
                                            </ul>
                                            <div class="b-blog__posts-one-body-main-img-small" id="bx-pager">
                                                <a href="#" data-slide-index="0"><img src="/RentACar/Content/img/media/90x65/smallBlog1.jpg" alt="car" /></a>
                                                <a href="#" data-slide-index="1"><img src="/RentACar/Content/img/media/90x65/smallBlog2.jpg" alt="car" /></a>
                                                <a href="#" data-slide-index="2"><img src="/RentACar/Content/img/media/90x65/smallBlog3.jpg" alt="car" /></a>
                                            </div>
                                        </div>
                                        <p>Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con equat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque <a href="#">laudantium totam rem aperiam, eaque ipsa</a> quae ab illo inventore veritatis quas architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                        <blockquote>
                                            Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus nunc. Nunc conseq usemd veld metus imperdiet lacinia. In viverra dolor non justo. Proin molest erat inder rhoncus posuere de nibh quam  onsectet uer lectus acwl vulputate ligula lorem dolor. Donec nunc. Suspendisse potent.
                                        </blockquote>
                                        <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus etdu nunc. Nunc conseq sem velde metus imperdiet lacinia. Cras ornare pretium tortor.<a href="#">Donec sed augue sed nunc rutrum egestas.</a> Bulum ante ipsum mis in faucibus orci luctus et ultrices posuere.</p>
                                    </div>
                                    <div class="b-blog__posts-one-body-why wow zoomInUp" data-wow-delay="0.5s">
                                        <div class="s-lineDownLeft  s-titleLeft">
                                            <div>
                                                <h2 class="s-titleDet"><!--WHY NISSAN maxima is top the line-->NEDEN NISSAN MAXIMA ZİRVEDE</h2>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus etdug nunc. Nunc conseq sem velde metus imperdiet lacinia. Cras ornare pretium tortor. Donec sed augue sed nunc rutrum egestas. Bulum ante ipsum mis in faucibus orci luctus et ultrices posuere.</p>
                                        <ul class="s-list">
                                            <li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </li>
                                            <li><span class="fa fa-check"></span>ncididunt ut labore et dolore magna aliqua. Ut enim ad minim </li>
                                            <li><span class="fa fa-check"></span>Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  </li>
                                            <li><span class="fa fa-check"></span>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse Billum </li>
                                            <li><span class="fa fa-check"></span>dolore eu fugiat nulla pariatur. Excepteur sint occaecat  </li>
                                            <li><span class="fa fa-check"></span>Mupidatat non proident sunt in culpa qui officia deserun </li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                                <img src="/RentACar/Content/img/media/articles/article.jpg" class="img-responsive" alt="nissan" />
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <p class="m-smallMargin">Lorem ipsum dolor sit amet, consectetur adipisic aing elit sed do eiusmod tempor incididunt ut labore etern dolore magna aliqua. Ut enim ad minim veniam, quis nost ruder exercitation ullamco laboris nisi ut aliquip ex commod oil consequat. Duis aute irure do reprehenderit ind voluptat velit esse cillum dolore fugiat nulla pariatur. </p>
                                                <p>Excepteur sint occaecat cupidatat non proident sunter in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                            </div>
                                        </div>
                                        <p>
                                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en
                                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magn dolores eos qu rat voluptatem
                                            sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectet derur adipisci velit sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam.
                                        </p>
                                    </div>
                                    <div class="b-blog__posts-one-body-tags wow zoomInUp" data-wow-delay="0.5s">
                                        <span class="fa fa-tags"></span>
                                        <!--TAGS-->TAGLAR:
                                        <a href="#">bmw</a>
                                        <a href="#">comparison</a>
                                        <a href="#">comparison test</a>
                                        <a href="#">coupe</a>
                                        <a href="#">f-type</a>
                                        <a href="#">jaguar</a>
                                        <a href="#">m4</a>
                                        <a href="#">slideshow</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-related s-shadow">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div>
                                <h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s"><!--More Related Articles-->Benzer Başlıklar</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="b-article__main-related-item wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="row m-smallPadding">
                                        <div class="col-xs-4">
                                            <img class="center-block img-responsive" src="/RentACar/Content/img/media/100x80/related1.jpg" alt="related" />
                                        </div>
                                        <div class="col-xs-8">
                                            <h5><a routerLink="/Blog/Detail"><!--2015 Jaguar F-Type Coupe in the Spanish Pyrenees-->İspanya Dağlarında 2015 Jaguar F-Type Coupe Deneyimi</a></h5>
                                            <div class="b-blog__posts-one-body-head-notes">
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="b-article__main-related-item wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="row m-smallPadding">
                                        <div class="col-xs-4">
                                            <img class="center-block img-responsive" src="/RentACar/Content/img/media/100x80/related2.jpg" alt="related" />
                                        </div>
                                        <div class="col-xs-8">
                                            <h5><a routerLink="/Blog/Detail"><!--Used 2008 to 2014 Mercedes-Benz C-Class Review-->İkinci El 2008-2014 Arası Mercedes-Benz C-Class Görüşleri</a></h5>
                                            <div class="b-blog__posts-one-body-head-notes">
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-user"></span><!--Our Admin-->Yönetici</span>
                                                <span class="b-blog__posts-one-body-head-notes-note"><span class="fa fa-calendar-o"></span><!--20th May 2015-->20 Mayıs 2015</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-author wow zoomInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-xs-2 pull-right">
                                <div class="b-blog__posts-one-author-img pull-right"></div>
                            </div>
                            <div class="col-xs-10 pull-right">
                                <h3><span><!--AUTHOR-->YAZAR: </span> <!--JOHN SMITH-->MURAT ÖZDEMİR</h3>
                                <div class="b-article__main-author-social">
                                    <a href="#" class=""><span class="fa fa-facebook"></span></a>
                                    <a href="#" class=""><span class="fa fa-twitter"></span></a>
                                </div>
                                <div class="clearfix"></div>
                                <p>
                                    Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    Neen ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntu mag dolores eo quv
                                    ol up tatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-comments">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div class=" wow zoomInUp" data-wow-delay="0.5s">
                                <h2 class="s-titleDet"><!--COMMENTS-->YORUMLAR</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="b-article__main-comments-one wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="b-article__main-comments-one-person">
                                        <div class="b-blog__posts-one-author-img"></div>
                                    </div>
                                    <div class="b-article__main-comments-one-text">
                                        <header class="b-article__main-comments-one-text-head">
                                            <h6>Ertuğrul Dilan</h6>
                                            <div class="b-article__main-comments-one-text-head-date">
                                                <span><!--30 MAY 2015-->30 MAYIS 2015</span>
                                                <span><!--Posted at 12:25 AM-->12:25 DE GÖNDERİLDİ</span>
                                            </div>
                                        </header>
                                        <p>
                                            In eget dolor. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Ut ornare cursus nibh. Sed lorem volutpat purus scel erisque dapibus. Etiam adipiscing ante nec nibh. In in felis in metus mollis blandit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="b-article__main-comments-one wow zoomInUp" data-wow-delay="0.5s">
                                    <div class="b-article__main-comments-one-person">
                                        <div class="b-blog__posts-one-author-img m-woomen"></div>
                                    </div>
                                    <div class="b-article__main-comments-one-text">
                                        <header class="b-article__main-comments-one-text-head">
                                            <h6><!--Martina Kathrine-->Handan Kılıç</h6>
                                            <div class="b-article__main-comments-one-text-head-date">
                                                <span><!--30 MAY 2015-->30 MAYIS 2015</span>
                                                <span><!--Posted at 12:25 AM-->12:25 DE GÖNDERİLDİ</span>
                                            </div>
                                        </header>
                                        <p>
                                            In eget dolor. Lorem ipsum dolor sit amet consectetuer adipiscing elit. Ut ornare cursus nibh. Sed lorem volutpat purus scel erisque dapibus. Etiam adipiscing ante nec nibh. In in felis in metus mollis blandit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-article__main-add wow zoomInUp" data-wow-delay="0.5s">
                        <div class="s-lineDownLeft  s-titleLeft">
                            <div>
                                <h2 class="s-titleDet"><!--ADD A REPLY-->YORUM GÖNDER</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <!-- action="/" method="POST"-->
                            <div class="row">
                                <div class="col-xs-6">
                                    <!--<input placeholder="YOUR NAME" type="text" name="name" />-->
                                    <input placeholder="İSMİNİZ" type="text" name="name" />
                                </div>
                                <div class="col-xs-6">
                                    <!--<input placeholder="EMAIL ADDRESS" type="text" name="email" />-->
                                    <input placeholder="E-POSTA ADRESİNİZ" type="text" name="email" />
                                </div>
                            </div>
                            <!--<textarea name="text" placeholder="MESSAGE"></textarea>-->
                            <textarea name="text" placeholder="MESAJINIZ"></textarea>
                            <button type="submit" class="btn m-btn"><!--SEND COMMENT-->YORUM YAZ<span class="fa fa-angle-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <aside class="b-blog__aside">
                    <rac-blogsearch></rac-blogsearch>
                    <rac-blogcategories></rac-blogcategories>
                    <rac-blogpopular></rac-blogpopular>
                    <div class="b-blog__aside-archives wow zoomInUp" data-wow-delay="0.5s">
                        <header class="s-lineDownLeft">
                            <h2 class="s-titleDet"><!--ARCHIVES-->ARŞİV</h2>
                        </header>
                        <nav>
                            <ul class="b-blog__aside-categories-list">
                                <li><a href="#"><!--April-->Nisan 2015</a></li>
                                <li><a href="#"><!--March-->Mart 2015</a></li>
                                <li class="m-active"><a href="#"><!--February-->Şubat 2015</a></li>
                                <li><a href="#"><!--January-->Ocak 2105</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="b-items__aside-sell wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__aside-sell-img">
                            <h3><!--SELL YOUR CAR-->ARACINIZI SATIN</h3>
                        </div>
                        <div class="b-items__aside-sell-info">
                            <p>
                                Nam tellus enimds eleifend dignis lsim
                                biben edum tristique sed metus fusce
                                Maecenas lobortis.
                            </p>
                            <a routerLink="/Booking" class="btn m-btn"><!--REGISTER NOW-->HEMEN KAYDOLUN<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                    <div class="b-detail__main-aside-about-call wow zoomInUp" data-wow-delay="0.5s">
                        <span class="fa fa-phone"></span>
                        <div>0999 999 99 99</div>
                        <p><!--QUESTIONS? CALL US-->SORULARINIZ İÇİN ARAYIN 24/7</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<!--b-blog-->