<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-group"></i> Kullanıcı Grubu Değiştir</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="changeGroupForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					<input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
				</div>

				<div class="editor-label">
					Bağlı Grup
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="GroupID" [ngModel]="model?.GroupID" formControlName="GroupID"><option *ngFor="let item of model?.UserGroupsList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!--GroupID-->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!grupDegistirForm.valid" />
					<a routerLink="/Admin/Users" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
