<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-user"></i> Kullanıcı Düzenle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					<input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
				</div>
				<div class="editor-label">
					Bağlı Grup
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="GroupID" [ngModel]="model?.GroupID" formControlName="GroupID"><option *ngFor="let item of model?.UserGroupsList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- GroupID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Kullanıcı Adı
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Username" [ngModel]="model?.Username" formControlName="Username" type="text" value="{{ model?.Username }}" />
					<br />
					<!-- Username -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Parola
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Password" formControlName="Password" type="password" />
					<br />
					<!-- Password -->
					<span class="badge badge-info">Şifre boş bırakılırsa eski şifre saklanacaktır.</span>
					<br />
					<br />
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Aktif mi?
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" checked="checked" *ngIf="model?.Active" />
					<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" *ngIf="!model?.Active" />
					<br />
					<!-- Active -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
					<a routerLink="/Admin/Users" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>

		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-user"></i></span>
						<h5>Bağlı Log Tablosu</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>İşlem Zamanı</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of model?.LogsList">
									<td>{{ item?.ID }}</td>
									<td>{{ item?.ProcessTime }}</td>
									<td style="text-align:center;">
										<div class="btn-group" style="text-align:left;">
											<button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/Logs/Update/' + item?.ID]">Düzenle</a></li>
												<li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="Logs" [attr.data-id]="item?.ID">Kopyala</a></li>
												<li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="Logs" [attr.data-id]="item?.ID">Sil</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="pagelinks" *ngIf="insertShow">
			<a routerLink="/Admin/Logs/Insert" class="btn btn-primary btn-add">Log Ekle</a>
		</div>

		<input id="hdnType" type="hidden" value="Users" />
	</div>
</div>

<admin-copydelete></admin-copydelete>
