<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-edit"></i> İçerikler</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-edit"></i></span>
                        <h5>İçerikler</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Kod</th>
                                    <th>Aktif</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of IcerikList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Title }}</td>
                                    <td>{{ item?.Code }}</td>
                                    <td style="text-align:center;"><img *ngIf="item?.Active" class="active" /><img *ngIf="!item?.Active" class="passive" /></td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" *ngIf="updateShow" [routerLink]="['/Admin/Content/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" *ngIf="copyShow" data-toggle="modal" href="#cpyData" data-controller="Content" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="rmvLink" *ngIf="removeShow" data-toggle="modal" href="#rmvData" data-controller="Content" [attr.data-id]="item?.ID">Kaldır</a></li>
                                                <li><a class="dltLink" *ngIf="deleteShow" data-toggle="modal" href="#dltData" data-controller="Content" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/Content/Insert" class="btn btn-primary btn-add" *ngIf="insertShow">İçerik Ekle</a>
        </div>

        <input id="hdnType" type="hidden" value="Content" />
    </div>
</div>

<admin-copydelete></admin-copydelete>