<!--b-features-->
<div class="b-features">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
                <ul class="b-features__items">
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">{{ langs?.nohagg }}</li>
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">{{ langs?.dealer }}</li>
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">{{ langs?.sftychk }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--b-features-->
<!--b-info-->
<div class="b-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <aside class="b-info__aside wow zoomInLeft" data-wow-delay="0.3s">
                    <article class="b-info__aside-article">
                        <h3>{{ langs?.openhours.ShortDescription }}</h3>
                        <div [innerHTML]="langs?.openhours.Description"></div>
                    </article>
                    <article class="b-info__aside-article">
                        <h3>{{ langs?.about.ShortDescription }}</h3>
                        <p [innerHTML]="langs?.about.Description"></p>
                    </article>
                    <a routerLink="/About" class="btn m-btn">{{ langs?.readmore }}<span class="fa fa-angle-right"></span></a>
                </aside>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="b-info__latest wow zoomInUp" data-wow-delay="0.3s">
                    <h3>{{ langs?.latestautos }}</h3>
                    <div class="b-info__latest-article" *ngFor="let item of carList">
                        <div class="b-info__latest-article-photo" [style.backgroundImage]="'url(/RentACar/Uploads/thumb_' + item?.PictureUrl + ')'"></div>
                        <div class="b-info__latest-article-info">
                            <h6><a [routerLink]="['/Cars/Detail/' + item?.Url]">{{ item?.Title }}</a></h6>
                            <p><span class="fa fa-tachometer"></span> {{ item?.Mileage }} KM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="b-info__twitter wow zoomInUp" data-wow-delay="0.3s">
                    <h3>TWITTER</h3>
                    <div class="b-info__twitter-article">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 min. ago</span>
                        </div>
                    </div>
                    <div class="b-info__twitter-article">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 min. ago</span>
                        </div>
                    </div>
                    <div class="b-info__twitter-article">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 min. ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <address class="b-info__contacts wow zoomInUp" data-wow-delay="0.3s">
                    <p>{{ langs?.contactus }}</p>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-map-marker"></span>
                        <em>
                            {{ langs?.contact.address }}
                        </em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-phone"></span>
                        <em>{{ langs?.contact.phone.ShortDescription2 }}: {{ langs?.contact.phone.Description2 }}</em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-fax"></span>
                        <em>{{ langs?.contact.fax.ShortDescription2 }}: {{ langs?.contact.fax.Description2 }}</em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-envelope"></span>
                        <em>{{ langs?.contact.mail.ShortDescription2 }}: {{ langs?.contact.mail.Description2 }}</em>
                    </div>
                </address>
                <address class="b-info__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.608473730801!2d28.982281519769757!3d41.011942012944665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9b8afa5f833%3A0x132f077dd7695904!2s%C4%B0stanbul%2C+Cankurtaran%2C+34122+Fatih%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1566291182275!5m2!1str!2str" width="264" height="144" frameborder="0" style="border:0" allowfullscreen></iframe>
                </address>
            </div>
        </div>
    </div>
</div>
<!--b-info-->

<!--b-footer-->
<footer class="b-footer">
    <a id="to-top" href="javascript:;"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="b-footer__company wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="b-nav__logo">
                        <h3><a routerLink="/">Rent A <span>Car</span></a></h3>
                    </div>
                    <p>&copy; 2019 Developed by <a href="http://www.sinasalik.net/" target="_blank">Sina SALIK</a></p>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-footer__content wow fadeInRight" data-wow-delay="0.3s">
                    <div class="b-footer__content-social">
                        <a href="#"><span class="fa fa-facebook-square"></span></a>
                        <a href="#"><span class="fa fa-twitter-square"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        <a href="#"><span class="fa fa-youtube-square"></span></a>
                        <a href="#"><span class="fa fa-skype"></span></a>
                    </div>
                    <nav class="b-footer__content-nav">
                        <ul>
                            <li><a data-url="Index" routerLink="/">{{ langs?.menu.home }}</a></li>
                            <li><a data-url="List" routerLink="/Cars/List">{{ langs?.menu.list }}</a></li>
                            <li><a data-url="Compare" routerLink="/Cars/Compare">{{ langs?.menu.compare }}</a></li>
                            <li><a data-url="Book" routerLink="/Cars/Book">{{ langs?.menu.book }}</a></li>
                            <li><a data-url="About" routerLink="/About">{{ langs?.menu.about }}</a></li>
                            <li><a data-url="Blog" routerLink="/Blog">{{ langs?.menu.blog }}</a></li>
                            <li><a data-url="Contact" routerLink="/Contact">{{ langs?.menu.contact }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--b-footer-->