<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader -->

<!--b-topBar-->
<header class="b-topBar wow slideInDown" data-wow-delay="0.7s">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="b-topBar__addr">
                    <span class="fa fa-map-marker"></span>
                    <!--202 W 7TH ST, LOS ANGELES, CA 90014-->
                    Esenyurt mh. Sadıkoğlu sk. No:2 Bakırköy
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="b-topBar__tel">
                    <span class="fa fa-phone"></span>
                    0 999 999 99 99
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <nav class="b-topBar__nav">
                    <ul>
                        <li><a href="{{ paneladdress }}" target="_blank">PANEL GİRİŞ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="b-topBar__lang">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle='dropdown'><!--Language-->DİL</a>
                        <a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>TR<span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu h-lang">
                            <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-en"></span>TR</a></li>
                            <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-es"></span>EN</a></li>
                            <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-de"></span>DE</a></li>
                            <li><a class="m-langLink dropdown-toggle" data-toggle='dropdown' href="#"><span class="b-topBar__lang-flag m-fr"></span>FR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--b-topBar-->

<!--b-nav-->
<nav class="b-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <div class="b-nav__logo wow slideInLeft" data-wow-delay="0.3s">
                    <h3><a routerLink="/">Rent A <span>Car</span></a></h3>
                    <h2><a routerLink="/"><!--AUTO DEALER TEMPLATE-->OTO KİRALAMA SERVİSİ</a></h2>
                </div>
            </div>
            <div class="col-sm-9 col-xs-8">
                <div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                            <span class="sr-only"><!--Toggle navigation-->Menü Seçimi</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-main-slide" id="nav">
                        <ul class="navbar-nav-menu">
                            <li><a data-url="Index" routerLink="/"><!--Home-->ANA SAYFA</a></li>
                            <li><a data-url="List" routerLink="/List"><!--Cars-->ARAÇLARIMIZ</a></li>
                            <li><a data-url="Compare" routerLink="/Compare"><!--Compare-->ARAÇ KIYASLAMA</a></li>
                            <li><a data-url="About" routerLink="/About"><!--About-->HAKKIMIZDA</a></li>
                            <li><a data-url="Blog" routerLink="/Blog">Blog</a></li>
                            <li><a data-url="Contact" routerLink="/Contact"><!--Contact-->İLETİŞİM</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--b-nav-->