<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-briefcase"></i> Workers Düzenle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>
                <div class="editor-label">
                    NameSurname
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="NameSurname" [ngModel]="model?.NameSurname" formControlName="NameSurname" type="text" value="{{ model?.NameSurname }}" />
                    <br />
                    <!-- NameSurname -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Position
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Position" [ngModel]="model?.Position" formControlName="Position" type="text" value="{{ model?.Position }}" />
                    <br />
                    <!-- Position -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Description
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Description" [ngModel]="model?.Description" formControlName="Description" type="text" value="{{ model?.Description }}" />
                    <br />
                    <!-- Description -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    PictureUrl
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <a href="/RentACar/Uploads/{{ model?.PictureUrl }}" target="_blank"><img [src]="['/RentACar/Uploads/thumb_' + model?.PictureUrl]" style="height:40px; max-width:80px;" /></a><br /><br />
                    <input id="PictureUrl" [ngModel]="model?.PictureUrl" formControlName="PictureUrl" type="hidden" value="{{ model?.PictureUrl }}" />
                    <input id="picTemp" type="file" (change)="onFileSelect($event)" name="picTemp" />
                    <br />
                    <!-- PictureUrl -->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
                    <a routerLink="/Admin/Workers" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>
