<div class="twocell">
    <div id="logincontrol">
        <div class="row">
            <div class="left ralign">Kullanıcı Adı</div>
            <div class="right">
                <input type="text" id="username" /></div>
        </div>
        <div class="row">
            <div class="left ralign">Şifre</div>
            <div class="right">
                <input type="password" id="password" /></div>
        </div>
        <div class="row ralign">
            <input id="login" type="button" class="orange" onclick="javascript:;" value="Giriş Yap" data-type="Aday" />
        </div>
        <div class="row ralign">
            <div class="left hide"></div>
            <div class="right">
                <a href="#">Şifremi Unuttum</a> / <a href="#">Kayıt Ol</a>
            </div>
        </div>
    </div>
</div>
