@using TDLibrary

<div class="twocell rmargin">
    <div id="loginmessage" class="ralign">
        <h2>Aradığınız İş Burada</h2>
        Siz de mi iş arıyorsanız?
        <br />
        <br />
        Aradığınız işi burada bulma şansınız çok fazla.
        <br />
        <br />
        Hemen üye olun ve kariyerinize en uygun işten başlayın.
    </div>
</div>