<section>
    <div class="block double-gap-top double-gap-bottom">
        <div data-velocity="-.1" style="background: url(/HumanResources/Content/img/resource/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="simple-text-block">
                        <h3>Özgeçmişinizle Fark Yaratın!</h3>
                        <span>İnsan Kaynakları özgeçmiş yardımcısı ile birkaç dakika içinde özgeçmişiniz hazır!</span>
                        <a href="javascript:;" title="">Hesap Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>