<section>
    <div class="block">
        <div data-velocity="-.1" style="background: url(/HumanResources/Content/img/resource/parallax2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading light">
                        <h2>Aday Yorumları</h2>
                        <span>İnsan Kaynakları'nın sunduğu hizmet hakkında başkaları ne düşündü?</span>
                    </div><!-- Heading -->
                    <div class="reviews-sec" id="reviews-carousel">
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="/HumanResources/Content/img/resource/r1.jpg" alt="" />
                                <h3>Augusta Silva <span>Web Tasarımcı</span></h3>
                                <p>İnsan Kaynakları olmadan evsiz kaldım, bana bir iş buldular ve her şeyi çabucak hallettiler! Hizmete tam olarak inanamıyorum</p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="/HumanResources/Content/img/resource/r2.jpg" alt="" />
                                <h3>Ali Tufan <span>Web Tasarımcı</span></h3>
                                <p>İnsan Kaynakları olmadan evsiz kaldım, bana bir iş buldular ve her şeyi çabucak hallettiler! Hizmete tam olarak inanamıyorum</p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="/HumanResources/Content/img/resource/r1.jpg" alt="" />
                                <h3>Augusta Silva <span>Web Tasarımcı</span></h3>
                                <p>İnsan Kaynakları olmadan evsiz kaldım, bana bir iş buldular ve her şeyi çabucak hallettiler! Hizmete tam olarak inanamıyorum</p>
                            </div><!-- Reviews -->
                        </div>
                        <div class="col-lg-6">
                            <div class="reviews">
                                <img src="/HumanResources/Content/img/resource/r2.jpg" alt="" />
                                <h3>Ali Tufan <span>Web Tasarımcı</span></h3>
                                <p>İnsan Kaynakları olmadan evsiz kaldım, bana bir iş buldular ve her şeyi çabucak hallettiler! Hizmete tam olarak inanamıyorum</p>
                            </div><!-- Reviews -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>