<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Bağlı Şirketler</h2>
                        <span>Birlikte çalıştığımız bazı şirketler.</span>
                    </div><!-- Heading -->
                    <div class="comp-sec">
                        <div class="company-img">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/cc1.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/cc2.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/cc3.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/cc4.jpg" alt="" /></a>
                        </div><!-- Client  -->
                        <div class="company-img">
                            <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/cc5.jpg" alt="" /></a>
                        </div><!-- Client  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>