<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Öne Çıkan İşler</h2>
                        <span>Öncü iş ve yetenek kullanan işverenler.</span>
                    </div><!-- Heading -->
                    <div class="job-listings-sec">
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l1.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Web Tasarımcı / Web Yazılımcı</a></h3>
                                <span>Massimo Artemisis</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Şişli, İstanbul</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">TAM ZAMANLI</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l2.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Pazarlama Direktörü</a></h3>
                                <span>Tix Dog</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Rennes, France</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is pt">YARI ZAMANLI</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l3.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Senior C#.Net Yazılımcı</a></h3>
                                <span>StarHealth</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Merkez, Sivas</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">TAM ZAMANLI</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l4.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Uygulama Geliştirici For Android</a></h3>
                                <span>Altes Bank</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Istanbul, Turkey</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is fl">SERBEST ÇALIŞMA</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l5.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Güney Bölge Satış Müdürü east Asia</a></h3>
                                <span>Vincent</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Yalova, Bursa</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is tp">DÖNEMSEL</span>
                        </div><!-- Job -->
                        <div class="job-listing">
                            <div class="job-title-sec">
                                <div class="c-logo"> <img src="/HumanResources/Content/img/resource/l6.png" alt="" /> </div>
                                <h3><a href="javascript:;" title="">Sosyal Medya Uzmanı Relation Executive </a></h3>
                                <span>MediaLab</span>
                            </div>
                            <span class="job-lctn"><i class="la la-map-marker"></i>Ankara / Turkey</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <span class="job-is ft">TAM ZAMANLI</span>
                        </div><!-- Job -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="browse-all-cat">
                        <a href="javascript:;" title="">Daha Fazla Göster...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
