<div class="job-search-sec">
    <div class="job-search">
        <h3>Yeni İşinizi Kurmanın En Kolay Yolu</h3>
        <span>İş, İstihdam ve Kariyer Fırsatları Bulun</span>
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
                    <div class="job-field">
                        <input type="text" placeholder="İş ünvanı, anahtar kelimeler veya şirket adı" name="Words" formControlName="Words" />
                        <i class="la la-keyboard-o"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <div class="job-field">
                        <select data-placeholder="Şehir, il veya bölge" class="chosen-city" id="slcCity" name="City" formControlName="City">
                            <option value="1">Sivas </option>
                            <option value="2">İstanbul</option>
                            <option value="3">Bilecik</option>
                            <option value="4">Antalya</option>
                        </select>
                        <i class="la la-map-marker"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                    <button type="submit" (click)="onClick()" [disabled]="!searchForm.valid"><i class="la la-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>