<div class="job-search-sec">
    <div class="job-search">
        <h3>The Easiest Way to Get Your New Job</h3>
        <span>Find Jobs, Employment & Career Opportunities</span>
        <div>
            <!--form-->
            <div class="row">
                <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
                    <div class="job-field">
                        <input type="text" placeholder="Job title, keywords or company name" />
                        <i class="la la-keyboard-o"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                    <div class="job-field">
                        <select data-placeholder="City, province or region" class="chosen-city">
                            <option>New York </option>
                            <option>Istanbul</option>
                            <option>London</option>
                            <option>Russia</option>
                        </select>
                        <i class="la la-map-marker"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                    <button type="submit"><i class="la la-search"></i></button>
                </div>
            </div>
        </div>
        <div class="or-browser">
            <span>Browse job offers by</span>
            <a href="#" title="">Category</a>
        </div>
    </div>
</div>