<section>
    <div class="block">
        <div data-velocity="-.1" style="background: url(/HumanResources/Content/img/resource/parallax3.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Hızlı Kariyer İpuçları</h2>
                        <span>İşverenler tarafından bulunan, işe alım yöneticileri ve işe alım görevlileri ile doğrudan iletişim kurar.</span>
                    </div>
                    <div class="blog-sec">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/b1.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="javascript:;" title="">29.03.2017</a>
                                            <a href="javascript:;" title="">0 Yorum</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="javascript:;" title="">Satış ve Kârlara Daha Fazla Dikkat Çekin</a></h3>
                                        <p>İş, çalışan olmak, gönüllü olmak, </p>
                                        <a href="javascript:;" title="">Devamını Oku <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/b2.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="javascript:;" title="">29.03.2017</a>
                                            <a href="javascript:;" title="">0 Yorum</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="javascript:;" title="">Yeni Müşteriler Edinmenize Yardımcı Olacak 11 İpucu</a></h3>
                                        <p>İş, çalışan olmak, gönüllü olmak, </p>
                                        <a href="javascript:;" title="">Devamını Oku <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="my-blog">
                                    <div class="blog-thumb">
                                        <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/b3.jpg" alt="" /></a>
                                        <div class="blog-metas">
                                            <a href="javascript:;" title="">29.03.2017</a>
                                            <a href="javascript:;" title="">0 Yorum</a>
                                        </div>
                                    </div>
                                    <div class="blog-details">
                                        <h3><a href="javascript:;" title="">Çok Çalışan Bir Gazete Editörü</a></h3>
                                        <p>İş, çalışan olmak, gönüllü olmak, </p>
                                        <a href="javascript:;" title="">Devamını Oku <i class="la la-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>