<div class="widget">
    <div class="tree_widget-sec">
        <ul>
            <li><a routerLink="/IsVeren/Profil"><i class="la la-file-text"></i>Profil</a></li>
            <li><a routerLink="/IsVeren/Ilan/Liste"><i class="la la-briefcase"></i>İlanlar</a></li>
            <li><a routerLink="/IsVeren/Paket/Odemeler"><i class="la la-money"></i>Ödemeler</a></li>
            <li><a routerLink="/IsVeren/Ilan/Basvurular"><i class="la la-paper-plane"></i>Başvurular</a></li>
            <li><a routerLink="/IsVeren/Paket/Liste"><i class="la la-user"></i>Paketler</a></li>
            <li><a routerLink="/IsVeren/Ilan/Ekle"><i class="la la-file-text"></i>Yeni İlan</a></li>
            <li><a routerLink="/IsVeren/Ilan/Alarm"><i class="la la-flash"></i>İş Habercisi</a></li>
            <li><a routerLink="/IsVeren/Profil/SifreDegistir"><i class="la la-lock"></i>Şifre Değiştir</a></li>
            <li><a href="javascript:;"><i class="la la-unlink"></i>Çıkış Yap</a></li>
        </ul>
    </div>
</div>