<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>
<rac-carbookingprogress></rac-carbookingprogress>

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <rac-carbookingleftmenu [leftmenu]="langs?.content"></rac-carbookingleftmenu>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <div class='s-submit'>
                        <!--form action="submit5.html" method="post"-->
                        <div class="b-submit__main-contacts wow zoomInUp" data-wow-delay="0.3s">
                            <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                                <h2>{{ langs?.content?.title3 }}</h2>
                            </header>
                            <p class="wow zoomInUp" data-wow-delay="0.3s">{{ langs?.content?.longdesc3 }}</p>
                            <div class="b-submit__main-element">
                                <label><!--Vehicle Current Address-->Araç Sahibinin Adresi <span>*</span></label>
                                <input type="text" name="addr" />
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--City / State-->Şehir / Ülke <span>*</span></label>
                                        <input type="text" name="city" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Zip Code / District-->Posta Kodu / Semt <span>*</span></label>
                                        <input type="text" name="code" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Enter Your Phone Number-->Telefon Numaranız <span>*</span></label>
                                        <input type="text" name="phone" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element">
                                        <label><!--Enter Your Email Address-->E-Posta Adresiniz <span>*</span></label>
                                        <input type="text" name="email" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.3s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>-->
                        <a routerLink="/Cars/Book/Submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">{{ langs?.nextstep }}<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->