<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>
<rac-carbookingprogress></rac-carbookingprogress>

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <rac-carbookingleftmenu [leftmenu]="langs?.content"></rac-carbookingleftmenu>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <div class="s-submit b-items" style="padding-top:0px;">
                        <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                            <h2>{{ langs?.content?.title3 }}</h2>
                        </header>
                        <p class="wow zoomInUp" data-wow-delay="0.3s">{{ langs?.content?.longdesc3 }}</p>
                        <div *ngIf="carList?.length <= 0" id="compareNull" [class.show]="carList?.length <= 0">
                            <span>{{ langs?.null }}</span>
                        </div>
                        <div id="carousel-small">
                            <div class="listItem" *ngFor="let group of carList">
                                <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s" *ngFor="let item of group?.Cars">
                                    <div class="b-items__cars-one-img">
                                        <img src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" alt='{{ item?.Title }}' />
                                        <div>
                                            <input class="chkSelectCar" type="checkbox" id="check{{ item?.ID }}" name="check{{ item?.ID }}" [attr.data-url]="item?.Url"
                                                   (change)="onChange($event)" />
                                            <label for="check{{ item?.ID }}" class="b-items__cars-one-img-check"><span class="fa fa-check"></span></label>
                                        </div>
                                    </div>
                                    <div class="b-items__cars-one-info">
                                        <header class="b-items__cars-one-info-header s-lineDownLeft">
                                            <h2>{{ item?.Title }}</h2>
                                            <span>{{ item?.Price }} TL</span>
                                        </header>
                                        <p>
                                            {{ item?.ShortDescription }}
                                        </p>
                                        <div class="b-items__cars-one-info-km">
                                            <span class="fa fa-tachometer"></span> {{ item?.Mileage }} KM
                                        </div>
                                        <div class="b-items__cars-one-info-details">
                                            <div class="b-featured__item-links">
                                                <a href="javascript:;">{{ langs?.registered }} {{ item?.Year }}</a>
                                                <a href="javascript:;">{{ item?.Status }}</a>
                                                <a href="javascript:;">{{ item?.Gear }}</a>
                                                <a href="javascript:;">{{ item?.Fuel }}</a>
                                            </div>
                                            <a routerLink="/Cars/Detail/{{ item?.Url }}" class="btn m-btn">{{ langs?.detail }}<span class="fa fa-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="listControls" class="owl-controls clickable">
                                <div class="owl-buttons">
                                    <div class="owl-prev"></div>
                                    <span id="spnPage"></span>
                                    <div class="owl-next"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" (click)="onClick()" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s" disabled="disabled">{{ langs?.nextstep }}<span class="fa fa-angle-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->