<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>

<!--b-infoBar-->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-infoBar__progress-line clearfix">
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                        <div class="b-infoBar__progress-line-step">
                            <div class="b-infoBar__progress-line-step-circle">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                            <div class="b-infoBar__progress-line-step-circle m-last">
                                <div class="b-infoBar__progress-line-step-circle-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-infoBar-->
<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <aside class="b-submit__aside">
                    <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                        <h3>1. Adım</h3>
                        <div class="b-submit__aside-step-inner m-active clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-tasks"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--DETAILS-->DETAYLAR</h4>
                                <p><!--Choose Vehicle Specifications-->Detay Seçimi</p>
                                <div class="b-submit__aside-step-inner-info-triangle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>2. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-list-ul"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--FEATURES-->ÖZELLİKLER</h4>
                                <p><!--Choose Info-->Özellik Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>3. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-car"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--CARS-->ARAÇLAR</h4>
                                <p><!--Choose A Car-->Araç Seçimi</p>
                            </div>
                        </div>
                    </div>
                    <div class="b-submit__aside-step wow zoomInUp" data-wow-delay="0.5s">
                        <h3>4. Adım</h3>
                        <div class="b-submit__aside-step-inner clearfix">
                            <div class="b-submit__aside-step-inner-icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="b-submit__aside-step-inner-info">
                                <h4><!--CONFIRMATION-->ONAYLAMA</h4>
                                <p><!--Submit-->Gönder</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                        <h2 class=""><!--Vehicle Details-->Araç Detayı</h2>
                    </header>
                    <div class="s-submit clearfix">
                        <!--form action="submit2.html" method="POST"-->
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Make-->Marka </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcMake">
                                            <option><!--Any Make-->Hepsi</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Model </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcModel">
                                            <option><!--Select a Model-->Model Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Body Type-->Araç Tipi </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcBody">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Drive Type-->Sürüş Tipi </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcDrive">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Engine Type-->Motor Tipi </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcEngine">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Engine Capacity-->Motor Hacmi </label>
                                    <!--<input placeholder="Enter Capacity" type="text" name="txtEngineCapacity" />-->
                                    <input placeholder="Motor Hacmi" type="text" name="txtEngineCapacity" />
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Transmission Type-->Vites Tipi </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcTransmission">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Gears-->Vites Sayısı </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcGears">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Status-->Araç Durumu </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcStatus">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Mileage-->Kilometre Bilgisi (En Çok)</label>
                                    <!--<input placeholder="Enter Mileage" type="text" name="txtMileage" />-->
                                    <input placeholder="Kilometre Bilgisi Giriniz" type="text" name="txtMileage" />
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Min. Price-->Fiyat (En Az)</label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcMinPrice">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Max. Price-->Fiyat (En Çok)</label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcMaxPrice">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Fuel Type-->Yakıt Tipi </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcFuel">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Cylinders-->Silindir Sayısı </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcCylinders">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Manufacturer Year-->Üretim Yılı (Başlangıç)</label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcMinYear">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Vehicle Manufacturer Year-->Üretim Yılı (Son)</label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcMaxYear">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Seats-->Koltuk Sayısı </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcSeats">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--No. of Doors-->Kapı Sayısı </label>
                                    <div class='s-relative'>
                                        <select class="m-select" name="slcDoors">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Exterior Color-->Dış Boya Rengi </label>
                                    <div class="s-relative">
                                        <select class="m-select" name="slcExteriorColor">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label><!--Interior Color-->İç Döşeme Rengi </label>
                                    <div class="s-relative">
                                        <select class="m-select" name="slcInteriorColor">
                                            <option><!--Select-->Seçiniz</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>-->
                        <a routerLink="/Cars/Book/Features" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">KAYDET &amp; İLERLE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->
