<rac-carbookingheader></rac-carbookingheader>
<rac-carbookingbreadcumbs></rac-carbookingbreadcumbs>
<rac-carbookingprogress></rac-carbookingprogress>

<!--b-submit-->
<div class="b-submit">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <rac-carbookingleftmenu [leftmenu]="langs?.content"></rac-carbookingleftmenu>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                <div class="b-submit__main">
                    <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                        <h2>{{ langs?.content?.title1 }}</h2>
                    </header>
                    <p class="wow zoomInUp" data-wow-delay="0.3s">{{ langs?.content?.longdesc1 }}</p>
                    <form [formGroup]="bookForm" class="s-submit clearfix">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.date }} ({{ langs?.search?.start }})</label>
                                    <div class='s-relative'>
                                        <input placeholder="31.12.2019 00:00" type="text" id="txtStartDate"
                                               name="txtStartDate" formControlName="StartDate" />
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.date }} ({{ langs?.search?.end }})</label>
                                    <div class='s-relative'>
                                        <input placeholder="31.12.2019 00:00" type="text" id="txtEndDate"
                                               name="txtEndDate" formControlName="EndDate" />
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.make }}</label>
                                    <div class='s-relative'>
                                        <select id="slcCarMakes" name="slcCarMakes" (change)="onChange($event)" class="m-select" formControlName="MakeCode">
                                            <option *ngFor="let item of CarMakes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.model }}</label>
                                    <div class='s-relative'>
                                        <select id="slcCarModels" name="slcCarModels" class="m-select" formControlName="ModelCode">
                                            <option *ngFor="let item of CarModels" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.status }}</label>
                                    <div class='s-relative'>
                                        <select id="slcCarStatus" name="slcCarStatus" class="m-select" formControlName="CarStatusCode">
                                            <option *ngFor="let item of CarStatus" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.enginetype }}</label>
                                    <div class='s-relative'>
                                        <select id="slcEngineType" name="slcEngineType" class="m-select" formControlName="EngineTypeCode">
                                            <option *ngFor="let item of EngineTypes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.enginecapacity }} (cc)</label>
                                    <input placeholder="{{ langs?.search?.enginecapacity }}" type="number" id="txtEngineCapacity"
                                           name="txtEngineCapacity" formControlName="EngineCapacity" />
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.gear }}</label>
                                    <div class='s-relative'>
                                        <select id="slcGearType" name="slcGearType" class="m-select" formControlName="GearTypeCode">
                                            <option *ngFor="let item of GearTypes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.gearno }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcGearCount" name="slcGearCount" formControlName="GearCount">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.cylinders }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcCylinders" name="slcCylinders" formControlName="Cylinders">
                                            <option value="all">-</option>
                                            <option value="1">1</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.fueltype }} (lt)</label>
                                    <div class='s-relative'>
                                        <select id="slcFuelType" name="slcFuelType" class="m-select" formControlName="FuelTypeCode">
                                            <option *ngFor="let item of FuelTypes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.price }} ({{ langs?.search?.min }})</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcPriceMin" name="slcPriceMin" formControlName="PriceMin">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.price }} ({{ langs?.search?.max }})</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcPriceMax" name="slcPriceMax" formControlName="PriceMax">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.minyear }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcYearMin" name="slcYearMin" formControlName="YearMin">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.maxyear }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcYearMax" name="slcYearMax" formControlName="YearMax">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.bodytype }}</label>
                                    <div class='s-relative'>
                                        <select id="slcBodyType" name="slcBodyType" class="m-select" formControlName="BodyTypeCode">
                                            <option *ngFor="let item of BodyTypes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.drivetype }}</label>
                                    <div class='s-relative'>
                                        <select id="slcDriveType" name="slcDriveType" class="m-select" formControlName="DriveTypeCode">
                                            <option *ngFor="let item of DriveTypes" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.mileage }} ({{ langs?.search?.max }})</label>
                                    <input placeholder="{{ langs?.search?.mileage }}" type="number" id="txtMileage"
                                           name="txtMileage" formControlName="Mileage" />
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.seats }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcSeats" name="slcSeats" formControlName="Seats">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.doors }}</label>
                                    <div class='s-relative'>
                                        <select class="m-select" id="slcDoors" name="slcDoors" formControlName="Doors">
                                            <option value="all">-</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.extcolor }}</label>
                                    <div class="s-relative">
                                        <select class="m-select" id="slcExteriorColor" name="slcExteriorColor" formControlName="ExteriorColor">
                                            <option *ngFor="let item of ExtColors" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>{{ langs?.search?.intcolor }}</label>
                                    <div class="s-relative">
                                        <select class="m-select" id="slcInteriorColor" name="slcInteriorColor" formControlName="InteriorColor">
                                            <option *ngFor="let item of IntColors" value="{{ item?.Value }}">{{ item?.Text }}</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" (click)="onClick()" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">{{ langs?.nextstep }}<span class="fa fa-angle-right"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--b-submit-->
