#logoedit {width: 150px;float: left;margin: 0px 0px 0px 0px;text-align: center;padding: 20px 0px 20px 0px;}
#logoedit img {border: 1px solid #2188F3;width:108px;}
#logobuttons {width: 108px;position: absolute;margin: 0px 0px 0px 21px;text-align: center;color: #2188F3;}
#logobuttons a {color:#2188F3;}
#logobuttons a:hover {text-decoration:underline;}

#lastvisit {float:left;margin: 20px 0px 0px 0px;width: 528px;padding: 0px 20px 0px 0px;font-size: 10px;color: gray;}

#companyoptions {float:left;margin: 20px 0px 0px 0px;width:528px;padding: 0px 20px 0px 0px;}
#companyoptions .row {float:left;margin: 10px 0px 0px 0px;width: 100%;}
#companyoptions .row .subject {float:left;margin: 0px 0px 0px 0px;width: 150px;font-weight: bold;color: #9A9A9A;min-height: 10px;}
#companyoptions .row .object {float:left;margin: 0px 0px 0px 0px;width: 378px;}
#companyoptions .row .object a {color:#2188F3;}
#companyoptions .row .object a:hover {text-decoration:underline;}

#companyoptions .row .object a#resumestatus {float:left;margin:0px 0px 0px 0px;padding:10px;width: 100px;text-align: center;font-size: 18px;color: #fff;}
#companyoptions .row .object a#resumestatus:hover {text-decoration:none;}
#companyoptions .row .object a#resumestatus.active {background-color: #1BA260;}
#companyoptions .row .object a#resumestatus.passive {background-color:#808080;}
#companyoptions .row .object #statusnote {float:left;margin: 5px 0px 0px 0px;width: 328px;padding: 0px 20px 0px 0px;font-size: 11px;color: gray;height: 30px;}

#sirketlinks {float:left;margin: 20px 0px 10px 20px;width: 658px;}

.linkcolumn {margin: 0px 0px 20px 10px;float: left;background-image: url(../../Resim/icons/blue/resume.png);background-repeat: no-repeat;
             padding-left: 30px;border: 1px solid lightgray;padding: 0px 30px 0px 40px;width: 80px;height: 70px;line-height: 70px;
             overflow: hidden;background-position: 10px 25px;text-align: center;background-color:#FFF;}
.linkcolumn.smalltext {line-height: normal;padding-top: 23px;height: 47px;}
.linkcolumn.home {background-image: url(../../Resim/icons/blue/home.png);}
.linkcolumn.announce {background-image: url(../../Resim/icons/blue/announce.png);}
.linkcolumn.giveannounce {background-image: url(../../Resim/icons/blue/giveannounce.png);}
.linkcolumn.pool {background-image: url(../../Resim/icons/blue/pool.png);}
.linkcolumn.about {background-image: url(../../Resim/icons/blue/about.png);}
.linkcolumn.favorite {background-image: url(../../Resim/icons/blue/favorite.png);}
.linkcolumn.block {background-image: url(../../Resim/icons/blue/block.png);}
.linkcolumn.applications {background-image: url(../../Resim/icons/blue/applications.png);}
.linkcolumn.files {background-image: url(../../Resim/icons/blue/files.png);}
.linkcolumn.message {background-image: url(../../Resim/icons/blue/message.png);}
.linkcolumn.logout {background-image: url(../../Resim/icons/blue/logout.png);}

#updatearea .subject {color:#2188F3!important;}
#updatearea .subject, #updatearea .object {margin-bottom:5px!important;}
#updatearea .updbutton {float:left;margin: 10px 10px 0px 0px;height:40px;text-align:center;line-height:40px;border:1px solid #2188F3;width: 80px;}
#updatearea .object textarea {float:left;width:300px;height:100px;border:1px solid #2188F3;}
#updatearea .object input[type=text] {float:left;border:1px solid #2188F3;padding:5px;}
#updatearea .object input[type=password] {float:left;border:1px solid #2188F3;padding:5px;}
#updatearea .object label {float:left;color:gray;font-size: 11px;width: 100%;}

.select {width: 169px;cursor:pointer;border: 1px solid #FF6000;padding: 5px;height: 30px;line-height: 30px;color: gray;overflow: hidden;float: left;
         margin: 0px 0px 0px 0px;background-position: 163px 15px!important;}
.select img {margin: -6px 3px 0px 0px;float: right;}
.options {background-color:#FFF;position: absolute;margin: 41px 0px 0px 0px;border: 1px solid #FF6000;width: 169px;list-style: none;padding: 5px;
          max-height:90px;overflow-x:hidden;overflow-y: auto;}
.options li {padding:5px;color:#000;cursor:pointer;}
.options li:hover {background-color:lightgray;}
#sectorselect {border-color:#2188F3;}
#sectoroptions {border-color:#2188F3;}
#cityselect {border-color:#2188F3;}
#cityoptions {border-color:#2188F3;}

@media only screen and (max-width: 1024px) and (min-width: 769px)
{
#userhome {width: 768px;}
#logoedit img {margin-left: 2px;}
#lastvisit {width: 596px;}
#companyoptions {width: 596px;}
#companyoptions .row .object {width: 446px;}
#companyoptions .row .object #statusnote {width: 446px;}
#sirketlinks {width: 746px;}
.linkcolumn {width: 97px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#userhome {width: 568px;}
#logoedit img {margin-left: 2px;}
#logobuttons {margin-left: 230px;}
#logoedit {width: 100%;}
#lastvisit {width: 536px;margin-left: 10px;margin-top: 0px;}
#companyoptions {width: 536px;margin-left: 10px;}
#companyoptions .row .object {width: 386px;}
#companyoptions .row .object #statusnote {width: 386px;}
#sirketlinks {width: 546px;}
.linkcolumn {width: 90px;}
.linkcolumn.logout {width: 262px;background-position: 115px 25px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#userhome {width: 480px;}
#logoedit img {margin-left: -4px;}
#logobuttons {margin-left: 183px;}
#logoedit {width: 100%;}
#lastvisit {width: 448px;margin-left: 10px;margin-top: 0px;}
#companyoptions {width: 458px;}
#companyoptions {width: 448px;margin-left: 10px;}
#companyoptions .row .object {width: 298px;}
#companyoptions .row .object #statusnote {width: 298px;}
#sirketlinks {width: 458px;}
.linkcolumn {width: 133px;}
}
@media only screen and (max-width: 480px)
{
#userhome {width: 320px;}
#logoedit img {margin-left: 10px;}
#logobuttons {margin-left: 110px;}
#logoedit {width: 100%;}
#lastvisit {width: 288px;margin-top: 0px;margin-left: 10px;}
#companyoptions {width: 288px;margin-left: 10px;}
#companyoptions .row .subject {width: 100%;}
#companyoptions .row .object {width: 100%;}
#companyoptions .row .object #statusnote {width: 138px;height: 60px;}
#sirketlinks {width: 298px;}
.linkcolumn {width: 182px;}
#updatearea .object textarea {width: 292px;}
}