#searcharea {float:left;margin: 0px 0px 0px 0px;width: 100%;}
#searcharea .searchbox {float:left;margin: 0px 0px 0px 0px;width: 329px;padding: 10px;}
#searcharea .searchbox.large {width: 678px;padding: 10px;border-bottom: none;height: 40px;}
#searcharea .searchbox input[type=text] {float:left;margin: 0px 0px 0px 0px;width: 96%;height: 20px;line-height: 30px;padding: 5px;}
#searchbtn {float:right;margin: 0px 0px 0px 0px;padding: 10px;width: 120px;}

#table .row .column.first img {max-width:33%;}

.select {width: 316px;cursor:pointer;border: 1px solid #FF6000;padding: 5px;height: 20px;line-height: 20px;color: gray;overflow: hidden;
         float: left;margin: 0px 0px 0px 0px;background-position: 310px 10px!important;}
.select.blue {border-color: #2188F3;}
.select img {margin: -6px 3px 0px 0px;float: right;}
.options {width: 316px;background-color:#FFF;position: absolute;margin: 31px 0px 0px 0px;border: 1px solid #FF6000;list-style: none;
          padding: 5px;max-height:90px;overflow-x:hidden;overflow-y: auto;}
.options.blue {border-color: #2188F3;}
.options li {padding:5px;color:#000;cursor:pointer;}
.options li:hover {background-color:lightgray;}

@media only screen and (max-width: 1024px) and (min-width: 769px)
{
#detail {width: 768px;}
#searcharea .searchbox {width: 363px;}
#searcharea .searchbox.large {width: 742px;padding-right: 14px;}

.select {width: 348px;background-position: 342px 10px!important;}
.options {width: 316px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#detail {width: 568px;}
#searcharea .searchbox {width: 263px;}
#searcharea .searchbox.large {width: 546px;}

.select {width: 253px;background-position: 248px 10px!important;}
.options {width: 253px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#detail {width: 480px;}
#searcharea .searchbox {width: 463px;}
#searcharea .searchbox.large {width: 456px;}

.select {width: 445px;background-position: 440px 10px!important;}
.options {width: 445px;}
}
@media only screen and (max-width: 480px)
{
#detail {width: 320px;}
#searcharea .searchbox {width: 298px;}
#searcharea .searchbox.large {width: 298px;}

.select {width: 286px;background-position: 282px 10px!important;}
.options {width: 286px;}
}