<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-eye-open"></i> Log Tipi Tablosu</a></div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"><i class="icon-eye-open"></i></span>
						<h5>Log Tipi Tablosu</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
								<tr>
									<th>ID</th>
									<th>İsim</th>
									<th>Kısa İsim</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of LogTypesList">
									<td>{{ item?.ID }}</td>
									<td>{{ item?.Name }}</td>
									<td>{{ item?.ShortName }}</td>
									<td style="text-align:center;">
										<div class="btn-group" style="text-align:left;">
											<button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
											<ul class="dropdown-menu">
												<li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/LogTypes/Update/' + item?.ID]">Düzenle</a></li>
												<li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="LogTypes" [attr.data-id]="item?.ID">Kopyala</a></li>
												<li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="LogTypes" [attr.data-id]="item?.ID">Sil</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="pagelinks" *ngIf="insertShow">
			<a routerLink="/Admin/LogTypes/Insert" class="btn btn-primary btn-add">Log Tipi Ekle</a>
		</div>

		<input id="hdnType" type="hidden" value="Logs" />
	</div>
</div>

<admin-copydelete></admin-copydelete>
