@using TDLibrary

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Panel</title>

    @{ Html.RenderPartial("~/Views/Shared/Controls/_Scripts.cshtml"); }
</head>
<body>
    <input id="hdnUrl" type="hidden" value="@Urling.FullURL" />

    @{ Html.RenderPartial("~/Views/Shared/Controls/_Header.cshtml"); }
    <div id="content">
        @RenderBody()
    </div>
    @{ Html.RenderPartial("~/Views/Shared/Controls/_Footer.cshtml"); }
</body>
</html>
