<h3>Son Haberler</h3>
<div class="post_widget">
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb1.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">Adidas 12000 Kişilik İstihdam Sağladı</a></h3>
            <span>25.11.2019</span>
        </div>
    </div>
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb2.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">Hayalinizdeki İş Sizi Bekliyor</a></h3>
            <span>26.11.2019</span>
        </div>
    </div>
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb3.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">İşverenler İçin Donanımlı İstihdam Fırsatı</a></h3>
            <span>27.11.2019</span>
        </div>
    </div>
</div>