<h3>Recent Posts</h3>
<div class="post_widget">
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb1.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">Canada adds 12,500 jobs in modest July rebound</a></h3>
            <span>October 25, 2017</span>
        </div>
    </div>
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb2.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">How to “Woo” a Recruiter and Land Your Dream Job</a></h3>
            <span>October 25, 2017</span>
        </div>
    </div>
    <div class="mini-blog">
        <span><a href="#" title=""><img src="/HumanResources/Content/img/resource/mb3.jpg" alt="" /></a></span>
        <div class="mb-info">
            <h3><a href="#" title="">Hey Job Seeker, It’s Time To Get Up And Get Hired</a></h3>
            <span>October 25, 2017</span>
        </div>
    </div>
</div>