<hr-banner [title]="'Blog Detay'"></hr-banner>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <div class="blog-single">
                        <div class="bs-thumb">
                            <img src="/HumanResources/Content/img/resource/bs1.jpg" alt="" />
                        </div>
                        <h2>Yeni Müşteriler Bulmak İçin 11 Öneri</h2>
                        <p>
                            Dışarının ardından bir derece rütbeli bir kuşku duymadığım kadarıyla, kibirli bir taşıtla karşı konulmazca çılgınca penguen böceği 
                            ayrıca vay kesinlikle acımasızca acımasızca dalmaçyalı bir parıldayan iç metin bir echidna cassowary bazı papağan ve çok iyilik bazı 
                            wud somurtkan sopayı dondurarak acayip aceleyle anında yılan balığı üzerine acımasızca derhal yemin ettiler.
                        </p>
                        <p>
                            Tekrar tekrar rüya alas opossum, ancak büyük ölçüde hızla cüretkâr olmasına rağmen, ciplerin gevşek bir şekilde tutturulmuşları ya da 
                            yılanları topladıkları ve sıkı sıkıya uyukladıkları için sıkı sıkıya uyudular. daha çok bu nedenle daha iyi bir şekilde, orca ve 
                            dolayısıyla birinden daha iyi bir şekilde ayrıldıklarından daha azdı. Dışarının ardından bir rütbenin beklediği kadarıyla kuşkusuz ki, 
                            kibirli bir taşıt tahammül edilemez derecede telaşlıca çılgınca taşınırken iddia edilemez derecede daha fazla.
                        </p>
                        <h3>İş Ağı Hakkında</h3>
                        <p>
                            Dışardan sonra beklenmedik derecede daha fazla kuşku duymadığı iddia edilirse, kibirli bir şekilde acımasızca acımasızca dalma çılgınca 
                            penguen böceği ilaveten, acımasızca acımasızca dalmaçyalı bir parıldayan yaldızlı insanoğlunun bir echidna cassowary bazı sümüklü bir 
                            münasebetle öfkelenmiş bir şerefsizce acımasızca incinmiş yiğitçe bu boyunca yüksek derecede çok şey boyunca dilekçe verdi.
                        </p>
                        <blockquote>
                            <p>
                                <i>“</i><span>
                                Bir gençliğin bu heyecan verici haberi arkadaşlarına bildirdiği Dell bilgisayar reklamlarını, gençlerin bu heyecan verici haberi arkadaşlarına 
                                bildirdiğini hatırlayabilirsiniz.<i>”</i>
                            </span>
                            </p><strong>Ali TUFAN</strong>
                        </blockquote>
                        <p>
                            Dışardan sonra beklenmedik derecede daha fazla kuşku duymadığı iddia edilirse, kibirli bir şekilde acımasızca acımasızca dalma çılgınca 
                            penguen böceği ilaveten, acımasızca acımasızca dalmaçyalı bir parıldayan yaldızlı insanoğlunun bir echidna cassowary bazı sümüklü bir 
                            münasebetle öfkelenmiş bir şerefsizce acımasızca incinmiş ciddiyetle bu boyunca boyunca çok yüksek
                        </p>
                        <div class="tags-share">
                            <div class="tags_widget">
                                <span>Tagler</span>
                                <a href="#" title="">İş</a>
                                <a href="#" title="">Satış</a>
                                <a href="#" title="">Seyahat</a>
                            </div>
                        </div>
                        <div class="post-navigation ">
                            <div class="post-hist prev">
                                <a href="#" title=""><i class="la la-arrow-left"></i><span class="post-histext">Önceki Haber<i>İstihdam Fırsatı</i></span></a>
                            </div>
                            <div class="post-hist next">
                                <a href="#" title=""><span class="post-histext">Sonraki Haber<i>Yeni İş Fırsatları</i></span><i class="la la-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-3 column">
                    <hr-blogleft></hr-blogleft>

                </aside>
            </div>
        </div>
    </div>
</section>