<hr-banner [title]="'Blog Listesi'"></hr-banner>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <hr-bloglist></hr-bloglist>
                </div>
                <aside class="col-lg-3 column">
                    <div class="widget">
                        <hr-blogsearch></hr-blogsearch>
                    </div>
                    <div class="widget">
                        <hr-blogcategories></hr-blogcategories>
                    </div>
                    <div class="widget">
                        <hr-blogrecent></hr-blogrecent>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>