<hr-banner [title]="'Blog Listesi'"></hr-banner>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 column">
                    <div class="bloglist-sec">
                        <div class="blogpost style2">
                            <div class="blog-posthumb"> <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/bl1.jpg" alt="" /></a> </div>
                            <div class="blog-postdetail">
                                <ul class="post-metas"><li><a href="javascript:;" title=""><i class="la la-calendar-o"></i>25.11.2019</a></li><li><a class="metascomment" href="javascript:;" title=""><i class="la la-comments"></i>4 yorum</a></li></ul>
                                <h3><a href="javascript:;" title="">Yeni Müşteriler Bulmak İçin 11 Öneri</a></h3>
                                <p>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Satış sonrası pazarında meyan kökü lisanslayarak birkaç yıl geçirdi. West Palm Beach, FL banjos ithal bir hafta sonu geçirdi.</p>
                                <a class="bbutton" href="javascript:;" title="">Devamı <i class="la la-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blogpost style2">
                            <div class="blog-posthumb"> <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/bl2.jpg" alt="" /></a> </div>
                            <div class="blog-postdetail">
                                <ul class="post-metas"><li><a href="javascript:;" title=""><i class="la la-calendar-o"></i>26.11.2019</a></li><li><a class="metascomment" href="javascript:;" title=""><i class="la la-comments"></i>2 yorum</a></li></ul>
                                <h3><a href="javascript:;" title="">Ortalama bir insanın bilmediği bir işin var mı?</a></h3>
                                <p>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Satış sonrası pazarında meyan kökü lisanslayarak birkaç yıl geçirdi. West Palm Beach, FL banjos ithal bir hafta sonu geçirdi.</p>
                                <a class="bbutton" href="javascript:;" title="">Devamı <i class="la la-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blogpost style2">
                            <div class="blog-posthumb"> <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/bl3.jpg" alt="" /></a> </div>
                            <div class="blog-postdetail">
                                <ul class="post-metas"><li><a href="javascript:;" title=""><i class="la la-calendar-o"></i>27.11.2019</a></li><li><a class="metascomment" href="javascript:;" title=""><i class="la la-comments"></i>6 yorum</a></li></ul>
                                <h3><a href="javascript:;" title="">DigitalOcean, Toronto'daki ilk Kanadalı veri merkezini başlattı</a></h3>
                                <p>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Satış sonrası pazarında meyan kökü lisanslayarak birkaç yıl geçirdi. West Palm Beach, FL banjos ithal bir hafta sonu geçirdi.</p>
                                <a class="bbutton" href="javascript:;" title="">Devamı <i class="la la-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blogpost style2">
                            <div class="blog-posthumb"> <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/bl4.jpg" alt="" /></a> </div>
                            <div class="blog-postdetail">
                                <ul class="post-metas"><li><a href="javascript:;" title=""><i class="la la-calendar-o"></i>28.11.2019</a></li><li><a class="metascomment" href="javascript:;" title=""><i class="la la-comments"></i>Yorum yok</a></li></ul>
                                <h3><a href="javascript:;" title="">Hayalinizdeki İş Sizi Bekliyor</a></h3>
                                <p>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Satış sonrası pazarında meyan kökü lisanslayarak birkaç yıl geçirdi. West Palm Beach, FL banjos ithal bir hafta sonu geçirdi.</p>
                                <a class="bbutton" href="javascript:;" title="">Devamı <i class="la la-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="blogpost style2">
                            <div class="blog-posthumb"> <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/bl5.jpg" alt="" /></a> </div>
                            <div class="blog-postdetail">
                                <ul class="post-metas"><li><a href="javascript:;" title=""><i class="la la-calendar-o"></i>29.11.2019</a></li><li><a class="metascomment" href="javascript:;" title=""><i class="la la-comments"></i>Yorum yok</a></li></ul>
                                <h3><a href="javascript:;" title="">İşverenler İçin Donanımlı İstihdam Fırsatı</a></h3>
                                <p>Wall Street'teki koyunlar üzerinde çalışarak birkaç yıl geçirdi. Wall Street’te Yugos’a yatırım yapmak için ılımlı bir başarı elde ettiniz. Çiftçiler için zıp zıp alıp satan küçük bir takımı yönetti. Satış sonrası pazarında meyan kökü lisanslayarak birkaç yıl geçirdi. West Palm Beach, FL banjos ithal bir hafta sonu geçirdi.</p>
                                <a class="bbutton" href="javascript:;" title="">Devamı <i class="la la-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <hr-bloglistpager></hr-bloglistpager>

                    </div>
                </div>
                <aside class="col-lg-3 column">
                    <hr-blogleft></hr-blogleft>

                </aside>
            </div>
        </div>
    </div>
</section>