<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MainPath" value="http://localhost/SinaSalik"/>
    <add key="ScriptPath" value="/Content/js"/>
    <add key="StylePath" value="/Content/css"/>
    <add key="ImagePath" value="/Content/img"/>
    <add key="FilePath" value="/Content/files"/>
    <add key="Baslik" value="Sina SALIK Web Sitesi"/>
    <add key="Hosgeldiniz" value="Sina SALIK Web Sitesine Hoş Geldiniz"/>
    <add key="MailGonderen" value="info@sinasalik.net"/>
    <add key="MailAlan" value="sinasalik@hotmail.com"/>
    <add key="MailSunucu" value="webmail.sinasalik.net"/>
    <add key="MailPort" value="587"/>
    <add key="MailSifre" value="1qw23er45t"/>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>