<div class="SolBaslik aramalar">
    {{ aramaText }}
</div>
<div class="SolIcerik aramalar">
    <form [formGroup]="solAraForm" (ngSubmit)="onSubmit()">
        <b>{{ kelimeAraText }}</b><br />
        <input type="text" id="solAraWord" formControlName="kelime" />
        <div id="solarasonuclist">
            <div id="hideDiv" class="ShowroomArka" *ngFor="let item of ilanlar">
                <div class="ShowroomBaslik">
                    {{ item.CategoryName }}
                </div>
                <div class="EmlakYeni">
                    <img src="{{ item.NewLogo }}" *ngIf="item.Yeni == true" />
                </div>
                <div class="ShowroomResim">
                    <a [routerLink]="['/Emlak/Detay/' + item.RouteUrl]">
                        <img src="Emlak/Uploads/{{ item.PictureName }}" style="max-width: 100px; max-height: 100px" />
                    </a>
                </div>
                <div class="ShowroomMetin">
                    {{ item.Baslik }}<br><br><b>{{ item.Fiyat }} TL</b><br><br>
                    <a [routerLink]="['/Emlak/Detay/' + item.RouteUrl]">
                        <img border="0" src="{{ item.DetailLogo }}" height="20" />
                    </a>
                </div>
            </div>
        </div>
        <a id="solarasonuckapat" href="javascript:;" (click)="closeArama()">
            <img alt="Kapat" src="Content/img/kapat.png" />
        </a>
        <br />
        <br />
        <b>{{ kodAraText }}</b><br />
        <input type="text" id="solAraCode" formControlName="kod" />
        <br />
        <br />
        <span id="solAraSonuc1" style="color:Red; display:none;">{{ kelimeGirText }}</span>
        <span id="solAraSonuc2" style="color:Red; display:none;">{{ kodGirText }}</span>
        <span id="solAraSonuc3" style="color:Red; display:none;">{{ kodYokText }}</span>
        <span id="solAraSonuc4" style="color:Red; display:none;">{{ ilanYokText }}</span>
        <br />
        <input type="submit" id="btnSolAra" class="Button" value="{{ btnAraText }}" />
    </form>
    <br />
    <br />
    <a id="detayliara" [routerLink]="['/Emlak/DetayliAra']">{{ linkAraText }}</a>
</div>