<div ng-controller="controlEmlak">
    <div class="IcerikBaslik">
        <img src="Content/img/ok.png" alt="" style="border: 0px;" />
        {{emlak?.Baslik}}
    </div>
    <div class="IcerikMetin">
        <div class="EmlakDetayUst">
            <div class="EmlakDetayBaslik">
                » <b>
                    {{emlak?.Baslik}}
                </b>
            </div>
            <div class="EmlakDetayGaleri">
                <div id="slider" style="margin-left: 30px;">

                </div>
            </div>
            <div class="EmlakDetayBilgiler">
                {{emlak?.Semt}} / {{emlak?.Ilce}} / {{emlak?.Sehir}}
                <br />
                <br />
                <b>
                    <font *ngIf="emlak?.Satilik" style="color: #3879D9;">{{ satilikText }}</font>
                    <font *ngIf="!emlak?.Satilik" style="color: #3879D9;">{{ kiralikText }}</font>
                </b>
                <br />
                <br />
                <b>{{ kodText }} : </b>
                {{emlak?.Code}}
                <br />
                <br />
                <span ng-bind-html="emlak?.Aciklama"></span>
                <br />
                <br />
                <b>{{ sahipText }} :</b>
                {{emlak?.Sahibi}}
                <br />
                <b>{{ fiyatText }} :</b>
                {{emlak?.Fiyat}} TL
                <br />
                <br />
                <input type="hidden" id="hdnBaslik" value="{{emlak?.Baslik}}" />
                <input type="hidden" id="hdnEnlem" value="{{emlak?.Enlem}}" />
                <input type="hidden" id="hdnBoylam" value="{{emlak?.Boylam}}" />
            </div>
        </div>
        <div class="EmlakDetayAlt">
            <div class="EmlakDetayAltKolon">
                <b>{{ odasayisiText }} :</b>
                {{emlak?.OdaSayisi}}
                <br />
                <b>{{ salonSayisiText }} :</b>
                {{emlak?.SalonSayisi}}
                <br />
                <b>{{ alanText }} :</b>
                {{emlak?.Alan}}
                <br />
                <br />
                <br />
                <img *ngIf="emlak?.ArkaCephe" src="Content/img/var.png" /><img *ngIf="!emlak?.ArkaCephe" src="Content/img/yok.png" />
                <strong>{{ arkaCepheText }}</strong>
                <br />
                <img *ngIf="emlak?.Otoban" src="Content/img/var.png" /><img *ngIf="!emlak?.Otoban" src="Content/img/yok.png" />
                <b>{{ otobanText }}</b>
                <br />
                <img *ngIf="emlak?.Guvenlik" src="Content/img/var.png" /><img *ngIf="!emlak?.Guvenlik" src="Content/img/yok.png" />
                <b>{{ guvenlikText }}</b>
                <br />
                <img *ngIf="emlak?.DenizeYakin" src="Content/img/var.png" /><img *ngIf="!emlak?.DenizeYakin" src="Content/img/yok.png" />
                <b>{{ denizeYakinText }}</b>
                <br />
                <img *ngIf="emlak?.DenizeSifir" src="Content/img/var.png" /><img *ngIf="!emlak?.DenizeSifir" src="Content/img/yok.png" />
                <b>{{ denizeSifirText }}</b>
                <br />
                <img *ngIf="emlak?.Kapici" src="Content/img/var.png" /><img *ngIf="!emlak?.Kapici" src="Content/img/yok.png" />
                <b>{{ kapiciText }}</b>
                <br />
                <img *ngIf="emlak?.OyunParki" src="Content/img/var.png" /><img *ngIf="!emlak?.OyunParki" src="Content/img/yok.png" />
                <b>{{ oyunParkiText }}</b>
                <br />
                <img *ngIf="emlak?.YanginMerdiveni" src="Content/img/var.png" /><img *ngIf="!emlak?.YanginMerdiveni" src="Content/img/yok.png" />
                <b>{{ yanginMerdiveniText }}</b>
                <br />
                <img *ngIf="emlak?.Balkon" src="Content/img/var.png" /><img *ngIf="!emlak?.Balkon" src="Content/img/yok.png" />
                <b>{{ balkonText }}</b>
                <br />
                <img *ngIf="emlak?.Jakuzi" src="Content/img/var.png" /><img *ngIf="!emlak?.Jakuzi" src="Content/img/yok.png" />
                <b>{{ jakuziText }}</b>
                <br />
            </div>
            <div class="EmlakDetayAltKolon">
                <b>{{ katSayisiText }} :</b>
                {{emlak?.KatSayisi}}
                <br />
                <b>{{ bulunduguKatText }} :</b>
                {{emlak?.BulunduguKat}}
                <br />
                <b>{{ durumText }} :</b>
                {{emlak?.Durum}}
                <br />
                <br />
                <br />
                <img *ngIf="emlak?.OnCephe" src="Content/img/var.png" /><img *ngIf="!emlak?.OnCephe" src="Content/img/yok.png" />
                <b>{{ onCepheText }}</b>
                <br />
                <img *ngIf="emlak?.Manzara" src="Content/img/var.png" /><img *ngIf="!emlak?.Manzara" src="Content/img/yok.png" />
                <b>{{ manzaraText }}</b>
                <br />
                <img *ngIf="emlak?.TopluUlasim" src="Content/img/var.png" /><img *ngIf="!emlak?.TopluUlasim" src="Content/img/yok.png" />
                <b>{{ topluUlasimText }}</b>
                <br />
                <img *ngIf="emlak?.Hidrofor" src="Content/img/var.png" /><img *ngIf="!emlak?.Hidrofor" src="Content/img/yok.png" />
                <b>{{ hidroforText }}</b>
                <br />
                <img *ngIf="emlak?.Metro" src="Content/img/var.png" /><img *ngIf="!emlak?.Metro" src="Content/img/yok.png" />
                <b>{{ metroText }}</b>
                <br />
                <img *ngIf="emlak?.Jenerator" src="Content/img/var.png" /><img *ngIf="!emlak?.Jenerator" src="Content/img/yok.png" />
                <b>{{ jeneratorText }}</b>
                <br />
                <img *ngIf="emlak?.PVCDograma" src="Content/img/var.png" /><img *ngIf="!emlak?.PVCDograma" src="Content/img/yok.png" />
                <b>{{ pVCDogramaText }}</b>
                <br />
                <img *ngIf="emlak?.YuzmeHavuzu" src="Content/img/var.png" /><img *ngIf="!emlak?.YuzmeHavuzu" src="Content/img/yok.png" />
                <b>{{ yuzmeHavuzuText }}</b>
                <br />
                <img *ngIf="emlak?.CelikKapi" src="Content/img/var.png" /><img *ngIf="!emlak?.CelikKapi" src="Content/img/yok.png" />
                <b>{{ celikKapiText }}</b>
                <br />
                <img *ngIf="emlak?.KabloTVUydu" src="Content/img/var.png" /><img *ngIf="!emlak?.KabloTVUydu" src="Content/img/yok.png" />
                <b>{{ kabloTVUyduText }}</b>
                <br />
            </div>
            <div class="EmlakDetayAltKolon">
                <b>{{ isinmaTipiText }} :</b>
                {{emlak?.IsinmaTipi}}
                <br />
                <b>{{ yakitTipiText }} :</b>
                {{emlak?.YakitTipi}}
                <br />
                <b>{{ binaYasiText }} :</b>
                {{emlak?.BinaYasi}}
                <br />
                <br />
                <br />
                <img *ngIf="emlak?.CaddeyeYakin" src="Content/img/var.png" /><img *ngIf="!emlak?.CaddeyeYakin" src="Content/img/yok.png" />
                <b>{{ caddeyeYakinText }}</b>
                <br />
                <img *ngIf="emlak?.Merkezde" src="Content/img/var.png" /><img *ngIf="!emlak?.Merkezde" src="Content/img/yok.png" />
                <b>{{ merkezdeText }}</b>
                <br />
                <img *ngIf="emlak?.Asansor" src="Content/img/var.png" /><img *ngIf="!emlak?.Asansor" src="Content/img/yok.png" />
                <b>{{ asansorText }}</b>
                <br />
                <img *ngIf="emlak?.Mantolama" src="Content/img/var.png" /><img *ngIf="!emlak?.Mantolama" src="Content/img/yok.png" />
                <b>{{ mantolamaText }}</b>
                <br />
                <img *ngIf="emlak?.Bahce" src="Content/img/var.png" /><img *ngIf="!emlak?.Bahce" src="Content/img/yok.png" />
                <b>{{ bahceText }}</b>
                <br />
                <img *ngIf="emlak?.Otopark" src="Content/img/var.png" /><img *ngIf="!emlak?.Otopark" src="Content/img/yok.png" />
                <b>{{ otoparkText }}</b>
                <br />
                <img *ngIf="emlak?.SiteIci" src="Content/img/var.png" /><img *ngIf="!emlak?.SiteIci" src="Content/img/yok.png" />
                <b>{{ siteIciText }}</b>
                <br />
                <img *ngIf="emlak?.Alarm" src="Content/img/var.png" /><img *ngIf="!emlak?.Alarm" src="Content/img/yok.png" />
                <b>{{ alarmText }}</b>
                <br />
                <img *ngIf="emlak?.GoruntuluDiafon" src="Content/img/var.png" /><img *ngIf="!emlak?.GoruntuluDiafon" src="Content/img/yok.png" />
                <b>{{ goruntuluDiafon }}</b>
                <br />
                <img *ngIf="emlak?.Klima" src="Content/img/var.png" /><img *ngIf="!emlak?.Klima" src="Content/img/yok.png" />
                <b>{{ klimaText }}</b>
                <br />
            </div>
        </div>
    </div>
</div>