<rac-cardetailheader [langs]="headerLangs" [title]="title"></rac-cardetailheader>
<rac-cardetailbreadcumbs [langs]="breadcumbsLangs" [title]="title" [url]="url"></rac-cardetailbreadcumbs>
<rac-cardetailitem [langs]="itemLangs"
                   [countformLangs]="countformLangs"
                   [testformLangs]="testformLangs" (titleEvnt)="title=$event" (urlEvnt)="url=$event"></rac-cardetailitem>
<rac-cardetailrelated [langs]="relatedLangs"></rac-cardetailrelated>
<rac-cardetailbrands [langs]="brandsLangs"></rac-cardetailbrands>
