<hr-banner [title]="'Hoşgeldiniz İş Veren'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-employerleftmenu></hr-employerleftmenu>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>İşveren Giriş Sayfası</h3>
                            <div class="cat-sec">
                                <div class="row no-gape">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category">
                                            <a href="javascript:;" title="">
                                                <i class="la la-briefcase"></i>
                                                <span>Başvuru Sayısı</span>
                                                <p>14 Başvuru</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category view-resume-list">
                                            <a href="javascript:;" title="">
                                                <i class="la la-eye"></i>
                                                <span>Özgeçmiş Görüntüleme</span>
                                                <p>22 Görüntüleme</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category">
                                            <a href="javascript:;" title="">
                                                <i class="la la-file-text "></i>
                                                <span>Özgeçmişim</span>
                                                <p>Yeni Özgeçmiş Oluştur</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cat-sec">
                                <div class="row no-gape">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category">
                                            <a href="javascript:;" title="">
                                                <i class="la la-check"></i>
                                                <span>Bana Uygun İlanlar</span>
                                                <p>5 İlan</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category follow-companies-popup">
                                            <a href="javascript:;" title="">
                                                <i class="la la-user"></i>
                                                <span>Takip Edilen Şirketler</span>
                                                <p>56 Şirket</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div class="p-category">
                                            <a href="javascript:;" title="">
                                                <i class="la la-file"></i>
                                                <span>Profilim</span>
                                                <p>Görüntüle</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>