<hr-banner [title]="'Firma Listesi'"></hr-banner>

<section>
    <div class="block less-top">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3 column margin_widget">
                    <hr-employerlistsearch></hr-employerlistsearch>

                </aside>
                <div class="col-lg-9 column">
                    <hr-employerlisttopfilter></hr-employerlisttopfilter>

                    <div class="emply-list-sec style2">
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em1.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">King LLC</a></h3>
                                <span>Muhasebe, İnsan Kaynakları</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em2.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">Telimed</a></h3>
                                <span>Muhasebe Yardımcısı, Sanat, Dizyn ve Medya</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em3.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">Ucess</a></h3>
                                <span>Sanat, Dizyn ve Medya, Web Yazılımcı</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em4.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">Airbnb</a></h3>
                                <span>Sanat, Dizyn ve Medya</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em5.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">TeraPlaner</a></h3>
                                <span>Finansal Servis, Satış ve Pazarlama</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em6.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">King LLC</a></h3>
                                <span>Muhasebe, İnsan Kaynakları</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="javascript:;" title=""><img src="/HumanResources/Content/img/resource/em7.jpg" alt="" /></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Açık Pozisyon</div>
                                <h3><a href="javascript:;" title="">King LLC</a></h3>
                                <span>Muhasebe, İnsan Kaynakları</span>
                                <h6><i class="la la-map-marker"></i> Maltepe, İstanbul</h6>
                                <p>Ağır Ekipman / Greyder Operatörü, ön uç yükleyici, silindir, buldozer veya ekskavatör gibi bir veya birkaç tip inşaat ekipmanını taşımaktan sorumludur...</p>
                                <div class="shortlists favorite">
                                    <a href="javascript:;" title="">Favori Ekle <i class="la la-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li class="prev"><a href="javascript:;"><i class="la la-long-arrow-left"></i> Geri</a></li>
                                <li><a href="javascript:;">1</a></li>
                                <li class="active"><a href="javascript:;">2</a></li>
                                <li><a href="javascript:;">3</a></li>
                                <li><span class="delimeter">...</span></li>
                                <li><a href="javascript:;">14</a></li>
                                <li class="next"><a href="javascript:;">İleri <i class="la la-long-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>