<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <h2>{{ haberlerText }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="row testimonial">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel enable-owl-carousel" data-items="1" data-navigation="true" data-auto-play="true"
                         data-stop-on-hover="true" data-items-desktop="1" data-items-desktop-small="1" data-items-tablet="1" data-items-tablet-small="1">
                        <div *ngFor="let haber of haberler">
                            <div class="item col-md-4" *ngFor="let item of haber.Items">
                                <div class="client-text">
                                    <p>{{item?.KisaAciklama}}</p>
                                    <h4>
                                        <strong>{{item?.ContentName}}</strong>
                                        <a [routerLink]="['/Haberler/' + item?.Url]" style="float: right;">{{ devamText }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>