<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <h2>{{ haberlerText }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="row testimonial">
                <div class="col-md-12">
                    <div id="testimonial-slider">
                        <div class="item" *ngFor="let item of haberler">
                            <div class="client-text">
                                <p [innerHtml]="item?.Aciklama"></p>
                                <h4>
                                    <strong>{{item?.ContentName}}</strong>
                                    <a [routerLink]="['/Haberler/' + item?.Url]" style="float: right;">{{ devamText }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>