<div class="slider-content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <div class="search-form wow pulse" data-wow-delay="0.8s">

                <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="onSubmit()">
                    <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                    <div class="form-group">
                        <input type="text" id="txtBaslik" formControlName="baslik" class="form-control" placeholder="{{ lang?.ttleText }}" />
                    </div>
                    <div class="form-group">
                        <select id="drpKategori" formControlName="kategori" class="form-control">
                            <option value="0">{{ lang?.sctmText }}</option>
                            <option *ngFor="let item of kategoriList" value="{{ item?.ID }}">{{ item?.CategoryName }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="drpDurum" formControlName="durum" class="form-control">
                            <option value="0">{{ lang?.sctmText }}</option>
                            <option *ngFor="let item of durumList" value="{{ item?.ID }}">{{ item?.Name }}</option>
                        </select>
                    </div>
                    <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                    <div style="display: none;" class="search-toggle">
                        <div class="search-row">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input name="satilik" id="rbTumu" type="radio" class="form-control" formControlName="satilik" checked="checked" value="{{ lang?.sctmText }}" /> <b>{{ lang?.sctmText }}</b></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label><input name="satilik" id="rbSatilik" type="radio" class="form-control" formControlName="satilik" value="{{ lang?.scfsText }}" /> <b>{{ lang?.scfsText }}</b></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label><input name="satilik" id="rbKiralik" type="radio" class="form-control" formControlName="satilik" value="{{ lang?.scfrText }}" /> <b>{{ lang?.scfrText }}</b></label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <b>{{ lang?.cityText }} :</b>
                                <select id="drpSehir" class="form-control" formControlName="sehir">
                                    <option value="0">{{ lang?.sctmText }}</option>
                                    <option *ngFor="let item of sehirList" value="{{ item?.ID }}">{{ item?.Title }}</option>
                                </select>
                            </div>
                            <div class="form-group mar-l-20">
                                <b>{{ lang?.ilceText }} :</b>
                                <input type="text" id="txtIlce" class="form-control" formControlName="ilce" />
                            </div>
                            <div class="form-group mar-l-20">
                                <b>{{ lang?.semtText }} :</b>
                                <input type="text" id="txtSemt" class="form-control" formControlName="semt" />
                            </div>
                        </div>

                        <div class="search-row">

                            <div class="form-group">
                                <b>{{ lang?.yakitTipiText }} :</b>
                                <select id="drpYakit" class="form-control" formControlName="yakit">
                                    <option value="0">{{ lang?.sallText }}</option>
                                    <option *ngFor="let item of yakitList" value="{{ item?.ID }}">{{ item?.Name }}</option>
                                </select>
                            </div>

                            <div class="form-group mar-l-20">
                                <b>{{ lang?.isinmaTipiText }} :</b>
                                <select id="drpIsinma" class="form-control" formControlName="isinma">
                                    <option value="0">{{ lang?.sallText }}</option>
                                    <option *ngFor="let item of isinmaList" value="{{ item?.ID }}">{{ item?.Name }}</option>
                                </select>
                            </div>

                        </div>

                        <div class="search-row">

                            <div class="col-md-8 col-md-offset-2 col-sm-12" style="padding:0px;">
                                <label for="fiyat1">{{ lang?.fiyatText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="fiyat" data-min="0" data-max="1000000" data-step="5000"></div>
                                <input type="hidden" id="fiyat1" class="j-min" formControlName="fiyat1" />
                                <input type="hidden" id="fiyat2" class="j-max" formControlName="fiyat2" />
                            </div>

                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <label for="roomCount1">{{ lang?.odasayisiText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="roomCount" data-min="0" data-max="10" data-step="1"></div>
                                <input type="hidden" id="roomCount1" class="j-min" formControlName="roomCount1" />
                                <input type="hidden" id="roomCount2" class="j-max" formControlName="roomCount2" />
                            </div>

                            <div class="form-group mar-l-20">
                                <label for="salon1">{{ lang?.salonSayisiText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="salon" data-min="0" data-max="10" data-step="1"></div>
                                <input type="hidden" id="salon1" class="j-min" formControlName="salon1" />
                                <input type="hidden" id="salon2" class="j-max" formControlName="salon2" />
                            </div>

                            <div class="form-group mar-l-20">
                                <label for="alan1">{{ lang?.alanText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="alan" data-min="0" data-max="2000" data-step="100"></div>
                                <input type="hidden" id="alan1" class="j-min" formControlName="alan1" />
                                <input type="hidden" id="alan2" class="j-max" formControlName="alan2" />
                            </div>

                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <label for="katSayi1">{{ lang?.katSayisiText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="katSayi" data-min="0" data-max="40" data-step="1"></div>
                                <input type="hidden" id="katSayi1" class="j-min" formControlName="katSayi1" />
                                <input type="hidden" id="katSayi2" class="j-max" formControlName="katSayi2" />
                            </div>

                            <div class="form-group mar-l-20">
                                <label for="bulunduguKat1">{{ lang?.bulunduguKatText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="bulunduguKat" data-min="0" data-max="40" data-step="1"></div>
                                <input type="hidden" id="bulunduguKat1" class="j-min" formControlName="bulunduguKat1" />
                                <input type="hidden" id="bulunduguKat2" class="j-max" formControlName="bulunduguKat2" />
                            </div>

                            <div class="form-group mar-l-20">
                                <label for="binaYas1">{{ lang?.binaYasiText }} <i>({{ lang?.arlkText }})</i></label>
                                <div class="tdslider" id="binaYas" data-min="0" data-max="100" data-step="5"></div>
                                <input type="hidden" id="binaYas1" class="j-min" formControlName="binaYas1" />
                                <input type="hidden" id="binaYas2" class="j-max" formControlName="binaYas2" />
                            </div>

                        </div>

                        <br>
                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="caddeyeYakin" formControlName="caddeyeYakin" /> <b>{{ lang?.caddeyeYakinText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="merkezde" formControlName="merkezde" /> <b>{{ lang?.merkezdeText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="asansor" formControlName="asansor" /> <b>{{ lang?.asansorText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="mantolama" formControlName="mantolama" /> <b>{{ lang?.mantolamaText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="bahce" formControlName="bahce" /> <b>{{ lang?.bahceText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="otopark" formControlName="otopark" /> <b>{{ lang?.otoparkText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="siteIci" formControlName="siteIci" /> <b>{{ lang?.siteIciText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="alarm" formControlName="alarm" /> <b>{{ lang?.alarmText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="goruntuluDiafon" formControlName="goruntuluDiafon" /> <b>{{ lang?.goruntuluDiafon }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="klima" formControlName="klima" /> <b>{{ lang?.klimaText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="onCephe" formControlName="onCephe" /> <b>{{ lang?.onCepheText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="manzarali" formControlName="manzarali" /> <b>{{ lang?.manzaraText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="topluUlasim" formControlName="topluUlasim" /> <b>{{ lang?.topluUlasimText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="hidrofor" formControlName="hidrofor" /> <b>{{ lang?.hidroforText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="metro" formControlName="metro" /> <b>{{ lang?.metroText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="jenerator" formControlName="jenerator" /> <b>{{ lang?.jeneratorText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="pVCDograma" formControlName="pVCDograma" /> <b>{{ lang?.pVCDogramaText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="yuzmeHavuzu" formControlName="yuzmeHavuzu" /> <b>{{ lang?.yuzmeHavuzuText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="celikKapi" formControlName="celikKapi" /> <b>{{ lang?.celikKapiText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="kabloTVUydu" formControlName="kabloTVUydu" /> <b>{{ lang?.kabloTVUyduText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="arkaCephe" formControlName="arkaCephe" /> <b>{{ lang?.arkaCepheText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="denizeYakin" formControlName="denizeYakin" /> <b>{{ lang?.denizeYakinText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="otoban" formControlName="otoban" /> <b>{{ lang?.otobanText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="guvenlik" formControlName="guvenlik" /> <b>{{ lang?.guvenlikText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="denizeSifir" formControlName="denizeSifir" /> <b>{{ lang?.denizeSifirText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="kapici" formControlName="kapici" /> <b>{{ lang?.kapiciText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="oyunParki" formControlName="oyunParki" /> <b>{{ lang?.oyunParkiText }}</b>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="search-row">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="yanginMerdiveni" formControlName="yanginMerdiveni" /> <b>{{ lang?.yanginMerdiveniText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="balkon" formControlName="balkon" /> <b>{{ lang?.balkonText }}</b>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="jakuzi" formControlName="jakuzi" /> <b>{{ lang?.jakuziText }}</b>
                                    </label>
                                </div>
                            </div>

                            <br>
                            <hr>
                        </div>

                        <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>