<div class="IcerikBaslik">
    <div class="BaslikMetin">
        <img src="Content/img/ok.png" alt="" border="0" />
        <label id="LabelBaslik">{{ liste?.Baslik }}</label>
    </div>
    <div class="Siralama">
        <select id="selectOrder" class="AcilirMenu" (change)="onOrder($event)">
            <option selected="selected" value="atoz">{{ atozText }}</option>
            <option value="ztoa">{{ ztoaText }}</option>
            <option value="1to9">{{ to19Text }}</option>
            <option value="9to1">{{ to91Text }}</option>
            <option value="dto9">{{ dto9Text }}</option>
            <option value="dto1">{{ dto1Text }}</option>
        </select>
    </div>
</div>

<div class="IcerikMetin Paging">
</div>

<div class="IcerikMetin Result">
    <div id="hideDiv" class="ShowroomArka" *ngFor="let item of liste?.Emlaklar">
        <div class="ShowroomBaslik">{{ item?.CategoryName }}</div>
        <div *ngIf="item?.Yeni" class="EmlakYeni">
            <img src="{{ item?.NewLogo }}">
        </div>
        <div class="ShowroomResim">
            <a [routerLink]="['/Emlak/Detay/' + item?.Url]">
                <img src="Uploads/{{ item?.PictureName }}" style="max-width: 100px; max-height: 100px">
            </a>
        </div><div [attr.data-link]="item?.Url" [attr.data-emlak]="item?.Baslik" class="ShowroomMetin ShowMap">
            {{ item?.Baslik }}<br><br><b>{{ item?.Fiyat }} TL</b><br><br>
            <a [routerLink]="['/Emlak/Detay/' + item?.Url]">
                <img border="0" src="{{ liste?.DetayLogo }}" height="20">
            </a>
        </div>
    </div>
</div>

<div class="IcerikMetin Paging">
    {{ pageText }} : <div id="pages">
        <select class="pageSelect" (change)="onChange($event)">
            <option *ngFor="let item of sayfalar" selected="{{ item==liste?.Sayfa ? 'selected' : '' }}" value="{{ item }}">{{ item }}</option>
        </select>
        <a *ngFor="let item of sayfalar" class="pageButton{{ item==liste?.Sayfa ? ' selected' : '' }}" (click)="onClick($event)" href="javascript:;">{{ item }}</a>
    </div>
</div>
<div style="text-align: center;">
    <span id="lblSonuc" style="display: none;">{{ noprText }}</span>
</div>