<form [formGroup]="detayliAraForm" (ngSubmit)="onSubmit()">
    <div class="IcerikBaslik">
        <img src="img/ok.png" alt="" border="0" />
        {{ dstcText }}
    </div>
    <div class="IcerikMetin">
        <div class="DetayliArama">
            <div class="DetayliAramaSatir" style="text-align: center;">
                <label><input id="rbTumu" type="radio" formControlName="satilik" [checked]="true" value="{{ sctmText }}" />{{ sctmText }}</label>
                <label><input id="rbSatilik" type="radio" formControlName="satilik" value="{{ scfsText }}" />{{ scfsText }}</label>
                <label><input id="rbKiralik" type="radio" formControlName="satilik" value="{{ scfrText }}" />{{ scfrText }}</label>
            </div>


            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ ctgyText }} : </b>
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpKategori" formControlName="kategori" class="AcilirMenu" (change)="katChange($event)" style="width: 176px;"></select>
                </div>
            </div>
            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ sctgText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpAltKategori" formControlName="altKategori" class="AcilirMenu" style="width: 176px;" disabled="disabled"></select>
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ durumText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpDurum" formControlName="durum" class="AcilirMenu" style="width: 176px">
                        <option value="{{ sallText }}">{{ sallText }}</option>
                        <option value="{{ sclrText }}">{{ sclrText }}</option>
                        <option value="{{ susdText }}">{{ susdText }}</option>
                        <option value="{{ sdmgText }}">{{ sdmgText }}</option>
                    </select>

                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ ttleText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtBaslik" formControlName="baslik" class="AcilirMenu" style="width: 171px" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ cityText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpSehir" formControlName="sehir" class="AcilirMenu" style="width: 176px"></select>
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ ilceText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtIlce" formControlName="ilce" class="AcilirMenu" style="width: 171px" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ semtText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtSemt" formControlName="semt" class="AcilirMenu" style="width: 171px" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ fiyatText }} </b><i>({{ arlkText }})</i> <b>:</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtFiyat1" formControlName="fiyat1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtFiyat2" formControlName="fiyat2" class="AcilirMenu kisa" />
                    {{ prcdText }}
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ yakitTipiText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpYakit" formControlName="yakit" class="AcilirMenu" style="width: 176px">
                        <option value="{{ fallText }}">{{ fallText }}</option>
                        <option value="{{ fdgzText }}">{{ fdgzText }}</option>
                        <option value="{{ fwocText }}">{{ fwocText }}</option>
                        <option value="{{ flifText }}">{{ flifText }}</option>
                        <option value="{{ felcText }}">{{ felcText }}</option>
                        <option value="{{ fothText }}">{{ fothText }}</option>
                    </select>
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ isinmaTipiText }} :</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <select id="drpIsinma" formControlName="isinma" class="AcilirMenu" style="width: 176px">
                        <option value="{{ wallText }}">{{ wallText }}</option>
                        <option value="{{ wsunText }}">{{ wsunText }}</option>
                        <option value="{{ wkatText }}">{{ wkatText }}</option>
                        <option value="{{ wairText }}">{{ wairText }}</option>
                        <option value="{{ wcomText }}">{{ wcomText }}</option>
                        <option value="{{ wcenText }}">{{ wcenText }}</option>
                        <option value="{{ wstoText }}">{{ wstoText }}</option>
                        <option value="{{ wothText }}">{{ wothText }}</option>
                    </select>
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ odasayisiText }} </b><i>({{ arlkText }})</i> <b>:</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtRoomCount1" formControlName="roomCount1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtRoomCount2" formControlName="roomCount2" class="AcilirMenu kisa" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ salonSayisiText }} </b><i>({{ arlkText }})</i><b> : </b>
                    <br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtSalon1" formControlName="salon1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtSalon2" formControlName="salon2" class="AcilirMenu kisa" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ katSayisiText }} </b><i>({{ arlkText }})</i> <b>:</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtKatSayi1" formControlName="katSayi1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtKatSayi2" formControlName="katSayi2" class="AcilirMenu kisa" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ bulunduguKatText }} </b><i>({{ arlkText }})</i><b> : </b>
                    <br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtBulunduguKat1" formControlName="bulunduguKat1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtBulunduguKat2" formControlName="bulunduguKat2" class="AcilirMenu kisa" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ binaYasiText }} </b><i>({{ arlkText }})</i> <b>:</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtBinaYas1" formControlName="binaYas1" class="AcilirMenu kisa" maxlength="4" />
                    -
                    <input type="text" id="txtBinaYas2" formControlName="binaYas2" class="AcilirMenu kisa" maxlength="4" />
                </div>
            </div>

            <div class="DetayliAramaUstKolon">
                <div class="DetayliAramaUstKolonBaslik">
                    <b>{{ alanText }} </b><i>({{ arlkText }})</i> <b>:</b><br />
                </div>
                <div class="DetayliAramaUstKolonSorgu">
                    <input type="text" id="txtAlan1" formControlName="alan1" class="AcilirMenu kisa" />
                    -
                    <input type="text" id="txtAlan2" formControlName="alan2" class="AcilirMenu kisa" />m&#39;2
                </div>
            </div>
        </div>

        <div class="DetayliArama">
            <div class="DetayliAramaAltKolon">
                <input type="checkbox" id="chkCaddeyeYakin" formControlName="caddeyeYakin" /><b>{{ caddeyeYakinText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkMerkezde" formControlName="merkezde" /><b>{{ merkezdeText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkAsansor" formControlName="asansor" /><b>{{ asansorText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkMantolama" formControlName="mantolama" /><b>{{ mantolamaText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkBahce" formControlName="bahce" /><b>{{ bahceText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkOtopark" formControlName="otopark" /><b>{{ otoparkText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkSiteIci" formControlName="siteIci" /><b>{{ siteIciText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkAlarm" formControlName="alarm" /><b>{{ alarmText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkGoruntuluDiafon" formControlName="goruntuluDiafon" /><b>{{ goruntuluDiafon }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkKlima" formControlName="klima" /><b>{{ klimaText }}</b>
                <br />
                <br />
            </div>
            <div class="DetayliAramaAltKolon">
                <input type="checkbox" id="chkOnCephe" formControlName="onCephe" /><b>{{ onCepheText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkManzarali" formControlName="manzarali" /><b>{{ manzaraText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkTopluUlasim" formControlName="topluUlasim" /><b>{{ topluUlasimText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkHidrofor" formControlName="hidrofor" /><b>{{ hidroforText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkMetro" formControlName="metro" /><b>{{ metroText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkJenerator" formControlName="jenerator" /><b>{{ jeneratorText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkPVCDograma" formControlName="pVCDograma" /><b>{{ pVCDogramaText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkYuzmeHavuzu" formControlName="yuzmeHavuzu" /><b>{{ yuzmeHavuzuText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkCelikKapi" formControlName="celikKapi" /><b>{{ celikKapiText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkKabloTVUydu" formControlName="kabloTVUydu" /><b>{{ kabloTVUyduText }}</b>
                <br />
                <br />
            </div>
            <div class="DetayliAramaAltKolon">
                <input type="checkbox" id="chkArkaCephe" formControlName="arkaCephe" /><b>{{ arkaCepheText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkDenizeYakin" formControlName="denizeYakin" /><b>{{ denizeYakinText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkOtoban" formControlName="otoban" /><b>{{ otobanText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkGuvenlik" formControlName="guvenlik" /><b>{{ guvenlikText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkDenizeSifir" formControlName="denizeSifir" /><b>{{ denizeSifirText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkKapici" formControlName="kapici" /><b>{{ kapiciText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkOyunParki" formControlName="oyunParki" /><b>{{ oyunParkiText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkYanginMerdiveni" formControlName="yanginMerdiveni" /><b>{{ yanginMerdiveniText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkBalkon" formControlName="balkon" /><b>{{ balkonText }}</b>
                <br />
                <br />
                <input type="checkbox" id="chkJakuzi" formControlName="jakuzi" /><b>{{ jakuziText }}</b>
                <br />
                <br />
            </div>
        </div>
        <div class="ShowRoomSayfalama">
            <input type="submit" id="btnDetayAra" class="Button" value="{{ dsbtText }}" />
        </div>
    </div>
</form>