<rac-homeslider [langs]="sliderLangs"></rac-homeslider>
<rac-homesearch [langs]="searchLangs"></rac-homesearch>
<rac-homefeatured [langs]="featuredLangs"></rac-homefeatured>
<rac-homewelcome [langs]="welcomeLangs"></rac-homewelcome>
<rac-homeworld [langs]="worldLangs"></rac-homeworld>
<rac-homeasks [langs]="asksLangs"></rac-homeasks>
<rac-homeauto [langs]="autoLangs"></rac-homeauto>
<rac-homecount></rac-homecount>
<rac-homenewsletter [langs]="newsletterLangs"></rac-homenewsletter>
<rac-homeworkers></rac-homeworkers>