<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-home"></i> Şehir Düzenle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					<input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
				</div>
				<div class="editor-label">
					İsim
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Name" [ngModel]="model?.Name" formControlName="Name" type="text" value="{{ model?.Name }}" />
					<br />
					<!-- Name -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Kod
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Code" [ngModel]="model?.Code" formControlName="Code" type="number" value="{{ model?.Code }}" />
					<br />
					<!-- Code -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Aktif mi?
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" checked="checked" *ngIf="model?.Active" />
					<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" *ngIf="!model?.Active" />
					<br />
					<!-- Active -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Gösterilsin mi?
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Show" [ngModel]="model?.Show" formControlName="Show" type="checkbox" checked="checked" *ngIf="model?.Show" />
					<input id="Show" [ngModel]="model?.Show" formControlName="Show" type="checkbox" *ngIf="!model?.Show" />
					<br />
					<!-- Show -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Sıra Numarası
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Order" [ngModel]="model?.Order" formControlName="Order" type="number" value="{{ model?.Order }}" />
					<br />
					<!-- Order -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
					<a routerLink="/Admin/City" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>

		<input id="hdnType" type="hidden" value="Website" />
	</div>
</div>
