<div class="sudoku">
    <div id="sudoku">
        <input maxlength="1" data-sira="1" type="text" />
        <input maxlength="1" data-sira="2" type="text" />
        <input maxlength="1" data-sira="3" type="text" />
        <div class="solBlok">
            <input maxlength="1" data-sira="4" type="text" />
            <input maxlength="1" data-sira="5" type="text" />
            <input maxlength="1" data-sira="6" type="text" />
        </div>
        <div class="solBlok">
            <input maxlength="1" data-sira="7" type="text" />
            <input maxlength="1" data-sira="8" type="text" />
            <input maxlength="1" data-sira="9" type="text" />
        </div>

        <input maxlength="1" data-sira="10" type="text" />
        <input maxlength="1" data-sira="11" type="text" />
        <input maxlength="1" data-sira="12" type="text" />
        <div class="solBlok">
            <input maxlength="1" data-sira="13" type="text" />
            <input maxlength="1" data-sira="14" type="text" />
            <input maxlength="1" data-sira="15" type="text" />
        </div>
        <div class="solBlok">
            <input maxlength="1" data-sira="16" type="text" />
            <input maxlength="1" data-sira="17" type="text" />
            <input maxlength="1" data-sira="18" type="text" />
        </div>

        <input maxlength="1" data-sira="19" type="text" />
        <input maxlength="1" data-sira="20" type="text" />
        <input maxlength="1" data-sira="21" type="text" />
        <div class="solBlok">
            <input maxlength="1" data-sira="22" type="text" />
            <input maxlength="1" data-sira="23" type="text" />
            <input maxlength="1" data-sira="24" type="text" />
        </div>
        <div class="solBlok">
            <input maxlength="1" data-sira="25" type="text" />
            <input maxlength="1" data-sira="26" type="text" />
            <input maxlength="1" data-sira="27" type="text" />
        </div>

        <div class="ustBlok">
            <input maxlength="1" data-sira="28" type="text" />
            <input maxlength="1" data-sira="29" type="text" />
            <input maxlength="1" data-sira="30" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="31" type="text" />
                <input maxlength="1" data-sira="32" type="text" />
                <input maxlength="1" data-sira="33" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="34" type="text" />
                <input maxlength="1" data-sira="35" type="text" />
                <input maxlength="1" data-sira="36" type="text" />
            </div>

            <input maxlength="1" data-sira="37" type="text" />
            <input maxlength="1" data-sira="38" type="text" />
            <input maxlength="1" data-sira="39" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="40" type="text" />
                <input maxlength="1" data-sira="41" type="text" />
                <input maxlength="1" data-sira="42" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="43" type="text" />
                <input maxlength="1" data-sira="44" type="text" />
                <input maxlength="1" data-sira="45" type="text" />
            </div>

            <input maxlength="1" data-sira="46" type="text" />
            <input maxlength="1" data-sira="47" type="text" />
            <input maxlength="1" data-sira="48" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="49" type="text" />
                <input maxlength="1" data-sira="50" type="text" />
                <input maxlength="1" data-sira="51" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="52" type="text" />
                <input maxlength="1" data-sira="53" type="text" />
                <input maxlength="1" data-sira="54" type="text" />
            </div>
        </div>


        <div class="ustBlok">
            <input maxlength="1" data-sira="55" type="text" />
            <input maxlength="1" data-sira="56" type="text" />
            <input maxlength="1" data-sira="57" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="58" type="text" />
                <input maxlength="1" data-sira="59" type="text" />
                <input maxlength="1" data-sira="60" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="61" type="text" />
                <input maxlength="1" data-sira="62" type="text" />
                <input maxlength="1" data-sira="63" type="text" />
            </div>

            <input maxlength="1" data-sira="64" type="text" />
            <input maxlength="1" data-sira="65" type="text" />
            <input maxlength="1" data-sira="66" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="67" type="text" />
                <input maxlength="1" data-sira="68" type="text" />
                <input maxlength="1" data-sira="69" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="70" type="text" />
                <input maxlength="1" data-sira="71" type="text" />
                <input maxlength="1" data-sira="72" type="text" />
            </div>

            <input maxlength="1" data-sira="73" type="text" />
            <input maxlength="1" data-sira="74" type="text" />
            <input maxlength="1" data-sira="75" type="text" />
            <div class="solBlok">
                <input maxlength="1" data-sira="76" type="text" />
                <input maxlength="1" data-sira="77" type="text" />
                <input maxlength="1" data-sira="78" type="text" />
            </div>
            <div class="solBlok">
                <input maxlength="1" data-sira="79" type="text" />
                <input maxlength="1" data-sira="80" type="text" />
                <input maxlength="1" data-sira="81" type="text" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="oyunkontrol">
        <button (click)="sudoku()" id="yeniOyun">Yeni Oyun</button>
        <button (click)="temizle()" id="temizle">Temizle</button>
        <button (click)="kontrol()" id="kontrol">Kontrol Et</button>
    </div>
</div>
