<emlak-header anaSayfaText="{{anaSayfaText}}"
              hakkimizdaText="{{hakkimizdaText}}"
              iletisimText="{{iletisimText}}"
              yeniilanText="{{yeniilanText}}"
              tumilanText="{{tumilanText}}"
              haberlerText="{{haberlerText}}"
              ilanlarText="{{ilanlarText}}"
              kategorilerText="{{kategorilerText}}"
              iceriklerText="{{iceriklerText}}"
              satilikilanText="{{satilikilanText}}"
              kiralikilanText="{{kiralikilanText}}"
              girisText="{{girisText}}"></emlak-header>
<router-outlet></router-outlet>
<emlak-footer anaSayfaText="{{anaSayfaText}}"
              hakkimizdaText="{{hakkimizdaText}}"
              iletisimText="{{iletisimText}}"
              yeniilanText="{{yeniilanText}}"
              tumilanText="{{tumilanText}}"
              haberlerText="{{haberlerText}}"
              ilanlarText="{{ilanlarText}}"
              hizlilinkText="{{hizlilinkText}}"
              ></emlak-footer>
<emlak-scripts></emlak-scripts>
