<hr-banner [title]="'Hoşgeldiniz İş Arayan'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-candidateleftmenu></hr-candidateleftmenu>
                    <hr-candidateskill></hr-candidateskill>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>Şifre Değiştir</h3>
                            <div class="change-password">
                                <div>
                                    <!--form-->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Eski Şifre</span>
                                            <div class="pf-field">
                                                <input type="password" />
                                            </div>
                                            <span class="pf-title">Yeni Şifre</span>
                                            <div class="pf-field">
                                                <input type="password" />
                                            </div>
                                            <span class="pf-title">Eski Şifre (Tekrar)</span>
                                            <div class="pf-field">
                                                <input type="password" />
                                            </div>
                                            <button type="submit">Güncelle</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <i class="la la-key big-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>