@font-face
{
    font-family: "ElYazisi";
    src: url('font/elyazi-webfont.eot');
    src: url('font/elyazi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/elyazi-webfont.ttf') format('truetype'),
         url('font/elyazi-webfont.svg#elyazisi') format('svg');
}