.siircontainer .siirimagecropper { margin:-357px 0px 0px -214px; }
#siirsearchlist { margin:40px 0px 0px -496px; }
#sliderframe { margin-top: -605px; }
#searchcontainer { height:122px;  }
#siirliste li .isim { width:540px; }