<?xml version="1.0" encoding="utf-8" ?>
<menuler>
  <menu ID="1" CategoryName="Bilgisayar" ParentID="0" />
  <menu ID="2" CategoryName="Elektronik" ParentID="0" />
  <menu ID="3" CategoryName="Spor" ParentID="0" />
  <menu ID="4" CategoryName="Müzik" ParentID="0" />
  <menu ID="5" CategoryName="Laptop" ParentID="1" />
  <menu ID="6" CategoryName="Masaüstü" ParentID="1" />
  <menu ID="7" CategoryName="Çevre Birimler" ParentID="1" />
  <menu ID="8" CategoryName="Televizyon" ParentID="2" />
  <menu ID="9" CategoryName="Beyaz Eşya" ParentID="2" />
  <menu ID="10" CategoryName="Ses Sistemleri" ParentID="2" />
  <menu ID="11" CategoryName="Doğa Sporları" ParentID="3" />
  <menu ID="12" CategoryName="Futbol" ParentID="3" />
  <menu ID="13" CategoryName="Bisiklet" ParentID="3" />
  <menu ID="14" CategoryName="Enstruman" ParentID="4" />
  <menu ID="15" CategoryName="Efektler" ParentID="4" />
  <menu ID="17" CategoryName="Tablet" ParentID="5" />
  <menu ID="18" CategoryName="Laptop" ParentID="5" />
  <menu ID="19" CategoryName="Kasa" ParentID="6" />
  <menu ID="20" CategoryName="Monitör" ParentID="6" />
  <menu ID="21" CategoryName="Mouse" ParentID="7" />
  <menu ID="22" CategoryName="Klavye" ParentID="7" />
  <menu ID="23" CategoryName="LCD" ParentID="8" />
  <menu ID="24" CategoryName="LED" ParentID="8" />
  <menu ID="25" CategoryName="Fırın" ParentID="9" />
  <menu ID="26" CategoryName="Bulaşık Makinası" ParentID="9" />
  <menu ID="27" CategoryName="Hoparlör" ParentID="10" />
  <menu ID="28" CategoryName="Teyp" ParentID="10" />
  <menu ID="29" CategoryName="Avcılık" ParentID="11" />
  <menu ID="30" CategoryName="Balıkçılık" ParentID="11" />
  <menu ID="31" CategoryName="Toplar" ParentID="12" />
  <menu ID="32" CategoryName="Forma" ParentID="12" />
  <menu ID="33" CategoryName="Dağ Bisikleti" ParentID="13" />
  <menu ID="34" CategoryName="Şehir Bisikleti" ParentID="13" />
  <menu ID="35" CategoryName="Elektro Gitar" ParentID="14" />
  <menu ID="36" CategoryName="Bas Gitar" ParentID="14" />
  <menu ID="37" CategoryName="Dijital Pedal" ParentID="15" />
  <menu ID="38" CategoryName="Analog Pedal" ParentID="15" />
</menuler>
