<!--b-personal-->
<section class="b-personal s-shadow">
    <div class="container">
        <h3 class="s-titleBg wow zoomInUp" data-wow-delay="0.5s">{{ workers?.ShortDescription }}</h3><br />
        <h2 class="s-title wow zoomInUp" data-wow-delay="0.5s">{{ workers?.ShortDescription2 }}</h2>
        <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" 
             data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-tablet-small="2">
            
            <div *ngFor="let item of workerList">
                <div class="b-personal__worker wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-personal__worker-img">
                        <img src="/RealEstate/Uploads/{{ item?.PictureUrl }}" class="img-responsive" alt="jason" />
                    </div>
                    <h6>{{ item?.Position }}</h6>
                    <div class="b-personal__worker-name s-lineDownLeft">
                        <h4 class="s-titleDet">{{ item?.NameSurname }}</h4>
                    </div>
                    <p>
                        {{ item?.Description }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--b-personal-->