<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> CarDetailsMechanical Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					Bağlı Cars
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="CarID" [ngModel]="model?.CarID" formControlName="CarID"><option *ngFor="let item of model?.CarsList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- CarID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı CarFeatsEngineType
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="EngineTypeID" [ngModel]="model?.EngineTypeID" formControlName="EngineTypeID"><option *ngFor="let item of model?.CarFeatsEngineTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- EngineTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					EngineCapacity
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="EngineCapacity" [ngModel]="model?.EngineCapacity" formControlName="EngineCapacity" type="number" />
					<br />
					<!-- EngineCapacity -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Cylinders
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Cylinders" [ngModel]="model?.Cylinders" formControlName="Cylinders" type="number" />
					<br />
					<!-- Cylinders -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Horsepower
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Horsepower" [ngModel]="model?.Horsepower" formControlName="Horsepower" type="number" />
					<br />
					<!-- Horsepower -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı CarFeatsFuelType
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="FuelTypeID" [ngModel]="model?.FuelTypeID" formControlName="FuelTypeID"><option *ngFor="let item of model?.CarFeatsFuelTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- FuelTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					FuelCapacity
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="FuelCapacity" [ngModel]="model?.FuelCapacity" formControlName="FuelCapacity" type="number" />
					<br />
					<!-- FuelCapacity -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					CityFuelEconomy
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="CityFuelEconomy" [ngModel]="model?.CityFuelEconomy" formControlName="CityFuelEconomy" type="text" />
					<br />
					<!-- CityFuelEconomy -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					HighwayFuelEconomy
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="HighwayFuelEconomy" [ngModel]="model?.HighwayFuelEconomy" formControlName="HighwayFuelEconomy" type="text" />
					<br />
					<!-- HighwayFuelEconomy -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Bağlı CarFeatsGearsType
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="GearsTypeID" [ngModel]="model?.GearsTypeID" formControlName="GearsTypeID"><option *ngFor="let item of model?.CarFeatsGearsTypeList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- GearsTypeID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					GearsNumber
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="GearsNumber" [ngModel]="model?.GearsNumber" formControlName="GearsNumber" type="number" />
					<br />
					<!-- GearsNumber -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Drivetrain
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Drivetrain" [ngModel]="model?.Drivetrain" formControlName="Drivetrain" type="number" />
					<br />
					<!-- Drivetrain -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/CarDetailsMechanical" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
