<hr-candidatedetailbanner></hr-candidatedetailbanner>

<section class="overlape">
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr-candidatedetailtop></hr-candidatedetailtop>

                    <div class="cand-details-sec">
                        <div class="row no-gape">
                            <div class="col-lg-9 column">
                                <div class="cand-details">
                                    <hr-candidatedetailoverview></hr-candidatedetailoverview>

                                    <h2>Candidates About</h2>
                                    <p>Hello my name is Mark William Connor and I’m a Web Designer & Web Developer from Melbourne, Australia. In pharetra orci dignissim, blandit mi semper, ultricies diam. Suspendisse malesuada suscipit nunc non volutpat. Sed porta nulla id orci laoreet tempor non consequat enim. Sed vitae aliquam velit. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. </p>
                                    <p>Mauris nec erat ut libero vulputate pulvinar. Aliquam ante erat, blandit at pretium et, accumsan ac est. Integer vehicula rhoncus molestie. Morbi ornare ipsum sed sem condimentum, et pulvinar tortor luctus. Suspendisse condimentum lorem ut elementum aliquam. Mauris nec erat ut libero vulputate pulvinar.</p>

                                    <hr-candidatedetaileducation></hr-candidatedetaileducation>
                                    <hr-candidatedetailportfolio></hr-candidatedetailportfolio>
                                    <hr-candidatedetailskills></hr-candidatedetailskills>
                                    <hr-candidatedetailawards></hr-candidatedetailawards>
                                    <hr-candidatedetailfollows></hr-candidatedetailfollows>

                                </div>
                            </div>
                            <div class="col-lg-3 column">
                                <hr-candidatedetailright></hr-candidatedetailright>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>