<hr-candidatedetailbanner></hr-candidatedetailbanner>

<section class="overlape">
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr-candidatedetailtop></hr-candidatedetailtop>

                    <div class="cand-details-sec">
                        <div class="row no-gape">
                            <div class="col-lg-9 column">
                                <div class="cand-details">
                                    <hr-candidatedetailoverview></hr-candidatedetailoverview>

                                    <h2>Hakkında</h2>
                                    <p>Merhaba benim adım Mark William Connor ve Avustralya'nın Melbourne bir web tasarımcısı ve Web geliştiricisi 1'm. Klinik varlığın şekerleme, hep ultricies beni otur. Stres malesuada şimdi hiçbir sorun üstlenir. Ama geçit olmaz Nulla kimliği orci laoreet tempor consequat enim. Ama her filmin ömrü neyi isterse. Bazı katman olarak, fiyata oturup zorunda kaldı. CNN televizyon ses araçları. Önemli sosu ve salata futbol ve voleybol makro etkisi. Bir masaj sosu gibi Lorem öğesi.</p>
                                    <p>Mauris bys erat ut libero vulputate consectetuer. Bazı katman olarak, fiyata oturup zorunda kaldı. CNN televizyon ses araçları. Önemli sosu ve salata futbol ve voleybol makro etkisi. Bir masaj sosu gibi Lorem öğesi. Mauris bys erat ut libero vulputate consectetuer.</p>

                                    <hr-candidatedetaileducation></hr-candidatedetaileducation>
                                    <hr-candidatedetailportfolio></hr-candidatedetailportfolio>
                                    <hr-candidatedetailskills></hr-candidatedetailskills>
                                    <hr-candidatedetailcertificates></hr-candidatedetailcertificates>
                                    <hr-candidatedetailfollows></hr-candidatedetailfollows>

                                </div>
                            </div>
                            <div class="col-lg-3 column">
                                <hr-candidatedetailright></hr-candidatedetailright>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>