<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-home"></i> Ana Sayfa</a></div>
    </div>

    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lg" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/Cars"> <i class="icon-dashboard"></i> Araçlar</a> </li>
                <li class="bg_lb" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/Blog"> <i class="icon-book"></i> Blog Yazıları</a> </li>
                <li class="bg_ly" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/LangContent"> <i class="icon-flag"></i> Dil İçerikleri</a> </li>
                <li class="bg_lo" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/ContactForm"> <i class="icon-phone"></i> İletişim Formu</a> </li>
                <li class="bg_ls" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/Newsletter"> <i class="icon-envelope"></i> Mail Grubu</a> </li>
                <li class="bg_lr" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/Workers"> <i class="icon-briefcase"></i> Çalışanlar</a> </li>
                <li class="bg_lv" *ngIf="hasRightCategory && showTypeCategory"> <a routerLink="/Admin/Category"> <i class="icon-sitemap"></i> Kategoriler</a> </li>
                <li class="bg_lg" *ngIf="hasRightContent && showTypeContent"> <a routerLink="/Admin/Content"> <i class="icon-edit"></i> İçerikler</a> </li>
                <li class="bg_lb" *ngIf="hasRightPictures && showTypePictures"> <a routerLink="/Admin/Pictures"> <i class="icon-camera-retro"></i> Resimler</a> </li>
                <li class="bg_ly" *ngIf="hasRightFiles && showTypeFiles"> <a routerLink="/Admin/Files"> <i class="icon-file"></i> Dosyalar</a> </li>
                <li class="bg_lo" *ngIf="hasRightMeta && showTypeMeta"> <a routerLink="/Admin/Meta"> <i class="icon-tags"></i> Meta</a> </li>
                <li class="bg_ls" *ngIf="hasRightTranslation && showTypeTranslation"> <a routerLink="/Admin/Translation"> <i class="icon-globe"></i> Diller</a> </li>
                <li class="bg_lr" *ngIf="hasRightLogs && showTypeLogs"> <a routerLink="/Admin/Logs"> <i class="icon-eye-open"></i> Loglar</a> </li>
                <li class="bg_lv" *ngIf="hasRightWebsite && showTypeWebsite"> <a routerLink="/Admin/Visitors"> <i class="icon-plane"></i> Ziyaretci</a> </li>
                <li class="bg_lg" *ngIf="hasRightUsers && showTypeUsers"> <a routerLink="/Admin/Users"> <i class="icon-user"></i> Kullanıcılar</a> </li>
                <li class="bg_lb" *ngIf="hasRightTypes && showTypeTypes"> <a routerLink="/Admin/Types"> <i class="icon-pushpin"></i> Tipler</a> </li>
            </ul>
        </div>
    </div>
</div>