<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-camera-retro"></i> Resim Düzenle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="duzenleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>

                <div class="editor-label">
                    Başlık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Title" [ngModel]="model?.Title" formControlName="Title" type="text" value="{{ model?.Title }}" />
                    <br />
                    <!--Title-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Açıklama
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Description" [ngModel]="model?.Description" formControlName="Description" type="text" value="{{ model?.Description }}" />
                    <br />
                    <!--Description-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Resim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <a href="/RealEstate/Uploads/{{ model?.PictureUrl }}" target="_blank"><img [src]="['/RealEstate/Uploads/' + model?.ThumbUrl]" style="height:40px; max-width:80px;" /></a><br /><br />
                    <input id="ThumbUrl" [ngModel]="model?.ThumbUrl" formControlName="ThumbUrl" type="hidden" value="{{ model?.ThumbUrl }}" />
                    <input id="PictureUrl" [ngModel]="model?.PictureUrl" formControlName="PictureUrl" type="hidden" value="{{ model?.PictureUrl }}" />
                    <input id="picTemp" type="file" (change)="onFileSelect($event)" name="picTemp" />
                    <br />
                    <!--PictureUrl-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kod
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" value="{{ model?.Code }}" />
                    <br />
                    <!--Code-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Aktif mi?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" checked="checked" *ngIf="model?.Active" />
                    <input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" *ngIf="!model?.Active" />
                    <br />
                    <!--Active-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!duzenleForm.valid" />
                    <a routerLink="/Admin/Pictures" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>