<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> Araç Detay (Özellik) Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					Bağlı Araç
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<select id="CarID" [ngModel]="model?.CarID" formControlName="CarID"><option *ngFor="let item of model?.CarsList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
					<br />
					<!-- CarID -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					ABS
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="ABS" [ngModel]="model?.ABS" formControlName="ABS" type="checkbox" />
					<br />
					<!-- ABS -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Hava Yastığı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Airbag" [ngModel]="model?.Airbag" formControlName="Airbag" type="checkbox" />
					<br />
					<!-- Airbag -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Klima
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="AirConditioning" [ngModel]="model?.AirConditioning" formControlName="AirConditioning" type="checkbox" />
					<br />
					<!-- AirConditioning -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Alaşım Jantlar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="AlloyTires" [ngModel]="model?.AlloyTires" formControlName="AlloyTires" type="checkbox" />
					<br />
					<!-- AlloyTires -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Alarm
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="AntiTheft" [ngModel]="model?.AntiTheft" formControlName="AntiTheft" type="checkbox" />
					<br />
					<!-- AntiTheft -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Ses Sistemi Kumandası
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="AudioRemoteControl" [ngModel]="model?.AudioRemoteControl" formControlName="AudioRemoteControl" type="checkbox" />
					<br />
					<!-- AudioRemoteControl -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    CD Oynatıcı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="CDPlayer" [ngModel]="model?.CDPlayer" formControlName="CDPlayer" type="checkbox" />
					<br />
					<!-- CDPlayer -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Merkezi Kilitleme
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="CentralLocking" [ngModel]="model?.CentralLocking" formControlName="CentralLocking" type="checkbox" />
					<br />
					<!-- CentralLocking -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Soğutmalı Koltuklar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="CooledSeats" [ngModel]="model?.CooledSeats" formControlName="CooledSeats" type="checkbox" />
					<br />
					<!-- CooledSeats -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Motor İmmobilizer
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="EngineImmobiliser" [ngModel]="model?.EngineImmobiliser" formControlName="EngineImmobiliser" type="checkbox" />
					<br />
					<!-- EngineImmobiliser -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Sis Lambası
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="FogLamps" [ngModel]="model?.FogLamps" formControlName="FogLamps" type="checkbox" />
					<br />
					<!-- FogLamps -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Katlanır Koltuklar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="FoldingSeats" [ngModel]="model?.FoldingSeats" formControlName="FoldingSeats" type="checkbox" />
					<br />
					<!-- FoldingSeats -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					GPS
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="GPS" [ngModel]="model?.GPS" formControlName="GPS" type="checkbox" />
					<br />
					<!-- GPS -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Isıtmalı Aynalar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="HeatedDoorMirrors" [ngModel]="model?.HeatedDoorMirrors" formControlName="HeatedDoorMirrors" type="checkbox" />
					<br />
					<!-- HeatedDoorMirrors -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Isıtmalı Koltuklar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="HeatedSeats" [ngModel]="model?.HeatedSeats" formControlName="HeatedSeats" type="checkbox" />
					<br />
					<!-- HeatedSeats -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Far Kapakları
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="HeadlightCovers" [ngModel]="model?.HeadlightCovers" formControlName="HeadlightCovers" type="checkbox" />
					<br />
					<!-- HeadlightCovers -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Anahtarsız Giriş
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="KeylessEntry" [ngModel]="model?.KeylessEntry" formControlName="KeylessEntry" type="checkbox" />
					<br />
					<!-- KeylessEntry -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Deri Döşeme
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="LeatherSeats" [ngModel]="model?.LeatherSeats" formControlName="LeatherSeats" type="checkbox" />
					<br />
					<!-- LeatherSeats -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Deri Süsleme
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="LeatherTrim" [ngModel]="model?.LeatherTrim" formControlName="LeatherTrim" type="checkbox" />
					<br />
					<!-- LeatherTrim -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					LPG
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="LPG" [ngModel]="model?.LPG" formControlName="LPG" type="checkbox" />
					<br />
					<!-- LPG -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Yolcu Hava Yastığı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PassengerAirbag" [ngModel]="model?.PassengerAirbag" formControlName="PassengerAirbag" type="checkbox" />
					<br />
					<!-- PassengerAirbag -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Elektrikli Üst Cam
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PowerGlass" [ngModel]="model?.PowerGlass" formControlName="PowerGlass" type="checkbox" />
					<br />
					<!-- PowerGlass -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Elektrikli Aynalar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PowerMirrors" [ngModel]="model?.PowerMirrors" formControlName="PowerMirrors" type="checkbox" />
					<br />
					<!-- PowerMirrors -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Elektrikli Koltuklar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PowerSeats" [ngModel]="model?.PowerSeats" formControlName="PowerSeats" type="checkbox" />
					<br />
					<!-- PowerSeats -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Elektrikli Direksiyon
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PowerSteering" [ngModel]="model?.PowerSteering" formControlName="PowerSteering" type="checkbox" />
					<br />
					<!-- PowerSteering -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Elektrikli Camlar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PowerWindows" [ngModel]="model?.PowerWindows" formControlName="PowerWindows" type="checkbox" />
					<br />
					<!-- PowerWindows -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Uzaktan Çalıştırma
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="RemoteStart" [ngModel]="model?.RemoteStart" formControlName="RemoteStart" type="checkbox" />
					<br />
					<!-- RemoteStart -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Güvenlik Sistemi
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="SecuritySystem" [ngModel]="model?.SecuritySystem" formControlName="SecuritySystem" type="checkbox" />
					<br />
					<!-- SecuritySystem -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Yan Hava Yastığı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="SideAirbag" [ngModel]="model?.SideAirbag" formControlName="SideAirbag" type="checkbox" />
					<br />
					<!-- SideAirbag -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Hız Kesici
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Spoiler" [ngModel]="model?.Spoiler" formControlName="Spoiler" type="checkbox" />
					<br />
					<!-- Spoiler -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Filmli Camlar
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="TintedWindows" [ngModel]="model?.TintedWindows" formControlName="TintedWindows" type="checkbox" />
					<br />
					<!-- TintedWindows -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Çekici Aparatı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="TowBar" [ngModel]="model?.TowBar" formControlName="TowBar" type="checkbox" />
					<br />
					<!-- TowBar -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Yol Bilgisayarı
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="TripComputer" [ngModel]="model?.TripComputer" formControlName="TripComputer" type="checkbox" />
					<br />
					<!-- TripComputer -->
				</div>
				<div class="clear"></div>

                <div class="editor-label">
                    Garanti
                </div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Warrenty" [ngModel]="model?.Warrenty" formControlName="Warrenty" type="checkbox" />
					<br />
					<!-- Warrenty -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/CarDetailsFeatures" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
