
<div class="panel panel-default sidebar-menu wow fadeInRight animated">
    <div class="panel-heading">
        <h3 class="panel-title">{{ sdetText }}</h3>
    </div>
    <div class="panel-body search-widget">
        <form [formGroup]="propSearchForm" class="form-inline">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" id="txtBaslik" formControlName="baslik" class="form-control" placeholder="{{ ttleText }}" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-4">
                        <label><input name="satilik" id="rbTumu" type="radio" class="form-control" formControlName="satilik" checked="checked" value="{{ sctmText }}" /> <b>{{ sctmText }}</b></label>
                    </div>
                    <div class="col-xs-4">
                        <label><input name="satilik" id="rbSatilik" type="radio" class="form-control" formControlName="satilik" value="{{ scfsText }}" /> <b>{{ scfsText }}</b></label>
                    </div>
                    <div class="col-xs-4">
                        <label><input name="satilik" id="rbKiralik" type="radio" class="form-control" formControlName="satilik" value="{{ scfrText }}" /> <b>{{ scfrText }}</b></label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b>{{ ctgyText }} :</b>
                        <select id="drpKategori" class="form-control" formControlName="kategori"></select>
                    </div>
                    <div class="col-xs-6">
                        <b>{{ durumText }} :</b>
                        <select id="drpDurum" class="form-control" formControlName="durum">
                            <option value="{{ sallText }}">{{ sallText }}</option>
                            <option value="{{ sclrText }}">{{ sclrText }}</option>
                            <option value="{{ susdText }}">{{ susdText }}</option>
                            <option value="{{ sdmgText }}">{{ sdmgText }}</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-4">
                        <b>{{ cityText }} :</b>
                        <select id="drpSehir" class="form-control" formControlName="sehir"></select>
                    </div>
                    <div class="col-xs-4">
                        <b>{{ ilceText }} :</b>
                        <input type="text" id="txtIlce" class="form-control" formControlName="ilce" />
                    </div>
                    <div class="col-xs-4">
                        <b>{{ semtText }} :</b>
                        <input type="text" id="txtSemt" class="form-control" formControlName="semt" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b>{{ yakitTipiText }} :</b>
                        <select id="drpYakit" class="form-control" formControlName="yakit">
                            <option value="{{ fallText }}">{{ fallText }}</option>
                            <option value="{{ fdgzText }}">{{ fdgzText }}</option>
                            <option value="{{ fwocText }}">{{ fwocText }}</option>
                            <option value="{{ flifText }}">{{ flifText }}</option>
                            <option value="{{ felcText }}">{{ felcText }}</option>
                            <option value="{{ fothText }}">{{ fothText }}</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <b>{{ isinmaTipiText }} :</b>
                        <select id="drpIsinma" class="form-control" formControlName="isinma">
                            <option value="{{ wallText }}">{{ wallText }}</option>
                            <option value="{{ wsunText }}">{{ wsunText }}</option>
                            <option value="{{ wkatText }}">{{ wkatText }}</option>
                            <option value="{{ wairText }}">{{ wairText }}</option>
                            <option value="{{ wcomText }}">{{ wcomText }}</option>
                            <option value="{{ wcenText }}">{{ wcenText }}</option>
                            <option value="{{ wstoText }}">{{ wstoText }}</option>
                            <option value="{{ wothText }}">{{ wothText }}</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-12">
                        <b for="fiyat1">{{ fiyatText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="fiyat" data-min="0" data-max="1000000" data-step="5000"></div>
                        <input type="hidden" id="fiyat1" class="j-min" formControlName="fiyat1" />
                        <input type="hidden" id="fiyat2" class="j-max" formControlName="fiyat2" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b for="roomCount1">{{ odasayisiText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="roomCount" data-min="0" data-max="10" data-step="1"></div>
                        <input type="hidden" id="roomCount1" class="j-min" formControlName="roomCount1" />
                        <input type="hidden" id="roomCount2" class="j-max" formControlName="roomCount2" />
                    </div>

                    <div class="col-xs-6">
                        <b for="salon1">{{ salonSayisiText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="salon" data-min="0" data-max="10" data-step="1"></div>
                        <input type="hidden" id="salon1" class="j-min" formControlName="salon1" />
                        <input type="hidden" id="salon2" class="j-max" formControlName="salon2" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b for="alan1">{{ alanText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="alan" data-min="0" data-max="2000" data-step="100"></div>
                        <input type="hidden" id="alan1" class="j-min" formControlName="alan1" />
                        <input type="hidden" id="alan2" class="j-max" formControlName="alan2" />
                    </div>

                    <div class="col-xs-6">
                        <b for="binaYas1">{{ binaYasiText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="binaYas" data-min="0" data-max="100" data-step="5"></div>
                        <input type="hidden" id="binaYas1" class="j-min" formControlName="binaYas1" />
                        <input type="hidden" id="binaYas2" class="j-max" formControlName="binaYas2" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b for="katSayi1">{{ katSayisiText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="katSayi" data-min="0" data-max="40" data-step="1"></div>
                        <input type="hidden" id="katSayi1" class="j-min" formControlName="katSayi1" />
                        <input type="hidden" id="katSayi2" class="j-max" formControlName="katSayi2" />
                    </div>

                    <div class="col-xs-6">
                        <b for="bulunduguKat1">{{ bulunduguKatText }} <i>({{ arlkText }})</i></b>
                        <div class="tdslider" id="bulunduguKat" data-min="0" data-max="40" data-step="1"></div>
                        <input type="hidden" id="bulunduguKat1" class="j-min" formControlName="bulunduguKat1" />
                        <input type="hidden" id="bulunduguKat2" class="j-max" formControlName="bulunduguKat2" />
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="caddeyeYakin" formControlName="caddeyeYakin" /> <b>{{ caddeyeYakinText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="merkezde" formControlName="merkezde" /> <b>{{ merkezdeText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="asansor" formControlName="asansor" /> <b>{{ asansorText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="mantolama" formControlName="mantolama" /> <b>{{ mantolamaText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="bahce" formControlName="bahce" /> <b>{{ bahceText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="otopark" formControlName="otopark" /> <b>{{ otoparkText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="siteIci" formControlName="siteIci" /> <b>{{ siteIciText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="alarm" formControlName="alarm" /> <b>{{ alarmText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="goruntuluDiafon" formControlName="goruntuluDiafon" /> <b>{{ goruntuluDiafon }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="klima" formControlName="klima" /> <b>{{ klimaText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="onCephe" formControlName="onCephe" /> <b>{{ onCepheText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="manzarali" formControlName="manzarali" /> <b>{{ manzaraText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="topluUlasim" formControlName="topluUlasim" /> <b>{{ topluUlasimText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="hidrofor" formControlName="hidrofor" /> <b>{{ hidroforText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="metro" formControlName="metro" /> <b>{{ metroText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="jenerator" formControlName="jenerator" /> <b>{{ jeneratorText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="pVCDograma" formControlName="pVCDograma" /> <b>{{ pVCDogramaText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="yuzmeHavuzu" formControlName="yuzmeHavuzu" /> <b>{{ yuzmeHavuzuText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="celikKapi" formControlName="celikKapi" /> <b>{{ celikKapiText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="kabloTVUydu" formControlName="kabloTVUydu" /> <b>{{ kabloTVUyduText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="arkaCephe" formControlName="arkaCephe" /> <b>{{ arkaCepheText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="denizeYakin" formControlName="denizeYakin" /> <b>{{ denizeYakinText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="otoban" formControlName="otoban" /> <b>{{ otobanText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="guvenlik" formControlName="guvenlik" /> <b>{{ guvenlikText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="denizeSifir" formControlName="denizeSifir" /> <b>{{ denizeSifirText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="kapici" formControlName="kapici" /> <b>{{ kapiciText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="oyunParki" formControlName="oyunParki" /> <b>{{ oyunParkiText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="yanginMerdiveni" formControlName="yanginMerdiveni" /> <b>{{ yanginMerdiveniText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="padding-5">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="balkon" formControlName="balkon" /> <b>{{ balkonText }}</b>
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="jakuzi" formControlName="jakuzi" /> <b>{{ jakuziText }}</b>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn search-btn largesearch-btn" (click)="onClick()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>