<rac-carlistheader [langs]="headerLangs"></rac-carlistheader>
<rac-carlistbreadcumbs [langs]="breadcumbsLangs"></rac-carlistbreadcumbs>
<rac-carlistinfo [langs]="infoLangs" (orderChange)="GetCarList()"></rac-carlistinfo>
<section class="b-items s-shadow">
    <div class="container">
        <div class="row">
            <rac-carlistitems [langs]="itemsLangs" [carList]="carList"></rac-carlistitems>
            <rac-carlistsearch [langs]="searchLangs" [booknowLangs]="booknowLangs" (searchFilter)="GetCarList()"></rac-carlistsearch>
        </div>
    </div>
</section>
