<div id="sidebar">
    <a href="javascript:;" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
    <ul>
        <li data-url="AnaSayfa" class="active">
            <a routerLink="/Admin/Index"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
        </li>
        <li class="submenu" *ngIf="hasRightWebsite && showTypeWebsite">
            <a href="javascript:;"><i class="icon icon-home"></i> <span>Emlaklar</span></a>
            <ul>
                <li data-url="Property"><a routerLink="/Admin/Property">Emlaklar</a></li>
                <li data-url="PropertyT"><a routerLink="/Admin/PropertyT">Emlaklar (Dil)</a></li>
                <li data-url="PropertyCategories"><a routerLink="/Admin/PropertyCategories">Emlak Kategorileri</a></li>
                <li data-url="PropertyCategoriesT"><a routerLink="/Admin/PropertyCategoriesT">Emlak Kategorileri (Dil)</a></li>
                <li data-url="PropertyDetails"><a routerLink="/Admin/PropertyDetails">Emlak Detay</a></li>
                <li data-url="PropertyFeatures"><a routerLink="/Admin/PropertyFeatures">Emlak Özellikleri</a></li>
                <li data-url="PropertyPictures"><a routerLink="/Admin/PropertyPictures">Emlak Resimleri</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightWebsite && showTypeWebsite">
            <a href="javascript:;"><i class="icon icon-dashboard"></i> <span>Emlak Ekstra</span></a>
            <ul>
                <li data-url="City"><a routerLink="/Admin/City">Şehirler</a></li>
                <li data-url="PropertyStatus"><a routerLink="/Admin/PropertyStatus">Durumlar</a></li>
                <li data-url="PropertyStatusT"><a routerLink="/Admin/PropertyStatusT">Durumlar (Dil)</a></li>
                <li data-url="FuelType"><a routerLink="/Admin/FuelType">Yakıt Tipleri</a></li>
                <li data-url="FuelTypeT"><a routerLink="/Admin/FuelTypeT">Yakıt Tipleri (Dil)</a></li>
                <li data-url="WarmType"><a routerLink="/Admin/WarmType">Isınma Tipleri</a></li>
                <li data-url="WarmTypeT"><a routerLink="/Admin/WarmTypeT">Isınma Tipleri (Dil)</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightKategori && showTypeKategori">
            <a href="javascript:;"><i class="icon icon-sitemap"></i> <span>Kategoriler</span></a>
            <ul>
                <li data-url="Category"><a routerLink="/Admin/Category">Kategoriler</a></li>
                <li data-url="CategoryT"><a routerLink="/Admin/CategoryT">Kategoriler (Dil)</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightIcerik && showTypeIcerik">
            <a href="javascript:;"><i class="icon icon-edit"></i> <span>İçerikler</span></a>
            <ul>
                <li data-url="Content"><a routerLink="/Admin/Content">İçerikler</a></li>
                <li data-url="ContentT"><a routerLink="/Admin/ContentT">İçerikler (Dil)</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightGaleri && showTypeGaleri">
            <a href="javascript:;"><i class="icon icon-picture"></i> <span>Galeri</span></a>
            <ul>
                <li data-url="Gallery"><a routerLink="/Admin/Gallery">Galeri</a></li>
                <li data-url="GalleryT"><a routerLink="/Admin/GalleryT">Galeri (Dil)</a></li>
            </ul>
        </li>
        <li data-url="Picture" *ngIf="hasRightResim && showTypeResim">
            <a routerLink="/Admin/Picture"><i class="icon icon-camera-retro"></i> <span>Resimler</span></a>
        </li>
        <li data-url="File" *ngIf="hasRightDosya && showTypeDosya">
            <a routerLink="/Admin/File"><i class="icon icon-file"></i> <span>Dosyalar</span></a>
        </li>
        <li class="submenu" *ngIf="hasRightMeta && showTypeMeta">
            <a href="javascript:;"><i class="icon icon-tags"></i> <span>Meta</span></a>
            <ul>
                <li data-url="Meta"><a routerLink="/Admin/Meta">Meta</a></li>
                <li data-url="MetaT"><a routerLink="/Admin/MetaT">Meta (Dil)</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightBagliTipler && showTypeBagliTipler">
            <a href="javascript:;"><i class="icon icon-link"></i> <span>Bağlı Tipler</span></a>
            <ul>
                <li data-url="LinkTypes"><a routerLink="/Admin/LinkTypes">Bağlı Tipler</a></li>
                <li data-url="Links"><a routerLink="/Admin/Links">Bağlantılar</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightDil && hasRightDil">
            <a href="javascript:;"><i class="icon icon-globe"></i> <span>Diller</span></a>
            <ul>
                <li data-url="Translation"><a routerLink="/Admin/Translation">Diller</a></li>
                <li data-url="LangContent"><a routerLink="/Admin/LangContent">Dil İçerik</a></li>
                <li data-url="LangContentT"><a routerLink="/Admin/LangContentT">Dil İçerik (Dil)</a></li>
            </ul>
        </li>
        <li class="submenu" *ngIf="hasRightLoglar && showTypeLoglar">
            <a href="javascript:;"><i class="icon icon-eye-open"></i> <span>Loglar</span></a>
            <ul>
                <li data-url="Logs"><a routerLink="/Admin/Logs">Loglar</a></li>
                <li data-url="LogTypes"><a routerLink="/Admin/LogTypes">Log Tipleri</a></li>
                <li data-url="LogProcess"><a routerLink="/Admin/LogProcess">Log İşlemleri</a></li>
            </ul>
        </li>
        <li data-url="VisitorCounter" *ngIf="hasRightZiyaretci && showTypeZiyaretci">
            <a routerLink="/Admin/VisitorCounter"><i class="icon icon-plane"></i> <span>Ziyaretçiler</span></a>
        </li>
        <li class="submenu" *ngIf="hasRightKullanicilar && showTypeKullanicilar">
            <a href="javascript:;"><i class="icon icon-user"></i> <span>Kullanıcılar</span></a>
            <ul>
                <li data-url="Users"><a routerLink="/Admin/Users">Kullanıcılar</a></li>
                <li data-url="UserGroups"><a routerLink="/Admin/UserGroups">Kullanıcı Grupları</a></li>
                <li data-url="UserGroupTables"><a routerLink="/Admin/UserGroupTables">Kullanıcı Grup Tabloları</a></li>
                <li data-url="UserGroupRights"><a routerLink="/Admin/UserGroupRights">Kullanıcı Grup Hakları</a></li>
                <li data-url="UserGroupProcess"><a routerLink="/Admin/UserGroupProcess">Kullanıcı Grup İşlemleri</a></li>
            </ul>
        </li>
        <li data-url="Types" *ngIf="hasRightTipler && showTypeTipler">
            <a routerLink="/Admin/Types"><i class="icon icon-pushpin"></i> <span>Tipler</span></a>
        </li>
    </ul>
</div>