#companylinks {float:left;margin: 0px 0px 0px 0px;padding: 0px;width: 100%;list-style-type: none;}
#companylinks li {margin: 10px 0px 0px 0px;width: 100%;padding: 0px 0px 10px 0px;border-bottom: 1px dotted lightgray;line-height: 23px;height: 23px;}
#companylinks li img {margin: 0px 0px 0px 0px;float: left;}
#companylinks li a {margin: 0px 0px 0px 0px;float: left;background-image: url(../../Resim/icons/blue/resume.png);background-repeat: no-repeat;
                   padding-left: 30px;}
#companylinks li a.home {background-image: url(../../Resim/icons/blue/home.png);}
#companylinks li a.announce {background-image: url(../../Resim/icons/blue/announce.png);}
#companylinks li a.giveannounce {background-image: url(../../Resim/icons/blue/giveannounce.png);}
#companylinks li a.pool {background-image: url(../../Resim/icons/blue/pool.png);}
#companylinks li a.about {background-image: url(../../Resim/icons/blue/about.png);}
#companylinks li a.favorite {background-image: url(../../Resim/icons/blue/favorite.png);}
#companylinks li a.block {background-image: url(../../Resim/icons/blue/block.png);}
#companylinks li a.applications {background-image: url(../../Resim/icons/blue/applications.png);}
#companylinks li a.files {background-image: url(../../Resim/icons/blue/files.png);}
#companylinks li a.message {background-image: url(../../Resim/icons/blue/message.png);}
#companylinks li a.logout {background-image: url(../../Resim/icons/blue/logout.png);}


@media only screen and (min-width: 769px) and (max-width: 1024px)
{
#companylinks {width: 746px;}
#companylinks li {width: 373px;float:left;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{

}
@media only screen and (min-width: 481px) and (max-width: 568px)
{

}
@media only screen and (max-width: 480px)
{

}