<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-eye-open"></i> Log İşlemi Ekle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="duzenleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>

                <div class="editor-label">
                    Log Tipi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="LogTypeID" [ngModel]="model?.LogTypeID" formControlName="LogTypeID"><option *ngFor="let item of model?.LogTypesList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <!--LogTypeID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    İsim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Name" [ngModel]="model?.Name" formControlName="Name" type="text" value="{{ model?.Name }}" />
                    <!--Name-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kısa İsim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ShortName" [ngModel]="model?.ShortName" formControlName="ShortName" type="text" value="{{ model?.ShortName }}" />
                    <!--ShortName-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Açıklama
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Description" [ngModel]="model?.Description" formControlName="Description" type="text" value="{{ model?.Description }}" />
                    <!--Description-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!duzenleForm.valid" />
                    <a routerLink="/Admin/LogIslem" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>