<div class="header middle">
    <a id="logo" routerLink="/Giris">
        <img src="content/img/logo.png" />
    </a>
    <div id="toplogin">
        <!--Aday Şirket Giriş-->
        <a *ngIf="durum == false" class="blue" routerLink="/Sirket/Islem/Giris">Şirket Giriş</a>
        <a *ngIf="durum == false" class="blue" routerLink="/Aday/Islem/Giris">Aday Giriş</a>

        <!--Aday Menu-->
        <ul *ngIf="aktifKullanici?.Tip == 'Aday'" id="loginmenu">
            <li><a class="home" routerLink="/Aday/Ozgecmis/AnaSayfa">Profilim</a></li>
            <li><a routerLink="/Aday/Ozgecmis/Goster">Özgeçmişim</a></li>
            <li><a class="writing" routerLink="/Aday/Ozgecmis/Onyazilar">Ön Yazılarım</a></li>
            <li><a class="applications" routerLink="/Aday/Ozgecmis/Basvurular">Başvurularım</a></li>
            <li><a class="logout" (click)="onClick('Aday')">Çıkış</a></li>
        </ul>
        <a *ngIf="aktifKullanici?.Tip == 'Aday'" id="loginbutton" onclick="javascript:;">HoşGeldiniz<br /><b>{{aktifKullanici.Ad}} {{aktifKullanici.Soyad}}</b></a>

        <!--Şirket Menu-->
        <ul *ngIf="aktifFirma?.Tip == 'Sirket'" id="loginmenu">
            <li><a class="home" routerLink="/Sirket/Profil/AnaSayfa">Şirketim</a></li>
            <li><a class="about" routerLink="/Sirket/Profil/Hakkimizda">Hakkımızda</a></li>
            <li><a class="announce" routerLink="/Sirket/Ilan/Listele">İlanlar</a></li>
            <li><a class="applications" routerLink="/Sirket/Profil/Basvurular">Başvurular</a></li>
            <li><a class="logout" (click)="onClick('Sirket')">Çıkış</a></li>
        </ul>
        <a *ngIf="aktifFirma?.Tip == 'Sirket'" id="loginbutton" onclick="javascript:;">HoşGeldiniz<br /><b>{{aktifFirma.SirketAdi}}</b></a>

    </div>
</div>