#about {float:left;margin: 0px 0px 0px 0px;width: 658px;padding: 0px 20px 0px 20px;}
#about .row {float:left;margin: 10px 0px 20px 0px;width: 100%;}

@media only screen and (max-width: 1024px) and (min-width: 769px)
{
#about {width: 726px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#about {width: 526px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#about {width: 438px;}
}
@media only screen and (max-width: 480px)
{
#about {width: 278px;}
}