#searcharea {float:left;margin: 0px 0px 0px 0px;width: 100%;}
#searcharea .searchbox {float:left;margin: 0px 0px 0px 0px;width: 329px;padding: 10px;}
#searcharea .searchbox.large {width: 678px;padding: 10px;border-bottom: none;height: 40px;}
#searcharea .searchbox input[type=text] {float:left;margin: 0px 0px 0px 0px;width: 96%;height: 20px;line-height: 30px;padding: 5px;}
#searchbtn {float:right;margin: 0px 0px 0px 0px;padding: 10px;width: 120px;}

#table .row.theader .column.first, #table .row.tfooter .column.first {color:#fff;}
#table .row .column.first {color:gray;}
#table .row .column.second a.jobtitle {margin-top: 17px;}

@media only screen and (max-width: 1024px) and (min-width: 769px)
{
#detail {width: 768px;}
#searcharea .searchbox {width: 363px;}
#searcharea .searchbox.large {width: 742px;padding-right: 14px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#detail {width: 568px;}
#searcharea .searchbox {width: 263px;}
#searcharea .searchbox.large {width: 546px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#detail {width: 480px;}
#searcharea .searchbox {width: 463px;}
#searcharea .searchbox.large {width: 456px;}
}
@media only screen and (max-width: 480px)
{
#detail {width: 320px;}
#searcharea .searchbox {width: 298px;}
#searcharea .searchbox.large {width: 298px;}
}