#block {float:left;margin:0px 0px 0px 0px;width:698px;padding-bottom: 10px;}
#block .content {float:left;margin: 0px 0px 0px 0px;width: 678px;padding: 0px 10px 0px 10px;}
#block .content h3 {float:left;margin:0px 0px 0px 0px;width: 658px;padding:10px;font-size: 12px;}
#block .content .row {float:left;margin:0px 0px 0px 0px;width: 658px;padding:10px;}
#block .content .row .title {float:left;margin: 0px 10px 0px 0px;width: 158px;font-weight:bold;color:#3A3A3A;}
#block .content .row .word {float:left;margin:0px 0px 0px 0px;width: 490px;color: #4D4D4D;line-height: 20px;}
#block .content .row .word a {color: #4D4D4D;}
#block .content .row .word a:hover {color: #3A3A3A;}
#block .content .row span {float:left;margin: 0px 0px 10px 0px;font-weight: normal;font-size: 11px;width: 100%;}

.addbutton {float:left;margin:0px 0px 0px 0px;width:32px;height:32px;background-image:url(../../Resim/icons/blue/addicon.png);}
.addbutton:hover {background-image:url(../../Resim/icons/blue/addiconhover.png);}
.addbutton:active {background-image:url(../../Resim/icons/blue/addiconactive.png);}
.addeditems {float:left;margin: 0px 0px 0px 0px;padding: 0px 5px 0px 0px;list-style-type: none;width: 270px;}
.addeditems li {float:left;margin: 5px 10px 5px 0px;cursor: pointer;background-color: #2188F3;border: 1px solid;padding: 5px 5px 5px 30px;color: #FFF;background-image: url(../../Resim/icons/cancel.png);background-repeat: no-repeat;background-position: 5px center;}
.addeditems li:hover {background-color: #FFF;color: #2188F3;background-image: url(../../Resim/icons/blue/cancel.png);}

.select {width: 160px;cursor:pointer;border: 1px solid #FF6000;padding: 5px;height: 20px;line-height: 20px;color: gray;overflow: hidden;float: left;margin: 0px 0px 0px 0px;background-position: 155px 10px!important;}
.select.blue {border-color: #2188F3;}
.select.green {border-color: #1BA260;}
.select.purple {border-color: #744887;}
.select img {margin: -6px 3px 0px 0px;float: right;}
.options {background-color:#FFF;position: absolute;margin: 31px 0px 0px 0px;border: 1px solid #FF6000;width: 160px;list-style: none;padding: 5px;max-height:90px;overflow-x:hidden;overflow-y: auto;}
.options.blue {border-color: #2188F3;}
.options.green {border-color: #1BA260;}
.options.purple {border-color: #744887;}
.options li {padding:5px;color:#000;cursor:pointer;}
.options li:hover {background-color:lightgray;}

.addeditems {width:100%;}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
#block {width: 766px;}
#block .content {width: 746px;}
#block .content h3 {width: 726px;}
#block .content .row {width: 726px;}
#block .content .row .title {width: 226px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#block {width: 566px;}
#block .content {width: 546px;}
#block .content h3 {width: 526px;}
#block .content .row {width: 526px;}
#block .content .row .title {width: 526px;}
#block .content .row .word {width: 526px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#block {width: 478px;}
#block .content {width: 458px;}
#block .content h3 {width: 438px;}
#block .content .row {width: 438px;}
#block .content .row .title {width: 438px;}
#block .content .row .word {width: 438px;}
}
@media only screen and (max-width: 480px)
{
#block {width: 318px;}
#block .content {width: 298px;}
#block .content h3 {width: 278px;}
#block .content .row {width: 278px;}
#block .content .row .title {width: 278px;}
#block .content .row .word {width: 278px;}
}