#addannounce {float:left;margin:0px 0px 0px 0px;width:698px;padding-bottom: 10px;}
#addannounce .content {float:left;margin: 0px 0px 0px 0px;width: 678px;padding: 0px 10px 0px 10px;}
#addannounce .content h3 {float:left;margin:0px 0px 0px 0px;width: 658px;padding:10px;font-size: 12px;}
#addannounce .content .row {float:left;margin:0px 0px 0px 0px;width: 658px;padding:10px;}
#addannounce .content .row .title {float:left;margin: 0px 10px 0px 0px;width: 158px;font-weight:bold;color:#3A3A3A;}
#addannounce .content .row .word {float:left;margin:0px 0px 0px 0px;width: 490px;color: #4D4D4D;line-height: 20px;}
#addannounce .content .row .word a {color: #4D4D4D;}
#addannounce .content .row .word a:hover {color: #3A3A3A;}
#addannounce .content .row .word label {float:left;margin: 2px 0px 0px 0px;clear: both;}

#addannounce .content.orange .row {border-color: #FF9759;}
#addannounce .content.orange h3 {background-color:#FF9759;color:#FFF;}
#addannounce .content.blue .row {border-color: #6EB1F7;}
#addannounce .content.blue h3 {background-color:#6EB1F7;color:#FFF;}
#addannounce .content.green .row {border-color: #24CB79;}
#addannounce .content.green h3 {background-color: #24CB79;color:#FFF;}
#addannounce .content.purple .row {border-color: #B791C8;}
#addannounce .content.purple h3 {background-color: #B791C8;color:#FFF;}
#addannounce .content.yellow .row {border-color: #F8D05E;}
#addannounce .content.yellow h3 {background-color: #F8D05E;color:#FFF;}

#left h2 {font-size: 16px;font-weight: normal;}

.addbutton {float:left;margin:0px 0px 0px 0px;width:32px;height:32px;background-image:url(../../Resim/icons/orange/addicon.png);}
.addbutton:hover {background-image:url(../../Resim/icons/orange/addiconhover.png);}
.addbutton:active {background-image:url(../../Resim/icons/orange/addiconactive.png);}

.addbutton.blue {background-image:url(../../Resim/icons/blue/addicon.png);}
.addbutton.blue:hover {background-image:url(../../Resim/icons/blue/addiconhover.png);}
.addbutton.blue:active {background-image:url(../../Resim/icons/blue/addiconactive.png);}

.addbutton.green {background-image:url(../../Resim/icons/green/addicon.png);}
.addbutton.green:hover {background-image:url(../../Resim/icons/green/addiconhover.png);}
.addbutton.green:active {background-image:url(../../Resim/icons/green/addiconactive.png);}

.addeditems {float:left;margin: 0px 0px 0px 0px;padding: 0px 5px 0px 0px;list-style-type: none;width: 100%;}
.addeditems li {float:left;margin: 5px 10px 5px 0px;cursor: pointer;background-color: #FF6000;border: 1px solid;padding: 5px 5px 5px 30px;
                color: #FFF;background-image: url(../../Resim/icons/cancel.png);background-repeat: no-repeat;background-position: 5px center;}
.addeditems li:hover {background-color: #FFF;color: #FF6000;background-image: url(../../Resim/icons/orange/cancel.png);}

.addeditems.green li {background-color: #1BA260;}
.addeditems.green li:hover {background-color: #FFF;color: #1BA260;background-image: url(../../Resim/icons/green/cancel.png);}

.select {width: 160px;cursor:pointer;border: 1px solid #FF6000!important;padding: 5px;height: 20px;line-height: 20px;color: gray;overflow: hidden;
         float: left;margin: 0px 0px 0px 0px;background-position: 155px 10px!important;}
.select.blue {border-color: #2188F3!important;}
.select.green {border-color: #1BA260!important;}
.select img {margin: -6px 3px 0px 0px;float: right;}
.options {background-color:#FFF;position: absolute;margin: 31px 0px 0px 0px;border: 1px solid #FF6000!important;width: 160px;list-style: none;padding: 5px;
          max-height:90px;overflow-x:hidden;overflow-y: auto;}
.options.blue {border-color: #2188F3!important;}
.options.green {border-color: #1BA260!important;}
.options li {padding:5px;color:#000;cursor:pointer;}
.options li:hover {background-color:lightgray;}

input[type=text] {padding: 5px;height: 20px;line-height: 20px;width: 160px;}
textarea {width: 100%;height: 250px;}
textarea.small {width: 100%;height: 100px;}

.button {float: right;margin: 0px -5px 0px 10px;padding: 10px;width: 120px;text-align: center;}

.row .word label.remover {float:left;margin:0px 0px 0px 0px;clear: both;}
.removecomp {background-image:url(../../Resim/icons/delete.png);background-repeat:no-repeat;float:right;margin: 3px 0px 0px 5px;width: 15px;
             height: 15px;background-size: 15px 15px;}

.tdCalendar.blue .tdmonth {margin-top:-1px;}

.questionoptions {display:none;}
#questionopttext {float:left;}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
#addannounce {width: 766px;}
#addannounce .content {width: 746px;}
#addannounce .content h3 {width: 726px;}
#addannounce .content .row {width: 726px;}
#addannounce .content .row .title {width: 226px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#addannounce {width: 566px;}
#addannounce .content {width: 546px;}
#addannounce .content h3 {width: 526px;}
#addannounce .content .row {width: 526px;}
#addannounce .content .row .title {width: 526px;}
#addannounce .content .row .word {width: 526px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#addannounce {width: 478px;}
#addannounce .content {width: 458px;}
#addannounce .content h3 {width: 438px;}
#addannounce .content .row {width: 438px;}
#addannounce .content .row .title {width: 438px;}
#addannounce .content .row .word {width: 438px;}
}
@media only screen and (max-width: 480px)
{
#addannounce {width: 318px;}
#addannounce .content {width: 298px;}
#addannounce .content h3 {width: 278px;}
#addannounce .content .row {width: 278px;}
#addannounce .content .row .title {width: 278px;}
#addannounce .content .row .word {width: 278px;}
.button {margin-bottom:5px;}
}