.frame .footer { float:left;margin: 30px 0px 0px 0px; width: 100%;border-top: 1px solid #2188F3;padding-bottom: 20px;}
.frame .footer a { color:#fff;}
.frame .footer a:hover { color:lightgray; }

#footerlinks {float:left;margin:0px 0px 0px 10px;width:660px;}
#footerlinks .footerlinks {float:left;margin:0px 0px 0px 0px;width: 165px;}
#footerlinks .footerlinks ul {float:left;margin: 20px 0px 0px 0px;width: 100%;list-style-type:none;padding:0px 0px 0px 0px;}
#footerlinks .footerlinks ul li.linkheader {float:left;margin: 0px 0px 10px 0px;width: 90%;height: 30px;line-height: 30px;border-bottom: 1px solid lightgray;font-weight: bold;color: #2188F3;list-style-type: none;}
#footerlinks .footerlinks ul li {float:left;margin: 3px 0px 3px 0px;list-style-type: square;list-style-position: inside;width: 100%;}
#footerlinks .footerlinks ul li a {margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;color: #000;text-decoration: none;}
#footerlinks .footerlinks ul li a:hover {text-decoration:underline;}

#sociallinks {float:right;margin: 0px 10px 0px 0px;width:330px;}
#sociallinks a {float:left;margin:0px 0px 0px 0px;}
#sociallinks a img {float:left;margin: 10px 10px 0px 0px;width: 100px;}
#sociallinks #infolink {float:left;margin: 20px 10px 10px 0px;color: #000;font-size: 16px;width: 100%;}
#sociallinks #infolink:hover { color:gray; }
#sociallinks #rightstext {float:left;margin: 10px 10px 10px 0px;font-size: 16px;font-weight: bold;color: #2188F3;width: 100%;}

#footermessage{float:left;margin:20px 0px 0px 10px;width:100%;text-align:center;}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
#footerlinks {width:418px;}
#footerlinks .footerlinks {width: 209px;}
#sociallinks a img {width:156px;}
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
#footerlinks {width:330px;}
#sociallinks {width:218px;margin-top: 13px;}
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
#footerlinks {width: 268px;}
#footerlinks .footerlinks {width: 130px;}
#sociallinks {width: 192px;margin-top: 13px;}
}
@media only screen and (max-width: 480px)
{
#footerlinks {width: 320px;}
#footerlinks .footerlinks {width: 160px;}
#sociallinks {float: left;text-align: center;}
#sociallinks a {float: none;}
#sociallinks a img {width: 60px;float: none;}
}