@import url("top.css");
@import url("bottom.css");

body {margin:0px 0px 0px 0px;height:100%;font-family: Verdana;color: black;font-size: 12px;}
* {outline: none;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;
   user-select: none;}
img {border: none;}
a {font-family: Verdana;font-size: 12px;color: black;text-decoration: none;cursor:pointer;}
a:hover {color: gray;}

/* Kontroller */
select {border: 1px solid lightgray;}
input[type=text] {border: 1px solid lightgray;font-family:Arial;}
input[type=text].kisa {width: 70px;}
input[type=password] {border: 1px solid lightgray;font-family:Arial;}
input[type=password].kisa {width: 70px;}
textarea {border: 1px solid lightgray;font-family:Arial;}
button {border:1px solid lightgray;cursor: pointer;}
input[type=button] {border:1px solid lightgray;cursor: pointer;}
input[type=submit] {border:1px solid lightgray;cursor: pointer;}

select.orange {border-color: #FF6600;}
input[type=text].orange {border-color: #FF6600;color:gray;}
input[type=password].orange {border-color: #FF6600;color:gray;}
textarea.orange {border-color: #FF6600;color:gray;}

button.orange {background-color:#FF6600;border-color: #FF6600;color:#fff;font-weight:bold;}
button.orange:hover {background-color:#ED9A2C;}
button.orange:active {background-color:#EFA338;}

input[type=button].orange {background-color:#FF6600;border-color: #FF6600;color:#fff;font-weight:bold;}
input[type=button].orange:hover {background-color:#ED9A2C;}
input[type=button].orange:active {background-color:#EFA338;}

input[type=submit].orange {background-color:#FF6600;border-color: #FF6600;color:#fff;font-weight:bold;}
input[type=submit].orange:hover {background-color:#ED9A2C;}
input[type=submit].orange:active {background-color:#EFA338;}

select.blue {border-color: #2188F3;}
input[type=text].blue {border-color: #2188F3;color:gray;}
input[type=password].blue {border-color: #2188F3;color:gray;}
textarea.blue {border-color: #2188F3;color:gray;}

button.blue {background-color:#2188F3;border-color: #2188F3;color:#fff;font-weight:bold;}
button.blue:hover {background-color:#4E9FF4;}
button.blue:active {background-color:#64AAF4;}

input[type=button].blue {background-color:#2188F3;border-color: #2188F3;color:#fff;font-weight:bold;}
input[type=button].blue:hover {background-color:#4E9FF4;}
input[type=button].blue:active {background-color:#64AAF4;}

input[type=submit].blue {background-color:#2188F3;border-color: #2188F3;color:#fff;font-weight:bold;}
input[type=submit].blue:hover {background-color:#4E9FF4;}
input[type=submit].blue:active {background-color:#64AAF4;}

select.green {border-color: #1BA260;}
input[type=text].green {border-color: #1BA260;color:gray;}
input[type=password].green {border-color: #1BA260;color:gray;}
textarea.green {border-color: #1BA260;color:gray;}

button.green {background-color:#1BA260;border-color: #1BA260;color:#fff;font-weight:bold;}
button.green:hover {background-color:#1EBB6E;}
button.green:active {background-color:#24CB79;}

input[type=button].green {background-color:#1BA260;border-color: #1BA260;color:#fff;font-weight:bold;}
input[type=button].green:hover {background-color:#1EBB6E;}
input[type=button].green:active {background-color:#24CB79;}

input[type=submit].green {background-color:#1BA260;border-color: #1BA260;color:#fff;font-weight:bold;}
input[type=submit].green:hover {background-color:#1EBB6E;}
input[type=submit].green:active {background-color:#24CB79;}

select.purple {border-color: #744887;}
input[type=text].purple {border-color: #744887;color:gray;}
input[type=password].purple {border-color: #744887;color:gray;}
textarea.purple {border-color: #744887;color:gray;}

button.purple {background-color:#744887;border-color: #744887;color:#fff;font-weight:bold;}
button.purple:hover {background-color:#9A5FB4;}
button.purple:active {background-color:#B791C8;}

input[type=button].purple {background-color:#744887;border-color: #744887;color:#fff;font-weight:bold;}
input[type=button].purple:hover {background-color:#9A5FB4;}
input[type=button].purple:active {background-color:#B791C8;}

input[type=submit].purple {background-color:#744887;border-color: #744887;color:#fff;font-weight:bold;}
input[type=submit].purple:hover {background-color:#9A5FB4;}
input[type=submit].purple:active {background-color:#B791C8;}

select.yellow {border-color: #F8CE0D;}
input[type=text].yellow {border-color: #F8CE0D;color:gray;}
input[type=password].yellow {border-color: #F8CE0D;color:gray;}
textarea.yellow {border-color: #F8CE0D;color:gray;}

button.yellow {background-color:#F8CE0D;border-color: #F8CE0D;color:#fff;font-weight:bold;}
button.yellow:hover {background-color:#F9D531;}
button.yellow:active {background-color:#F8D05E;}

input[type=button].yellow {background-color:#F8CE0D;border-color: #F8CE0D;color:#fff;font-weight:bold;}
input[type=button].yellow:hover {background-color:#F9D531;}
input[type=button].yellow:active {background-color:#F8D05E;}

input[type=submit].yellow {background-color:#F8CE0D;border-color: #F8CE0D;color:#fff;font-weight:bold;}
input[type=submit].yellow:hover {background-color:#F9D531;}
input[type=submit].yellow:active {background-color:#F8D05E;}

select.red {border-color: #DD0000;}
input[type=text].red {border-color: #DD0000;color:gray;}
input[type=password].red {border-color: #DD0000;color:gray;}
textarea.red {border-color: #DD0000;color:gray;}

button.red {background-color:#DD0000;border-color: #DD0000;color:#fff;font-weight:bold;}
button.red:hover {background-color:#E91A1A;}
button.red:active {background-color:#F03131;}

input[type=button].red {background-color:#DD0000;border-color: #DD0000;color:#fff;font-weight:bold;}
input[type=button].red:hover {background-color:#E91A1A;}
input[type=button].red:active {background-color:#F03131;}

input[type=submit].red {background-color:#DD0000;border-color: #DD0000;color:#fff;font-weight:bold;}
input[type=submit].red:hover {background-color:#E91A1A;}
input[type=submit].red:active {background-color:#F03131;}
/* Kontroller */

/* Linkler */
a.orange {background-color:#FF6600;border-color: #FF6600;color:#fff;font-weight:bold;}
a.orange:hover {background-color:#ED9A2C;}
a.orange:active {background-color:#EFA338;}

a.blue {background-color:#2188F3;border-color: #2188F3;color:#fff;font-weight:bold;}
a.blue:hover {background-color:#4E9FF4;}
a.blue:active {background-color:#64AAF4;}

a.green {background-color:#1BA260;border-color: #1BA260;color:#fff;font-weight:bold;}
a.green:hover {background-color:#1EBB6E;}
a.green:active {background-color:#24CB79;}

a.purple {background-color:#744887;border-color: #744887;color:#fff;font-weight:bold;}
a.purple:hover {background-color:#9A5FB4;}
a.purple:active {background-color:#B791C8;}

a.yellow {background-color:#F8CE0D;border-color: #F8CE0D;color:#fff;font-weight:bold;}
a.yellow:hover {background-color:#F9D531;}
a.yellow:active {background-color:#F8D05E;}

a.red {background-color:#DD0000;border-color: #DD0000;color:#fff;font-weight:bold;}
a.red:hover {background-color:#E91A1A;}
a.red:active {background-color:#F03131;}
/* Linkler */

/* Arka Alan */
.bgray {background-color: lightgray;}
.bgblue {background-color: #2188F3;}
.bgorange {background-color: #FF6600;}
.bgyellow {background-color: #FFC107;}
.bggreen {background-color: #1BA260;}
.bgpurple {background-color: #744887;}
.bgyellow {background-color: #F8CE0D;}
.bgred {background-color: #DD0000;}
/* Arka Alan */

.middle {margin:0px auto 0px auto;width:1010px;}
.rmargin {margin-right:30px!important;}
.lfloat {float:left;}
.rfloat {float:right;}
.lalign {text-align:left;}
.ralign {text-align:right;}
.calign {text-align:center;}
.nfloat {float:none;}
.ofhide {overflow:hidden;}
.clear {clear:both;}

.frame {float:left;margin:0px 0px 0px 0px;width:100%;border-top: 3px solid #2188F3;border-bottom: 3px solid #2188F3;}

.onecell {float:left;margin:30px 0px 0px 0px;width:1010px;}
.twocell {float:left;margin:30px 0px 0px 0px;width: 490px;}
.threecell {float:left;margin:30px 0px 0px 0px;width: 316px;}

.frame .middle .content { float:left; margin:0px 0px 0px 0px; width:1010px; }

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
.middle {width:768px;}
.onecell {width:768px;}
.twocell {width: 369px;}
.threecell {width: 369px;}
.crmargin {margin-right:0px!important;}
.hide {display:none;}
.frame .middle .content { width:768px; }
}
@media only screen and (min-width: 569px) and (max-width: 768px)
{
.middle {width:568px;}
.onecell {width:568px;}
.twocell {width: 568px;}
.threecell {width: 269px;}
.crmargin {margin-right:0px!important;}
.hide {display:none;}
.frame .middle .content { width:568px; }
}
@media only screen and (min-width: 481px) and (max-width: 568px)
{
.middle {width:480px;}
.onecell {width:480px;}
.twocell {width: 480px;}
.threecell {width: 225px;}
.crmargin {margin-right:0px!important;}
.hide {display:none;}
.frame .middle .content { width:480px; }
}
@media only screen and (max-width: 480px)
{
.middle {width:320px;}
.onecell {width:320px;}
.twocell {width: 320px;}
.threecell {width: 320px;}
.frame .middle .content { width:320px; }
}