@using TDLibrary

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>@ViewBag.Title</title>

    <base href="/Emlak/" />
</head>
<body>
    @RenderBody()

    <input id="hdnUrl" type="hidden" value="@Urling.FullURL" />

    @{ Html.RenderPartial("~/Views/Shared/Controls/_Scripts.cshtml"); }
</body>
</html>
