@using TDLibrary

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Panel</title>

    @{
        if (AppTools.User == null)
        {
            Response.Redirect(AppMgr.AdminPath);
        }
    }

    @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_Scripts.cshtml"); }
</head>
<body>
    <input id="hdnUrl" type="hidden" value="@Urling.FullURLWithParams" />

    @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_Header.cshtml"); }
    @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_LeftMenu.cshtml"); }
    @RenderBody()
    @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/Controls/_Footer.cshtml"); }
</body>
</html>
