<rac-blogheader [langs]="headerLangs" [title]="title"></rac-blogheader>
<rac-blogbreadcumbsdetail [langs]="breadcumbsLangs" [title]="title" [url]="url"></rac-blogbreadcumbsdetail>
<rac-blogitem [langs]="itemLangs" 
              [popularLangs]="popularLangs" 
              [categoriesLangs]="categoriesLangs" 
              [searchLangs]="searchLangs" 
              [callusLangs]="callusLangs" 
              [booknowLangs]="booknowLangs" 
              (titleEvnt)="title=$event" (urlEvnt)="url=$event"></rac-blogitem>