<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ceyhanpolatdbEntities" connectionString="metadata=res://*/CP.csdl|res://*/CP.ssdl|res://*/CP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ceyhanpolatdb;user id=cpuser;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ceyhanpolatdbEntities" connectionString="metadata=res://*/CP.csdl|res://*/CP.ssdl|res://*/CP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.106.211.51\MSSQLSERVER2016;initial catalog=sinasaliknet_ceyhandb;User ID=sinasaliknet_ceyhanuser;Password=1Qaz2wsx3edc*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SystemUser" value="admin" />
    <add key="MainPath" value="http://localhost/CeyhanPolat" />
    <add key="ScriptPath" value="/Scripts" />
    <add key="StylePath" value="/Content" />
    <add key="ImagePath" value="/Content/images" />
    <add key="FilePath" value="/files" />
    <add key="UploadPath" value="/Uploads" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>