<div class="widget">
    <div class="tree_widget-sec">
        <ul>
            <li><a routerLink="/IsArayan/Profil"><i class="la la-file-text"></i>Profilim</a></li>
            <li><a routerLink="/IsArayan/Ozgecmis"><i class="la la-briefcase"></i>Özgeçmişim</a></li>
            <li><a routerLink="/IsArayan/Ilan/Favori"><i class="la la-money"></i>Favori Firmalarım</a></li>
            <li><a routerLink="/IsArayan/Ilan/Basvurular"><i class="la la-paper-plane"></i>Başvurularım</a></li>
            <li><a routerLink="/IsArayan/Ilan/Alarm"><i class="la la-user"></i>İş Habercisi</a></li>
            <li><a routerLink="/IsArayan/Ozgecmis/Onyazi"><i class="la la-file-text"></i>Önyazı</a></li>
            <li><a routerLink="/IsArayan/Profil/SifreDegistir"><i class="la la-flash"></i>Şifremi Değiştir</a></li>
            <li><a href="javascript:;"><i class="la la-unlink"></i>Çıkış Yap</a></li>
        </ul>
    </div>
</div>