<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> Araç Düzenle</a></div>
	</div>
    <div class="container-fluid">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>
                <div class="editor-label">
                    Başlık
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Title" [ngModel]="model?.Title" formControlName="Title" type="text" value="{{ model?.Title }}" />
                    <br />
                    <!-- Title -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kod
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" value="{{ model?.Code }}" />
                    <br />
                    <!-- Code -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Resim
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <a href="/RentACar/Uploads/{{ model?.PictureUrl }}" target="_blank"><img [src]="['/RentACar/Uploads/thumb_' + model?.PictureUrl]" style="height:40px; max-width:80px;" /></a><br /><br />
                    <input id="PictureUrl" [ngModel]="model?.PictureUrl" formControlName="PictureUrl" type="hidden" value="{{ model?.PictureUrl }}" />
                    <input id="pictureurlTemp" type="file" name="pictureurlTemp" (change)="onPictureUrlFileSelect($event)" accept="image/*" />
                    <br />
                    <!-- PictureUrl -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Gösterim?
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Show" [ngModel]="model?.Show" formControlName="Show" type="checkbox" checked="checked" *ngIf="model?.Show" />
                    <input id="Show" [ngModel]="model?.Show" formControlName="Show" type="checkbox" *ngIf="!model?.Show" />
                    <br />
                    <!--Show-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
                    <a routerLink="/Admin/Cars" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Rezervasyonlar</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlangıç Tarihi</th>
                                    <th>Bitiş Tarihi</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.CarReservationList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.StartDate }}</td>
                                    <td>{{ item?.EndDate }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/CarReservation/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="CarReservation" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="CarReservation" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/CarReservation/Insert" class="btn btn-primary btn-add">Rezervasyon Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Test Formları</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>İsim Soyisim</th>
                                    <th>E-Posta</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.TestFormList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Name }}</td>
                                    <td>{{ item?.Mail }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/TestForm/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="TestForm" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="TestForm" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/TestForm/Insert" class="btn btn-primary btn-add">Test Formu Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Araç Resimleri</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Resim</th>
                                    <th>Başlık</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.CarPicturesList">
                                    <td>{{ item?.ID }}</td>
                                    <td><a href="/RentACar/Uploads/{{ item?.PictureUrl }}" target="_blank"><img src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" style="height:40px; max-width:80px;" /></a></td>
                                    <td>{{ item?.Title }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/CarPictures/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="CarPictures" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="CarPictures" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/CarPictures/Insert" class="btn btn-primary btn-add">Araç Resmi Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Araç Detay (Mekanik)</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Motor Hacmi</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.CarDetailsMechanicalList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.EngineCapacity }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/CarDetailsMechanical/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="CarDetailsMechanical" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="CarDetailsMechanical" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/CarDetailsMechanical/Insert" class="btn btn-primary btn-add">Araç Detay (Mekanik) Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Araç Detay (Özellik)</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ABS</th>
                                    <th>Hava Yastığı</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.CarDetailsFeaturesList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.ABS }}</td>
                                    <td>{{ item?.Airbag }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/CarDetailsFeatures/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="CarDetailsFeatures" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="CarDetailsFeatures" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/CarDetailsFeatures/Insert" class="btn btn-primary btn-add">Araç Detay (Özellik) Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-dashboard"></i></span>
                        <h5>Bağlı Araç Metinleri</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Başlık</th>
                                    <th>Kod</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.CarDescList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Title }}</td>
                                    <td>{{ item?.Code }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="updateShow"><a class="updLink" [routerLink]="['/Admin/CarDesc/Update/' + item?.ID]">Düzenle</a></li>
                                                <li *ngIf="copyShow"><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="CarDesc" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li *ngIf="deleteShow"><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="CarDesc" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks" *ngIf="insertShow">
            <a routerLink="/Admin/CarDesc/Insert" class="btn btn-primary btn-add">Araç Metni Ekle</a>
        </div>

        <input id="hdnType" type="hidden" value="Website" />
    </div>
</div>

<admin-copydelete></admin-copydelete>
