<ul id="announceadd">
    <li><a class="blue active" onclick="javascript:;" data-tab="icerik">İlan İçeriği</a></li>
    <li><a class="orange passive" onclick="javascript:;" data-tab="sart">İlan Şartları</a></li>
    <li><a class="green passive" onclick="javascript:;" data-tab="soru">İlan Soruları</a></li>
</ul>