<hr-banner [title]="'Hoşgeldiniz İş Arayan'"></hr-banner>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-candidateleftmenu></hr-candidateleftmenu>
                    <hr-candidateskill></hr-candidateskill>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <hr-candidateresumeediteducation></hr-candidateresumeediteducation>
                            <hr-candidateresumeeditexperience></hr-candidateresumeeditexperience>
                            <hr-candidateresumeeditportfolio></hr-candidateresumeeditportfolio>
                            <hr-candidateresumeeditskills></hr-candidateresumeeditskills>
                            <hr-candidateresumeeditcertificates></hr-candidateresumeeditcertificates>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>