<hr-banner [title]="'Hoşgeldiniz İş Arayan'"></hr-banner>

<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-candidateleftmenu></hr-candidateleftmenu>
                    <hr-candidateskill></hr-candidateskill>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <hr-candidateresumeeducation></hr-candidateresumeeducation>
                            <hr-candidateresumeexperience></hr-candidateresumeexperience>
                            <hr-candidateresumeportfolio></hr-candidateresumeportfolio>
                            <hr-candidateresumeskills></hr-candidateresumeskills>
                            <hr-candidateresumecertificates></hr-candidateresumecertificates>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>