<div class="frame pink bgwhite">
    <div class="mainframe">
        <div class="maincontent">
            <div class="siirresim">
                <input type="hidden" id="hdnRankID" value="{{ siir?.RankID }}" />
                <img id="imgSiir" src="{{ siir?.Picture }}" />
            </div>
            <div class="siirmetin">
                <strong>{{ siir?.PoetryName }}</strong>
                <br />
                <br />
                <span [innerHtml]="siir?.Poetry"></span>
                <br />
                <span class="datecity">
                    <strong>Tarih : </strong>
                    <span [innerHtml]="siir?.Date == undefined ? '-' : siir?.Date"></span>
                </span>
                <br />
                <span class="datecity">
                    <strong>Şehir : </strong>
                    <span [innerHtml]="siir?.City == undefined ? '-' : siir?.City"></span>
                </span>
                <br />
                <a class="showreviews" href="javascript:;">Yorumlar</a> - <a href="javascript:;" id="addreviewwithrank" class="addreview">Yorum Gönder</a><br />
            </div>


            <div class="reviews">
                <a href="javascript:;" class="closereviews">Kapat</a>
                <h2>Yorumlar</h2>
                <div class="reviewlist">
                    <div class="reviewcontainer" *ngFor="let item of siir?.Reviews">
                        <div class="reviewdate"><strong>Tarih : </strong><span [innerHtml]="item.SendDate"></span></div>
                        <div class="reviewpoint"><strong>Puan : </strong><span [innerHtml]="item.RankPoint1"></span></div>
                        <div class="reviewsender"><strong>Gönderen : </strong><span [innerHtml]="item.Sender"></span></div>
                        <div class="reviewmessage"><span [innerHtml]="item.Message"></span></div>
                        <span [innerHtml]="item.Subject"></span>
                    </div>
                    <div style="text-align:center;" *ngIf="siir?.Reviews.length <= 0">Bu şiir için henüz yorum girilmemiştir.</div>
                </div>
            </div>

            <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                <div class="sendreview">
                    <a href="javascript:;" class="closesendreview">Kapat</a>
                    <h2>Yorum Gönder</h2>
                    <input id="txtSender" type="text" formControlName="adsoyad" placeholder="Adınız Soyadınız" />
                    <br />
                    <input id="txtPoint" type="text" formControlName="puan" placeholder="Puan (Maks. 5 Puan)" />
                    <br />
                    <textarea id="txtMessage" rows="1" cols="1" formControlName="mesaj" placeholder="Mesajınız..."></textarea>
                    <br />
                    <button type="submit" [disabled]="!reviewForm.valid">Gönder</button>
                </div>
            </form>

        </div>
    </div>
</div>
