@using TDLibrary

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="keywords" content="sina salik,sinasalik,Sina Salik,sina salık,sinasalık,Sina Salık,sina salik,sinasalık,sinasalik,sina,salik,www.sinasalik.net,sinasalik.net" />
    <meta name="description" content="Sina SALIK Web Sitesi" />
    <meta name="author" content="Sina Salık" />
    <title>@ViewBag.Title</title>

    <base href="/SinaSalik/" />

    @{ Html.RenderPartial("~/Views/Shared/Controls/_Scripts.cshtml"); }

</head>
<body>
    @RenderBody()
</body>
</html>
