<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-dashboard"></i> CarFeatsMake Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					MakeName
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="MakeName" [ngModel]="model?.MakeName" formControlName="MakeName" type="text" />
					<br />
					<!-- MakeName -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					PictureUrl
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="PictureUrl" [ngModel]="model?.PictureUrl" formControlName="PictureUrl" type="file" name="pictureurlTemp" (change)="onPictureUrlFileSelect($event)" accept="image/*" />
					<br />
					<!-- PictureUrl -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/CarFeatsMake" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
