<hr-banner [title]="'Hoşgeldiniz İş Veren'"></hr-banner>

<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <hr-employerleftmenu></hr-employerleftmenu>

                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>Ödemeler</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Paket No</td>
                                        <td>Paket</td>
                                        <td>Ödeme Tarihi</td>
                                        <td>Ödeme Tipi</td>
                                        <td>Miktar</td>
                                        <td>Durum</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Altın Paket</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>11.04.2017</span>
                                        </td>
                                        <td>
                                            <span>Havale</span>
                                        </td>
                                        <td>
                                            <span class="status active">99 TL</span>
                                        </td>
                                        <td>
                                            <span>Bekliyor</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Altın Paket</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>11.04.2017</span>
                                        </td>
                                        <td>
                                            <span>Havale</span>
                                        </td>
                                        <td>
                                            <span class="status active">99 TL</span>
                                        </td>
                                        <td>
                                            <span>Bekliyor</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Altın Paket</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>11.04.2017</span>
                                        </td>
                                        <td>
                                            <span>Havale</span>
                                        </td>
                                        <td>
                                            <span class="status active">99 TL</span>
                                        </td>
                                        <td>
                                            <span>Bekliyor</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>221319456</span>
                                        </td>
                                        <td>
                                            <div class="table-list-title">
                                                <h3><a href="#" title="">Altın Paket</a></h3>
                                            </div>
                                        </td>
                                        <td>
                                            <span>11.04.2017</span>
                                        </td>
                                        <td>
                                            <span>Havale</span>
                                        </td>
                                        <td>
                                            <span class="status active">99 TL</span>
                                        </td>
                                        <td>
                                            <span>Bekliyor</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>