<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-edit"></i> İçerik (Dil) Düzenle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="duzenleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>

                <div class="editor-label">
                    Bağlı İçerik
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="ContID" [ngModel]="model?.ContID" formControlName="ContID"><option *ngFor="let item of model?.ContentList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--ContID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Dil
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="TransID" [ngModel]="model?.TransID" formControlName="TransID"><option *ngFor="let item of model?.TranslationList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!--TransID-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    İçerik Adı
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ContentName" [ngModel]="model?.ContentName" formControlName="ContentName" type="text" value="{{ model?.ContentName }}" />
                    <br />
                    <!--ContentName-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kısa Yazı 1
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ShortText1" [ngModel]="model?.ShortText1" formControlName="ShortText1" type="text" value="{{ model?.ShortText1 }}" />
                    <br />
                    <!--ShortText1-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Kısa Yazı 2
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="ShortText2" [ngModel]="model?.ShortText2" formControlName="ShortText2" type="text" value="{{ model?.ShortText2 }}" />
                    <br />
                    <!--ShortText2-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Açıklama
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <textarea id="Description" [ngModel]="model?.Description" formControlName="Description">{{ model?.Description }}</textarea>
                    <br />
                    <!--Description-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!duzenleForm.valid" />
                    <a routerLink="/Admin/IcerikDil" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>