<!--b-best-->
<section class="b-best">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="b-best__info">
                    <header class="s-lineDownLeft b-best__info-head">
                        <h2 class="wow zoomInUp" data-wow-delay="0.5s">{{ best?.ShortDescription }}</h2>
                    </header>
                    <h6 class="wow zoomInUp" data-wow-delay="0.5s">{{ best?.ShortDescription2 }}</h6>
                    <p class="wow zoomInUp" data-wow-delay="0.5s">{{ best?.Description }}</p>
                    <a routerLink="/List" class="btn m-btn m-readMore wow zoomInUp" data-wow-delay="0.5s">{{ gotolist }}<span class="fa fa-angle-right"></span></a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img class="img-responsive center-block wow zoomInUp" data-wow-delay="0.5s" alt="best" src="/RentACar/Uploads/{{ picbest }}" />
            </div>
        </div>
    </div>
</section>
<!--b-best-->