<!--b-more-->
<section class="b-more">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="b-more__why wow zoomInLeft" data-wow-delay="0.5s">
                    <h2 class="s-title">{{ langs?.why.ShortDescription }}</h2>
                    <p>{{ langs?.why.Description }}</p>
                    <div [innerHTML]="why?.Description2"></div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="b-more__info wow zoomInRight" data-wow-delay="0.5s">
                    <h2 class="s-title">{{ langs?.info }}</h2>

                    <div class="b-more__info-block" *ngFor="let item of langs?.moreList">
                        <div class="b-more__info-block-title">{{ item?.ShortDescription }}<a class="j-more" href="javascript:;"><span class="fa fa-angle-left"></span></a></div>
                        <div class="b-more__info-block-inside j-inside">
                            <p>
                                {{ item?.Description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-more-->