<!--b-more-->
<section class="b-more">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="b-more__why wow zoomInLeft" data-wow-delay="0.5s">
                    <h2 class="s-title"><!--WHY CHOOSE US-->NEDEN BİZİ SEÇMELİSİNİZ?</h2>
                    <p>Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus etyd nunc. Nunc consequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet sed consectetur adipisicing elit sed do eiusmod.</p>
                    <ul class="s-list">
                        <li><span class="fa fa-check"></span>Donec facilisis velit eu est phasellus consequat quis nostrud</li>
                        <li><span class="fa fa-check"></span>Aenean vitae quam. Vivamus et nunc nunc conseq</li>
                        <li><span class="fa fa-check"></span>Sem vel metus imperdiet lacinia enean </li>
                        <li><span class="fa fa-check"></span>Dapibus aliquam augue fusce eleifend quisque tels</li>
                        <li><span class="fa fa-check"></span>Lorem ipsum dolor sit amet, consectetur </li>
                        <li><span class="fa fa-check"></span>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Magna </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="b-more__info wow zoomInRight" data-wow-delay="0.5s">
                    <h2 class="s-title"><!--MORE INFO-->DAHA FAZLA BİLGİ</h2>
                    <div class="b-more__info-block">
                        <div class="b-more__info-block-title"><!--Fair Price for Everyone-->Herkes İçin Uygun Fiyatlar<a class="j-more" href="javascript:;"><span class="fa fa-angle-left"></span></a></div>
                        <div class="b-more__info-block-inside j-inside">
                            <p>
                                Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                                etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                    <div class="b-more__info-block">
                        <div class="b-more__info-block-title"><!--Large Number of Vehicles-->Çok Sayıda Araç Çeşitliliği<a href="javascript:;" class="j-more"><span class="fa fa-angle-left"></span></a></div>
                        <div class="b-more__info-block-inside j-inside">
                            <p>
                                Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                                etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                    <div class="b-more__info-block">
                        <div class="b-more__info-block-title"><!--Auto Loan Available-->Kiralama Seçeneği<a href="javascript:;" class="j-more"><span class="fa fa-angle-left"></span></a></div>
                        <div class="b-more__info-block-inside j-inside">
                            <p>
                                Curabitur libero. Donec facilisis velit est. Phasellus consquat. Aenean vitae quam. Vivam
                                etl nunc. Nunc con sequsem velde metus imperdiet lacinia. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-more-->