<!--b-what-->
<section class="b-what s-shadow m-home">
    <div class="container">
        <h3 class="s-titleBg wow zoomInUp" data-wow-delay="0.5s">{{ langs?.whathead?.ShortDescription }}</h3><br />
        <h2 class="s-title wow zoomInUp" data-wow-delay="0.5s">{{ langs?.whathead?.ShortDescription2 }}</h2>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInLeft" data-wow-delay="0.5s">
                    <img class="img-responsive" src="/RentACar/Uploads/{{ picwhatprice }}" alt="wolks" />
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">{{ langs?.whatprice?.ShortDescription }}</span>
                    </div>
                    <h2>{{ langs?.whatprice?.ShortDescription2 }}</h2>
                    <p>
                        {{ langs?.whatprice?.Description }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInUp" data-wow-delay="0.5s">
                    <img class="img-responsive" src="/RentACar/Uploads/{{ picwhatfleet }}" alt="mazda" />
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">{{ langs?.whatfleet?.ShortDescription }}</span>
                    </div>
                    <h2>{{ langs?.whatfleet?.ShortDescription2 }}</h2>
                    <p>
                        {{ langs?.whatfleet?.Description }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInRight" data-wow-delay="0.5s">
                    <img class="img-responsive" src="/RentACar/Uploads/{{ picwhatsafety }}" alt="chevrolet" />
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">{{ langs?.whatsafety?.ShortDescription }}</span>
                    </div>
                    <h2>{{ langs?.whatsafety?.ShortDescription2 }}</h2>
                    <p>
                        {{ langs?.whatsafety?.Description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--b-what-->