<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a class="tip-bottom"><i class="icon-pushpin"></i> Tip Ekle</a></div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="ekleForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    Tip İsmi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="TypeName" [ngModel]="model?.TypeName" formControlName="TypeName" type="text" />
                    <!--TypeName-->
                </div>
                <div class="clear"></div>


                <div class="editor-label">
                    Bağlantı Linki
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Url" [ngModel]="model?.Url" formControlName="Url" type="text" />
                    <!--Url-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Tablo İsmi
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="TableName" [ngModel]="model?.TableName" formControlName="TableName" type="text" />
                    <!--TableName-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Bağlanabilirlik
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Linkable" [ngModel]="model?.Linkable" formControlName="Linkable" type="checkbox" />
                    <!--Linkable-->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Göster
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Show" [ngModel]="model?.Show" formControlName="Show" type="checkbox" />
                    <!--Show-->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!ekleForm.valid" />
                    <a routerLink="/Admin/Tipler" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>
    </div>
</div>