<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-book"></i> Blog Düzenle</a></div>
	</div>
    <div class="container-fluid">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <fieldset>
                <div class="editor-label">
                    <input id="ID" [ngModel]="model?.ID" formControlName="ID" type="hidden" value="{{ model?.ID }}" />
                </div>
                <div class="editor-label">
                    Bağlı BlogCategory
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="BlogCatID" [ngModel]="model?.BlogCatID" formControlName="BlogCatID"><option *ngFor="let item of model?.BlogCategoryList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!-- BlogCatID -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Title
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Title" [ngModel]="model?.Title" formControlName="Title" type="text" value="{{ model?.Title }}" />
                    <br />
                    <!-- Title -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Code
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Code" [ngModel]="model?.Code" formControlName="Code" type="text" value="{{ model?.Code }}" />
                    <br />
                    <!-- Code -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Gönderen
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <select id="Sender" [ngModel]="model?.Sender" formControlName="Sender"><option *ngFor="let item of model?.WorkersList" selected="{{ item?.Selected ? 'selected' : '' }}" value="{{ item?.Value }}">{{ item?.Text }}</option></select>
                    <br />
                    <!-- Sender -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    PictureUrl
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <a href="/RentACar/Uploads/{{ model?.PictureUrl }}" target="_blank"><img [src]="['/RentACar/Uploads/thumb_' + model?.PictureUrl]" style="height:40px; max-width:80px;" /></a><br /><br />
                    <input id="PictureUrl" [ngModel]="model?.PictureUrl" formControlName="PictureUrl" type="hidden" value="{{ model?.PictureUrl }}" />
                    <input id="picTemp" type="file" name="picTemp" (change)="onFileSelect($event)" accept="image/*" />
                    <br />
                    <!-- PictureUrl -->
                </div>
                <div class="clear"></div>

                <div class="editor-label">
                    Tags
                </div>
                <div class="clear"></div>
                <div class="editor-field">
                    <input id="Tags" [ngModel]="model?.Tags" formControlName="Tags" type="text" value="{{ model?.Tags }}" />
                    <br />
                    <!-- Tags -->
                </div>
                <div class="clear"></div>

                <p>
                    <div class="alert alert-error">
                        <strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
                    </div>

                    <input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!updateForm.valid" />
                    <a routerLink="/Admin/Blog" class="btn btn-danger btn-cancel">İptal</a>
            </fieldset>
        </form>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-book"></i></span>
                        <h5>Bağlı BlogT</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.BlogTList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Title }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" [routerLink]="['/Admin/BlogT/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="BlogT" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="BlogT" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/BlogT/Insert/' + model?.ID" class="btn btn-primary btn-add">BlogT Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-book"></i></span>
                        <h5>Bağlı BlogComments</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Sender</th>
                                    <th>Mail</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.BlogCommentsList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.Sender }}</td>
                                    <td>{{ item?.Mail }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" [routerLink]="['/Admin/BlogComments/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="BlogComments" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="BlogComments" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/BlogComments/Insert/' + model?.ID" class="btn btn-primary btn-add">BlogComments Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-book"></i></span>
                        <h5>Bağlı BlogPictures</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>PictureUrl</th>
                                    <th>Code</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.BlogPicturesList">
                                    <td>{{ item?.ID }}</td>
                                    <td><a href="/RentACar/Uploads/{{ item?.PictureUrl }}" target="_blank"><img src="/RentACar/Uploads/thumb_{{ item?.PictureUrl }}" style="height:40px; max-width:80px;" /></a></td>
                                    <td>{{ item?.Code }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" [routerLink]="['/Admin/BlogPictures/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="BlogPictures" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="BlogPictures" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/BlogPictures/Insert/' + model?.ID" class="btn btn-primary btn-add">BlogPictures Ekle</a>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-book"></i></span>
                        <h5>Bağlı BlogVideos</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>VideoUrl</th>
                                    <th>Code</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model?.BlogVideosList">
                                    <td>{{ item?.ID }}</td>
                                    <td>{{ item?.VideoUrl }}</td>
                                    <td>{{ item?.Code }}</td>
                                    <td style="text-align:center;">
                                        <div class="btn-group" style="text-align:left;">
                                            <button data-toggle="dropdown" class="btn btn-mini btn-primary dropdown-toggle">İşlem <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="updLink" [routerLink]="['/Admin/BlogVideos/Update/' + item?.ID]">Düzenle</a></li>
                                                <li><a class="cpyLink" href="#cpyData" data-toggle="modal" data-controller="BlogVideos" [attr.data-id]="item?.ID">Kopyala</a></li>
                                                <li><a class="dltLink" href="#dltData" data-toggle="modal" data-controller="BlogVideos" [attr.data-id]="item?.ID">Sil</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagelinks">
            <a routerLink="/Admin/BlogVideos/Insert/' + model?.ID" class="btn btn-primary btn-add">BlogVideos Ekle</a>
        </div>
    </div>
</div>

<admin-copydelete></admin-copydelete>
