<div class="cerceve">
    <div class="ust">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li><a [routerLink]="['Giris']">Ana Sayfa</a></li>
                <li><a onclick="favoriekle('Sina SALIK Web Sayfası', 'http://www.sinasalik.net/')">Sık Kullanılanlara Ekle</a></li>
            </ul>
        </div>
    </div>
    <div class="sol">
        <div class="menu">
            <ul>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Giris']" class="kareli">Ana Sayfa</a></li>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Sudoku']">Sudoku</a></li>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Puzzle']">Puzzle</a></li>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['VarYok']">Var Yok</a></li>
                <!--<li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['GitarMod']">Gitar Mod</a></li>-->
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Galeri']">Galeri</a></li>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Video']">Video</a></li>
                <li><a (click)="onClick($event)" (mouseover)="onOver($event)" (mouseleave)="onLeave($event)" [routerLink]="['Iletisim']">İletişim</a></li>
            </ul>
        </div>
    </div>
    <div class="ana">
        <router-outlet></router-outlet>
    </div>
</div>
